Repository keptn/lifecycle-toolkit, pull requests merged in 2023-09, with the labels that each got.

#1906 docs: contribution guidelines
  docs/CONTRIBUTING.md
  docs/content/en/contribute/docs/contrib-guidelines-docs/_index.md
  docs/content/en/contribute/docs/local-building/_index.md
  docs/content/en/contribute/general/contrib-guidelines-gen/_index.md
Labels: documentation

#1977 docs: how to use GitHub Codespaces to contribute to Keptn
  docs/content/en/contribute/general/codespace/_index.md
Labels: documentation

#1950 docs: add info to implementing/tasks about sequential execution
  docs/content/en/docs/implementing/tasks/_index.md
Labels: documentation

#2016 docs: implement KLT -> Keptn name change for tasks page
  docs/content/en/docs/implementing/tasks/_index.md
Labels: documentation

#1965 feat(lifecycle-operator): clean up KeptnTask API by removing duplicated attributes
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  helm/chart/templates/keptntask-crd.yaml
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnappversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntask_conversion.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntask_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntask_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_types.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  lifecycle-operator/config/samples/function_execution/task_schedule.yaml
  lifecycle-operator/config/samples/function_execution/task_slack.yaml
  lifecycle-operator/controllers/common/helperfunctions_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/runtime_builder.go
  lifecycle-operator/controllers/lifecycle/keptntask/runtime_builder_test.go
  lifecycle-operator/test/component/task/task_test.go
  test/integration/api-conversion/01-assert.yaml
  test/integration/api-conversion/01-install.yaml
  test/integration/app-failing-pre-task-retry/00-assert.yaml
  test/integration/app-failing-pre-task-timeout/00-assert.yaml
  test/integration/app-one-taskdefinition-not-found/00-assert.yaml
Labels: documentation, helm, lifecycle-operator

#2027 revert: chore(main): release lifecycle-operator-and-scheduler libraries
  .release-please-manifest.json
  lifecycle-operator/CHANGELOG.md
  lifecycle-operator/Makefile
  scheduler/CHANGELOG.md
  scheduler/Makefile
Labels: documentation, scheduler, lifecycle-operator

#2029 ci: fix release matrix again and again and again
  .github/workflows/release.yml
  release-please-config.json
Labels: ops

#2034 ci: fix release matrix again again again again
  .github/workflows/release.yml
Labels: ops

#2036 revert: revert "chore: release scheduler 0.8.2"
  .release-please-manifest.json
  scheduler/CHANGELOG.md
  scheduler/Makefile
Labels: documentation, scheduler

#2041 docs: fix branding homepage
  docs/assets/scss/_variables_project.scss
  docs/content/en/_index.md
Labels: documentation

#2035 ci: fix release matrix again again again again again
  .github/workflows/release.yml
Labels: ops

#2040 docs: improve "Intro to Keptn" page
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/intro/_index.md
Labels: documentation

#2023 feat(metrics-operator): support combination of OR criteria in SLO converter
  metrics-operator/converter/sli_converter.go
  metrics-operator/converter/slo_converter.go
  metrics-operator/converter/slo_converter_test.go
  metrics-operator/main.go
Labels: metrics-operator

#2048 deps: update keptn components to v0.8.2
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  helm/chart/README.md
  helm/chart/values.yaml
Labels: documentation, helm

#1802 feat: aggregation functions support for metrics controller
  metrics-operator/controllers/common/aggregation/aggregation.go
  metrics-operator/controllers/common/providers/fake/provider_mock.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/controllers/metrics/controller.go
  metrics-operator/controllers/metrics/controller_test.go
Labels: metrics-operator

#2052 docs: fix xref to cert-manager page
  docs/content/en/docs/concepts/architecture/cert-manager.md
Labels: documentation

#2058 docs: improve getting started guide
  docs/content/en/docs/getting-started/_index.md
  release-please-config.json
Labels: documentation

#2057 docs: move "Architecture" section to top level
  docs/content/en/docs/architecture/_index.md
  docs/content/en/docs/architecture/cert-manager.md
  docs/content/en/docs/architecture/components/_index.md
  docs/content/en/docs/architecture/components/lifecycle-operator/_index.md
  docs/content/en/docs/architecture/components/metrics-operator/_index.md
  docs/content/en/docs/architecture/components/scheduler/_index.md
  docs/content/en/docs/architecture/deployment-flow.md
  docs/content/en/docs/architecture/keptn-apps/_index.md
  docs/content/en/docs/architecture/working/_index.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/intro/usecase_metrics.md
  docs/content/en/docs/migrate/strategy/_index.md
  docs/content/en/docs/operate/cert-manager.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#2063 docs: remove "Migration pages" that are no longer scheduled
  docs/content/en/docs/migrate/_index.md
  docs/content/en/docs/migrate/cicd/_index.md
  docs/content/en/docs/migrate/day2/_index.md
  docs/content/en/docs/migrate/evaluations/_index.md
  docs/content/en/docs/migrate/jes/_index.md
  docs/content/en/docs/migrate/metrics-observe/_index.md
Labels: documentation

#2071 fix: add 404 page to the docs
  docs/content/404/_index.md
  docs/content/en/404/_index.md
  netlify.toml
Labels: documentation, ops

#2074 chore: regenerate CRDs
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  metrics-operator/controllers/analysis/fake/analysispool_mock.go
  metrics-operator/controllers/common/providers/fake/provider_mock.go
Labels: metrics-operator, lifecycle-operator

#2013 docs(metrics-operator): usage of SLI and SLO converters
  metrics-operator/converter/sli_converter.md
  metrics-operator/converter/slo_converter.md
  release-please-config.json
Labels: documentation, metrics-operator

#2077 ci: fix Netlify toml configuration
  netlify.toml
Labels: ops

#2089 docs: move tasks-non-k8s-apps to implementing from tutorials
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
Labels: documentation

#2062 chore(metrics-operator): inject ProviderFactory into KeptnMetric reconciler
  metrics-operator/controllers/common/providers/fake/provider_mock.go
  metrics-operator/controllers/metrics/controller.go
  metrics-operator/controllers/metrics/controller_test.go
  metrics-operator/main.go
Labels: metrics-operator

#2092 fix(metrics-operator): fix log message for AnalysisDefinition lookup
  metrics-operator/controllers/analysis/controller.go
Labels: metrics-operator

#2078 feat(metrics-operator): remove omitempty tags to get complete representation of AnalysisResult
  metrics-operator/controllers/analysis/controller_test.go
  metrics-operator/controllers/common/analysis/types/types.go
  test/integration/analysis-controller/01-assert.yaml
Labels: metrics-operator

#2004 fix: update kustomization.yaml to avoid usage of deprecated patches/configs
  klt-cert-manager/config/default/kustomization.yaml
  lifecycle-operator/config/crd/kustomization.yaml
  lifecycle-operator/config/default/kustomization.yaml
  metrics-operator/config/crd/kustomization.yaml
  metrics-operator/config/default/kustomization.yaml
Labels: metrics-operator, cert-manager, lifecycle-operator

#2123 fix: update outdated CRDs in helm chart templates
  .github/scripts/.helm-tests/default/result.yaml
  helm/chart/templates/analysis-crd.yaml
  helm/chart/templates/analysisdefinition-crd.yaml
  helm/chart/templates/analysisvaluetemplate-crd.yaml
  helm/chart/templates/keptnapp-crd.yaml
  helm/chart/templates/keptnappcreationrequest-crd.yaml
  helm/chart/templates/keptnappversion-crd.yaml
  helm/chart/templates/keptnconfig-crd.yaml
  helm/chart/templates/keptnevaluation-crd.yaml
  helm/chart/templates/keptnevaluationdefinition-crd.yaml
  helm/chart/templates/keptnevaluationprovider-crd.yaml
  helm/chart/templates/keptnmetric-crd.yaml
  helm/chart/templates/keptnmetricsprovider-crd.yaml
  helm/chart/templates/keptntask-crd.yaml
  helm/chart/templates/keptntaskdefinition-crd.yaml
  helm/chart/templates/keptnworkload-crd.yaml
  helm/chart/templates/keptnworkloadinstance-crd.yaml
  lifecycle-operator/apis/lifecycle/v1alpha1/zz_generated.deepcopy.go
  lifecycle-operator/apis/lifecycle/v1alpha2/zz_generated.deepcopy.go
  lifecycle-operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  lifecycle-operator/apis/options/v1alpha1/zz_generated.deepcopy.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcreationrequests.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationproviders.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  metrics-operator/api/v1alpha1/zz_generated.deepcopy.go
  metrics-operator/api/v1alpha2/zz_generated.deepcopy.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisdefinitions.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisvaluetemplates.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
Labels: metrics-operator, helm, lifecycle-operator

#2105 chore(metrics-operator): refactor fetching resouce namespaces during analysis
  metrics-operator/api/v1alpha3/common.go
  metrics-operator/api/v1alpha3/common_test.go
  metrics-operator/controllers/analysis/controller.go
  metrics-operator/controllers/analysis/controller_test.go
  metrics-operator/controllers/analysis/provider_selector.go
  metrics-operator/controllers/analysis/provider_selector_test.go
  metrics-operator/controllers/common/analysis/objective_evaluator.go
  metrics-operator/main.go
  test/integration/analysis-controller/00-teststep-template.yaml
  test/integration/analysis-controller/install.yaml
  test/integration/analysis-controller/mock-server.yaml
Labels: metrics-operator

#2122 fix(metrics-operator): flush status when analysis is finished
  metrics-operator/controllers/analysis/controller.go
  metrics-operator/controllers/analysis/controller_test.go
  test/integration/analysis-controller-existing-status/00-assert.yaml
  test/integration/analysis-controller-existing-status/00-install.yaml
  test/integration/analysis-controller-existing-status/01-assert.yaml
  test/integration/analysis-controller-existing-status/01-install.yaml
  test/integration/analysis-controller-existing-status/02-namespacedelete.yaml
Labels: metrics-operator

#2124 docs: adapt KeptnTask example to changes in API
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  lifecycle-operator/config/samples/function_execution/task_schedule.yaml
  lifecycle-operator/config/samples/function_execution/task_slack.yaml
Labels: documentation, lifecycle-operator

#1701 chore: update k8s version
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  helm/chart/templates/keptntaskdefinition-crd.yaml
  klt-cert-manager/go.mod
  klt-cert-manager/go.sum
  klt-cert-manager/main.go
  klt-cert-manager/pkg/certificates/watcher_test.go
  klt-cert-manager/pkg/fake/manager_mock.go
  klt-cert-manager/pkg/fake/webhookmanager_mock.go
  klt-cert-manager/pkg/webhook/builder.go
  klt-cert-manager/pkg/webhook/builder_test.go
  klt-cert-manager/pkg/webhook/manager.go
  klt-cert-manager/pkg/webhook/manager_test.go
  lifecycle-operator/Makefile
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook_test.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/controllers/common/fake/fakeclient.go
  lifecycle-operator/controllers/common/test_utils.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadinstance/controller_test.go
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  lifecycle-operator/main.go
  lifecycle-operator/test/component/task/task_test.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
  metrics-operator/Makefile
  metrics-operator/api/v1alpha3/analysisdefinition_webhook.go
  metrics-operator/api/v1alpha3/analysisdefinition_webhook_test.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook_test.go
  metrics-operator/controllers/common/fake/fakeclient.go
  metrics-operator/go.mod
  metrics-operator/go.sum
  metrics-operator/main.go
Labels: documentation, ops, metrics-operator, cert-manager, helm, lifecycle-operator

#2119 fix(metrics-operator): fix panic due to write attempt on closed channel
  metrics-operator/controllers/analysis/objectives_evaluator_test.go
  metrics-operator/controllers/analysis/provider_selector.go
  metrics-operator/controllers/analysis/worker_pool.go
  metrics-operator/controllers/analysis/worker_pool_test.go
  metrics-operator/controllers/common/analysis/types/types.go
  test/integration/analysis-controller-multiple-providers/00-teststep-template.yaml
  test/integration/analysis-controller-multiple-providers/01-assert.yaml
  test/integration/analysis-controller-multiple-providers/install.yaml
  test/integration/analysis-controller-multiple-providers/mock-server.yaml
Labels: metrics-operator

#1896 docs: add better instructions for OTel example
  docs/content/en/docs/implementing/otel.md
Labels: documentation

#2125 fix(metrics-operator): convert SLI names to valid K8s resource names
  metrics-operator/converter/common.go
  metrics-operator/converter/common_test.go
  metrics-operator/converter/sli_converter.go
  metrics-operator/converter/sli_converter_test.go
  metrics-operator/converter/slo_converter.go
  metrics-operator/converter/slo_converter_test.go
Labels: metrics-operator

#1942 chore: remove generation of KLT manifest releases
  .github/workflows/CI.yaml
  docs/content/en/docs/install/install.md
Labels: documentation, ops

#2095 docs: how to embed a file in docs
  docs/content/en/contribute/docs/contrib-guidelines-docs/_index.md
Labels: documentation

#2072 chore: adapt Makefile command to run unit tests
  .github/workflows/CI.yaml
  klt-cert-manager/Makefile
  lifecycle-operator/Makefile
  metrics-operator/Makefile
  scheduler/Makefile
Labels: ops, scheduler, metrics-operator, cert-manager, lifecycle-operator

#2061 fix(metrics-operator): introduce `.status.state` in Analysis
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/analysis-crd.yaml
  metrics-operator/api/v1alpha3/analysis_types.go
  metrics-operator/api/v1alpha3/common.go
  metrics-operator/api/v1alpha3/common_test.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/controllers/analysis/controller.go
  metrics-operator/controllers/analysis/controller_test.go
  metrics-operator/controllers/analysis/worker_pool_test.go
  test/integration/analysis-controller/01-assert.yaml
Labels: documentation, metrics-operator, helm

#1900 feat: update `KeptnMetric` to store multiple metrics in status
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/keptnmetric-crd.yaml
  metrics-operator/api/v1alpha3/keptnmetric_types.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/controllers/metrics/controller_test.go
Labels: documentation, metrics-operator, helm

#2146 chore: hide unused KeptnEvaluationProvider from the crd docs
  .github/scripts/generate-crd-docs/crd-docs-generator-config.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha1/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha2/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
Labels: documentation, ops

#2137 feat(metrics-operator): expose analysis results as Prometheus Metric
  metrics-operator/controllers/analysis/controller.go
  metrics-operator/controllers/analysis/controller_test.go
  metrics-operator/controllers/common/analysis/objective_evaluator.go
  metrics-operator/controllers/common/analysis/objective_evaluator_test.go
  metrics-operator/controllers/common/analysis/types/types.go
  metrics-operator/main.go
  metrics-operator/pkg/metrics/analysis/results.go
  metrics-operator/pkg/metrics/analysis/results_test.go
  metrics-operator/pkg/metrics/server.go
  test/integration/analysis-controller-existing-status/01-assert.yaml
  test/integration/analysis-controller-multiple-providers/01-assert.yaml
  test/integration/analysis-controller/01-assert.yaml
Labels: metrics-operator

#2145 docs: correct link to Helm CLI installation info
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/install/k8s.md
Labels: bug, documentation

#2148 docs: remove yaml-crd-ref/evaluationprovider.md
  docs/content/en/docs/yaml-crd-ref/evaluationprovider.md
Labels: documentation, chore

#2141 fix(lifecycle-operator): remove hardcoded keptn namespace
  klt-cert-manager/main.go
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/config_test.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/common/helperfunctions.go
  lifecycle-operator/controllers/common/helperfunctions_test.go
  lifecycle-operator/controllers/common/providers/keptnmetric/keptnmetric.go
  lifecycle-operator/controllers/common/providers/keptnmetric/keptnmetric_test.go
  lifecycle-operator/controllers/common/taskhandler_test.go
  lifecycle-operator/controllers/lifecycle/keptnappcreationrequest/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
  lifecycle-operator/test/component/evaluation/evaluation_suite_test.go
  lifecycle-operator/test/component/evaluation/evaluation_test.go
  lifecycle-operator/test/component/task/task_suite_test.go
  lifecycle-operator/test/component/task/task_test.go
  lifecycle-operator/test/component/workloadinstance/workloadinstance_suite_test.go
  metrics-operator/cmd/metrics/adapter/adapter.go
  metrics-operator/cmd/metrics/adapter/provider/provider.go
  metrics-operator/cmd/metrics/adapter/provider/provider_test.go
  metrics-operator/main.go
Labels: metrics-operator, cert-manager, lifecycle-operator

#2003 docs: update contribution guideline link in PR template
  .github/PULL_REQUEST_TEMPLATE/pr-template.md
Labels: ops

#2140 feat(lifecycle-operator): introduce functions for SchedulingGates functionality
  lifecycle-operator/apis/lifecycle/v1alpha3/common/common.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnapp_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnworkload_types.go
  lifecycle-operator/config/rbac/role.yaml
  lifecycle-operator/controllers/common/fake/schedulinggateshandler_mock.go
  lifecycle-operator/controllers/common/schedulinggateshandler.go
  lifecycle-operator/controllers/common/schedulinggateshandler_test.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_workloadsstate.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadinstance/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadinstance/controller_test.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/workloadinstance/workloadinstance_suite_test.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: lifecycle-operator

#2174 ci: add conditional to build matrix during releases to not build all the time
  .github/workflows/release.yml
Labels: ops

#2173 fix(metrics-operator): add missing AnalysisDefinition validation webhook to helm templates
  .github/scripts/.helm-tests/default/result.yaml
  Makefile
  helm/chart/templates/metrics-validating-webhook-configuration.yaml
  test/testanalysis/analysis-controller-existing-status/00-assert.yaml
  test/testanalysis/analysis-controller-existing-status/00-install.yaml
  test/testanalysis/analysis-controller-existing-status/01-assert.yaml
  test/testanalysis/analysis-controller-existing-status/01-install.yaml
  test/testanalysis/analysis-controller-existing-status/02-namespacedelete.yaml
  test/testanalysis/analysis-controller-multiple-providers/00-teststep-template.yaml
  test/testanalysis/analysis-controller-multiple-providers/01-assert.yaml
  test/testanalysis/analysis-controller-multiple-providers/install.yaml
  test/testanalysis/analysis-controller-multiple-providers/mock-server.yaml
  test/testanalysis/analysis-controller/00-teststep-template.yaml
  test/testanalysis/analysis-controller/01-assert.yaml
  test/testanalysis/analysis-controller/install.yaml
  test/testanalysis/analysis-controller/mock-server.yaml
  test/testanalysis/analysis-value-template/00-assert.yaml
  test/testanalysis/analysis-value-template/00-install.yaml
  test/testanalysis/analysis/00-assert.yaml
  test/testanalysis/analysis/00-install.yaml
  test/testanalysis/analysisdefinition-validate/00-teststep-install.yaml
  test/testanalysis/analysisdefinition-validate/01-teststep-assert.yaml
  test/testanalysis/analysisdefinition-validate/badanalysis.yaml
  test/testanalysis/analysisdefinition-validate/goodanalysis.yaml
Labels: helm

#2167 docs: add first iteration of analysis documentation
  docs/content/en/docs/implementing/slo/_index.md
  docs/content/en/docs/migrate/metrics-observe/_index.md
  metrics-operator/config/samples/metrics_v1alpha3_analysis.yaml
  metrics-operator/config/samples/metrics_v1alpha3_analysisvaluetemplate.yaml
Labels: documentation, metrics-operator

#2187 chore(lifecycle-operator): remove direct dependency on jsonpatch
  lifecycle-operator/go.mod
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: lifecycle-operator

#2154 feat(metrics-operator): add basicauth to prometheus provider
  metrics-operator/api/v1alpha3/keptnmetricsprovider_types.go
  metrics-operator/controllers/common/providers/datadog/common.go
  metrics-operator/controllers/common/providers/dynatrace/common.go
  metrics-operator/controllers/common/providers/dynatrace/common_test.go
  metrics-operator/controllers/common/providers/prometheus/common.go
  metrics-operator/controllers/common/providers/prometheus/common_test.go
  metrics-operator/controllers/common/providers/prometheus/fake/roundtripper_mock.go
  metrics-operator/controllers/common/providers/prometheus/prometheus.go
  metrics-operator/controllers/common/providers/prometheus/prometheus_test.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/go.mod
  metrics-operator/go.sum
  test/prometheus/prometheus-operator-serviceMonitor.yaml
  test/prometheus/secret.yaml
Labels: metrics-operator

#2188 feat(metrics-operator): add query to the analysis result
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/analysis-crd.yaml
  metrics-operator/api/v1alpha3/analysis_types.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/controllers/analysis/controller_test.go
  metrics-operator/controllers/analysis/objectives_evaluator.go
  metrics-operator/controllers/analysis/objectives_evaluator_test.go
  metrics-operator/controllers/common/analysis/analysis_evaluator_test.go
  metrics-operator/controllers/common/analysis/objective_evaluator.go
  metrics-operator/controllers/common/analysis/objective_evaluator_test.go
  metrics-operator/controllers/common/analysis/types/types.go
  test/testanalysis/analysis-controller-existing-status/01-assert.yaml
  test/testanalysis/analysis-controller-multiple-providers/01-assert.yaml
  test/testanalysis/analysis-controller-with-duration-timeframe/01-assert.yaml
  test/testanalysis/analysis-controller/01-assert.yaml
Labels: documentation, metrics-operator, helm

#2168 docs: example for the usage of Analyses
  examples/support/analysis/README.md
  examples/support/analysis/config/mock-server.yaml
  examples/support/analysis/config/service-monitor.yaml
Labels: documentation

#2191 chore: optimize integration tests pipeline with scheduling gates
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
Labels: ops

#2176 feat: add test and lint cmd to makefiles
  Makefile
  klt-cert-manager/Makefile
  lifecycle-operator/Makefile
  metrics-operator/Makefile
  scheduler/Makefile
Labels: scheduler, metrics-operator, cert-manager, lifecycle-operator

#2073 docs: add content to implementing/evaluations
  docs/content/en/docs/implementing/evaluations.md
Labels: documentation

#2192 feat(cert-manager): add helm chart for cert manager
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/generate-helm-docs.sh
  .yamllint
  helm/.gitignore
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/rendered.yaml
  helm/chart/templates/.gitkeep
  helm/chart/templates/deployment.yaml
  helm/chart/values.yaml
  klt-cert-manager/.gitignore
  klt-cert-manager/chart/.helmignore
  klt-cert-manager/chart/Chart.yaml
  klt-cert-manager/chart/README.md
  klt-cert-manager/chart/doc.yaml
  klt-cert-manager/chart/templates/_helpers.tpl
  klt-cert-manager/chart/templates/certificate-operator-leader-election-rbac.yaml
  klt-cert-manager/chart/templates/certificate-operator-rbac.yaml
  klt-cert-manager/chart/templates/certificate-operator-role-binding-rbac.yaml
  klt-cert-manager/chart/templates/deployment.yaml
  klt-cert-manager/chart/templates/service-account.yaml
  klt-cert-manager/chart/values.yaml
  klt-cert-manager/config/default/manager_config_patch.yaml
  klt-cert-manager/config/manager/manager.yaml
Labels: documentation, ops, cert-manager, helm

#2121 docs: add KeptnTaskDefinition tutorial
  docs/content/en/docs/tutorials/add-tasks.md
  docs/content/en/docs/tutorials/assets/webhook.site.1.png
  docs/content/en/docs/tutorials/assets/webhook.site.2.png
  docs/content/en/docs/tutorials/assets/webhook.site.3.png
Labels: documentation

#2189 feat(metrics-operator): add helm chart for metrics operator
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/generate-helm-docs.sh
  .yamllint
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/templates/deployment.yaml
  helm/chart/templates/hpa-controller-keptn-metrics-rbac.yaml
  helm/chart/templates/metrics-manager-config.yaml
  helm/chart/values.yaml
  metrics-operator/chart/.helmignore
  metrics-operator/chart/Chart.yaml
  metrics-operator/chart/README.md
  metrics-operator/chart/doc.yaml
  metrics-operator/chart/templates/_helpers.tpl
  metrics-operator/chart/templates/analysis-crd.yaml
  metrics-operator/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/chart/templates/metrics-manager-config.yaml
  metrics-operator/chart/templates/metrics-operator-hpa-controller-rbac.yaml
  metrics-operator/chart/templates/metrics-operator-leader-election-rbac.yaml
  metrics-operator/chart/templates/metrics-operator-rbac.yaml
  metrics-operator/chart/templates/metrics-operator-server-resources-rbac.yaml
  metrics-operator/chart/templates/metrics-operator-service-account.yaml
  metrics-operator/chart/templates/metrics-operator-service.yaml
  metrics-operator/chart/templates/metrics-validating-webhook-configuration.yaml
  metrics-operator/chart/templates/metrics-webhook-service.yaml
  metrics-operator/chart/templates/system-auth-delegator-rbac.yaml
  metrics-operator/chart/templates/v1beta1.custom.metrics.k8s.io.yaml
  metrics-operator/chart/templates/v1beta2.custom.metrics.k8s.io.yaml
  metrics-operator/chart/values.yaml
  metrics-operator/config/default/manager_config_patch.yaml
  metrics-operator/config/default/manager_webhook_patch.yaml
  metrics-operator/config/manager/kustomization.yaml
  metrics-operator/config/manager/manager.yaml
Labels: documentation, ops, metrics-operator, helm

#2199 docs: edit Analysis guide page
  docs/content/en/docs/implementing/slo/_index.md
Labels: documentation

#2198 docs: fix image ref
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/tutorials/tasks/_index.md
Labels: documentation

#2088 docs: rename "tasks" page, delete section from "Tutorials"
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/tutorials/_index.md
Labels: documentation
