Repository keptn/lifecycle-toolkit, pull requests merged in 2023-08, with the labels that each got.

#1723 ci: bump doc tools
  docs/go.mod
  docs/go.sum
Labels: documentation

#1818 ci: adapt markdown check trigger to include changes to CRD structs
  .github/workflows/markdown-checks.yaml
Labels: ops

#1807 chore: add status field docs to all CRDs
  .github/scripts/generate-crd-docs/crd-docs-generator-config.yaml
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  docs/content/en/docs/crd-ref/lifecycle/v1alpha1/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha2/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  docs/content/en/docs/crd-ref/metrics/v1alpha1/_index.md
  docs/content/en/docs/crd-ref/metrics/v1alpha2/_index.md
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  docs/content/en/docs/crd-ref/options/v1alpha1/_index.md
  metrics-operator/api/v1alpha2/keptnmetricsprovider_types.go
  metrics-operator/api/v1alpha2/zz_generated.deepcopy.go
  metrics-operator/api/v1alpha3/keptnmetricsprovider_types.go
  metrics-operator/api/v1alpha3/keptnmetricsprovider_types_test.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/controllers/metrics/controller_test.go
  operator/apis/lifecycle/v1alpha1/common/common.go
  operator/apis/lifecycle/v1alpha1/keptnevaluationdefinition_types.go
  operator/apis/lifecycle/v1alpha1/keptnevaluationprovider_conversion_test.go
  operator/apis/lifecycle/v1alpha1/keptnevaluationprovider_types.go
  operator/apis/lifecycle/v1alpha1/zz_generated.deepcopy.go
  operator/apis/lifecycle/v1alpha2/common/common.go
  operator/apis/lifecycle/v1alpha2/keptnevaluationdefinition_types.go
  operator/apis/lifecycle/v1alpha2/keptnevaluationprovider_conversion_test.go
  operator/apis/lifecycle/v1alpha2/keptnevaluationprovider_types.go
  operator/apis/lifecycle/v1alpha2/zz_generated.deepcopy.go
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types.go
  operator/apis/lifecycle/v1alpha3/keptnevaluationdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptnevaluationprovider_types.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/apis/options/v1alpha1/keptnconfig_types.go
  operator/apis/options/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationproviders.yaml
  operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
Labels: documentation, ops, operator, metrics-operator

#1791 feat: metrics-operator monorepo setup
  .github/workflows/release.yml
  helm/chart/README.md
  helm/chart/doc.yaml
  metrics-operator/Dockerfile
  release-please-config.json
Labels: documentation, ops, metrics-operator, helm

#1838 docs: restructure migration guide
  docs/content/en/docs/migrate/_index.md
  docs/content/en/docs/migrate/cicd/_index.md
  docs/content/en/docs/migrate/evaluations/_index.md
  docs/content/en/docs/migrate/evolution-klt/_index.md
  docs/content/en/docs/migrate/install/_index.md
  docs/content/en/docs/migrate/setup/_index.md
Labels: documentation

#1826 docs: add text about name change
  docs/content/en/docs/install/cert-manager.md
Labels: documentation

#1847 ci: fix stale action
  .github/workflows/stale.yml
Labels: ops

#1833 chore: promote Release Lifecycle to beta
  README.md
Labels: documentation

#1685 docs: clean up KLT README file
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  README.md
  docs/content/en/docs/concepts/architecture/cert-manager.md
  docs/content/en/docs/concepts/workloads/_index.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/install/reqs.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation, ops

#1840 chore: move from continuous helmify to custom chart
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/helm-checks.yaml
  .github/workflows/validate-helm-chart.yml
  Makefile
  helm/.gitignore
  helm/chart/templates/certificate-operator-leader-election-rbac.yaml
  helm/chart/templates/certificate-operator-rbac.yaml
  helm/chart/templates/certificate-operator-role-binding-rbac.yaml
  helm/chart/templates/deployment.yaml
  helm/chart/templates/extension-apiserver-authentication-reader-rbac.yaml
  helm/chart/templates/hpa-controller-keptn-metrics-rbac.yaml
  helm/chart/templates/keptn-scheduler-rbac.yaml
  helm/chart/templates/keptnapp-crd.yaml
  helm/chart/templates/keptnappcreationrequest-crd.yaml
  helm/chart/templates/keptnappversion-crd.yaml
  helm/chart/templates/keptnconfig-crd.yaml
  helm/chart/templates/keptnevaluation-crd.yaml
  helm/chart/templates/keptnevaluationdefinition-crd.yaml
  helm/chart/templates/keptnevaluationprovider-crd.yaml
  helm/chart/templates/keptnmetric-crd.yaml
  helm/chart/templates/keptnmetricsprovider-crd.yaml
  helm/chart/templates/keptntask-crd.yaml
  helm/chart/templates/keptntaskdefinition-crd.yaml
  helm/chart/templates/keptnworkload-crd.yaml
  helm/chart/templates/keptnworkloadinstance-crd.yaml
  helm/chart/templates/leader-election-rbac.yaml
  helm/chart/templates/lifecycle-manager-config.yaml
  helm/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  helm/chart/templates/lifecycle-operator-leader-election-rbac.yaml
  helm/chart/templates/lifecycle-operator-metrics-service.yaml
  helm/chart/templates/lifecycle-operator-rbac.yaml
  helm/chart/templates/lifecycle-validating-webhook-configuration.yaml
  helm/chart/templates/lifecycle-webhook-service.yaml
  helm/chart/templates/metrics-manager-config.yaml
  helm/chart/templates/metrics-operator-hpa-controller-rbac.yaml
  helm/chart/templates/metrics-operator-leader-election-rbac.yaml
  helm/chart/templates/metrics-operator-rbac.yaml
  helm/chart/templates/metrics-operator-server-resources-rbac.yaml
  helm/chart/templates/metrics-operator-service.yaml
  helm/chart/templates/metrics-validating-webhook-configuration.yaml
  helm/chart/templates/metrics-webhook-service.yaml
  helm/chart/templates/scheduler-config.yaml
  helm/chart/templates/server-resources-rbac.yaml
  helm/chart/templates/system-auth-delegator-rbac.yaml
  helm/chart/templates/v1beta1.custom.metrics.k8s.io.yaml
  helm/chart/templates/v1beta2.custom.metrics.k8s.io.yaml
  helm/overlay/kustomization.yaml
Labels: ops, helm

#1856 chore: remove helm chart generation from CI
  .github/workflows/CI.yaml
Labels: ops

#1839 feat(metrics-operator): add Analysis CRD
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/analysis-crd.yaml
  lifecycle-operator/apis/lifecycle/v1alpha1/common/phases.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  metrics-operator/PROJECT
  metrics-operator/api/v1alpha3/analysis_types.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/config/crd/kustomization.yaml
  metrics-operator/config/crd/patches/webhook_in_analyses.yaml
  metrics-operator/config/rbac/analysis_editor_role.yaml
  metrics-operator/config/rbac/analysis_viewer_role.yaml
  metrics-operator/config/samples/metrics_v1alpha3_analysis.yaml
  test/integration/analysis/00-assert.yaml
  test/integration/analysis/00-install.yaml
Labels: documentation, metrics-operator, helm, lifecycle-operator

#1822 feat(metrics-operator): add AnalysisValueTemplate CRD
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/PROJECT
  metrics-operator/api/v1alpha3/analysisvaluetemplate_types.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisvaluetemplates.yaml
  metrics-operator/config/crd/kustomization.yaml
  metrics-operator/config/crd/patches/webhook_in_analysisvaluetemplates.yaml
  metrics-operator/config/rbac/analysisvaluetemplate_editor_role.yaml
  metrics-operator/config/rbac/analysisvaluetemplate_viewer_role.yaml
  metrics-operator/config/samples/metrics_v1alpha3_analysisvaluetemplate.yaml
  test/integration/analysis-value-template/00-assert.yaml
  test/integration/analysis-value-template/00-install.yaml
Labels: documentation, metrics-operator, helm

#1843 feat: add cloud events support
  docs/content/en/docs/crd-ref/options/v1alpha1/_index.md
  helm/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/apis/options/v1alpha1/keptnconfig_types.go
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/common/evaluationhandler_test.go
  lifecycle-operator/controllers/common/eventsender.go
  lifecycle-operator/controllers/common/eventsender_test.go
  lifecycle-operator/controllers/common/fake/event_mock.go
  lifecycle-operator/controllers/common/phasehandler_test.go
  lifecycle-operator/controllers/common/taskhandler_test.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/runtime_builder_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadinstance/controller_test.go
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  lifecycle-operator/main.go
  lifecycle-operator/test/component/app/app_suite_test.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
  lifecycle-operator/test/component/evaluation/evaluation_suite_test.go
  lifecycle-operator/test/component/load/load_suite_test.go
  lifecycle-operator/test/component/task/task_suite_test.go
  lifecycle-operator/test/component/taskdefinition/taskdefinition_suite_test.go
  lifecycle-operator/test/component/workload/workload_suite_test.go
  lifecycle-operator/test/component/workloadinstance/workloadinstance_suite_test.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: documentation, helm, lifecycle-operator

#1860 docs: added troubleshooting page
  docs/content/en/docs/troubleshooting.md
Labels: documentation

#1865 docs: adapt DORA metrics kubectl command
  docs/content/en/docs/implementing/dora/_index.md
  docs/content/en/docs/implementing/otel.md
Labels: documentation

#1864 chore: support external cert-manager
  docs/content/en/docs/concepts/architecture/cert-manager.md
  docs/content/en/docs/install/cert-manager.md
  docs/content/en/docs/install/k8s.md
  helm/chart/templates/analysis-crd.yaml
  helm/chart/templates/analysisdefinition-crd.yaml
  helm/chart/templates/analysisvaluetemplate-crd.yaml
  helm/chart/templates/keptnapp-crd.yaml
  helm/chart/templates/keptnappcreationrequest-crd.yaml
  helm/chart/templates/keptnappversion-crd.yaml
  helm/chart/templates/keptnconfig-crd.yaml
  helm/chart/templates/keptnevaluation-crd.yaml
  helm/chart/templates/keptnevaluationdefinition-crd.yaml
  helm/chart/templates/keptnevaluationprovider-crd.yaml
  helm/chart/templates/keptnmetric-crd.yaml
  helm/chart/templates/keptnmetricsprovider-crd.yaml
  helm/chart/templates/keptntask-crd.yaml
  helm/chart/templates/keptntaskdefinition-crd.yaml
  helm/chart/templates/keptnworkload-crd.yaml
  helm/chart/templates/keptnworkloadinstance-crd.yaml
  helm/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  helm/chart/templates/lifecycle-validating-webhook-configuration.yaml
  helm/chart/templates/metrics-validating-webhook-configuration.yaml
Labels: documentation, helm

#1679 docs: edits to metrics-operator architecture page
  docs/content/en/docs/concepts/architecture/components/metrics-operator/_index.md
  docs/content/en/docs/yaml-crd-ref/metric.md
Labels: documentation

#1859 ci: add helm template check
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/helm-test.sh
  .github/workflows/validate-helm-chart.yml
  .gitignore
  .yamllint
  helm/chart/templates/hpa-controller-keptn-metrics-rbac.yaml
Labels: ops, helm

#1801 feat: update prometheus api to support `range.step`
  metrics-operator/controllers/common/providers/prometheus/prometheus.go
  metrics-operator/controllers/common/providers/prometheus/prometheus_test.go
Labels: metrics-operator

#1868 docs: improve how-to and ref info for apps
  docs/content/en/docs/concepts/architecture/keptn-apps/_index.md
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/orchestrate/_index.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1874 ci: move helm tests to separate job
  .github/workflows/validate-helm-chart.yml
Labels: ops

#1867 refactor(lifecycle-operator): refactor event emitter unit tests
  lifecycle-operator/controllers/common/eventsender_test.go
Labels: lifecycle-operator

#1812 feat(metrics-operator): update dynatrace api to support `range.step`
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
Labels: metrics-operator

#1871 fix(lifecycle-operator): avoid setting the overall state of an App or WorkloadInstance between state transitions
  lifecycle-operator/controllers/common/phasehandler.go
  lifecycle-operator/controllers/common/phasehandler_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
Labels: lifecycle-operator

#1821 chore: improved example on app yamls
  docs/content/en/docs/implementing/add-app-awareness/index.md
  docs/content/en/docs/yaml-crd-ref/app.md
Labels: documentation

#1888 docs: contrib: set up dev environment
  CONTRIBUTING.md
  docs/content/en/contribute/software/dev-environ/_index.md
Labels: documentation

#1885 docs: create crd-template.md
  docs/content/en/docs/yaml-crd-ref/crd-template.md
Labels: documentation

#1872 feat(metrics-operator): introduce scoring logic for Analysis evaluations
  metrics-operator/api/v1alpha3/analysisdefinition_types.go
  metrics-operator/api/v1alpha3/analysisdefinition_types_test.go
  metrics-operator/controllers/common/analysis/analysis_evaluator.go
  metrics-operator/controllers/common/analysis/analysis_evaluator_test.go
  metrics-operator/controllers/common/analysis/fake/analysis_evaluator_mock.go
  metrics-operator/controllers/common/analysis/fake/objective_evaluator_mock.go
  metrics-operator/controllers/common/analysis/fake/target_evaluator_mock.go
  metrics-operator/controllers/common/analysis/interfaces.go
  metrics-operator/controllers/common/analysis/objective_evaluator.go
  metrics-operator/controllers/common/analysis/objective_evaluator_test.go
  metrics-operator/controllers/common/analysis/operator_evaluator.go
  metrics-operator/controllers/common/analysis/operator_evaluator_test.go
  metrics-operator/controllers/common/analysis/target_evaluator.go
  metrics-operator/controllers/common/analysis/target_evaluator_test.go
  metrics-operator/controllers/common/analysis/types/types.go
  metrics-operator/controllers/common/analysis/types/types_test.go
Labels: metrics-operator

#1905 perf(metrics-operator): improve performance of storing analysis results
  metrics-operator/controllers/common/analysis/analysis_evaluator.go
  metrics-operator/controllers/common/analysis/objective_evaluator.go
  metrics-operator/controllers/common/analysis/objective_evaluator_test.go
Labels: metrics-operator

#1751 docs: simplify installation page
  docs/content/en/_index.md
  docs/content/en/docs/assets/deploymenttrace.png
  docs/content/en/docs/assets/grafana.png
  docs/content/en/docs/assets/install01.png
  docs/content/en/docs/assets/install02.png
  docs/content/en/docs/assets/keptnapplications.png
  docs/content/en/docs/assets/keptnprommetrics.png
  docs/content/en/docs/assets/nginx.png
  docs/content/en/docs/assets/podtatohead.png
  docs/content/en/docs/assets/trace-failed.png
  docs/content/en/docs/concepts/architecture/cert-manager.md
  docs/content/en/docs/getting-started.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/generic-gs/_index.md
  docs/content/en/docs/implementing/_index.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/install/reqs.md
  docs/content/en/docs/intro-klt/_index.md
  docs/content/en/docs/intro-klt/assets/dynatrace_dora_dashboard.png
  docs/content/en/docs/intro-klt/usecase-observability.md
  docs/content/en/docs/intro-klt/usecase-orchestrate.md
  docs/content/en/docs/intro-klt/usecase_metrics.md
  docs/content/en/docs/migrate/_index.md
  docs/content/en/docs/operate/_index.md
  docs/content/en/docs/operate/cert-manager.md
  docs/content/en/docs/tutorials/_index.md
  docs/content/en/docs/tutorials/add-tasks.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1628 docs: conceptual mapping of Keptn v1 components to KLT components
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/migrate/strategy/_index.md
Labels: documentation

#1815 chore: simplify dashboard installation
  dashboards/grafana/Makefile
  dashboards/grafana/README.md
  dashboards/grafana/configmap/grafana-dashboard-keptn-applications.yaml
  dashboards/grafana/configmap/grafana-dashboard-keptn-overview.yaml
  dashboards/grafana/configmap/grafana-dashboard-keptn-workloads.yaml
  dashboards/grafana/grafana_dashboard_applications.json
  dashboards/grafana/grafana_dashboard_overview.json
  dashboards/grafana/grafana_dashboard_workloads.json
  dashboards/grafana/import/grafana_dashboard_applications.json
  dashboards/grafana/import/grafana_dashboard_overview.json
  dashboards/grafana/import/grafana_dashboard_workloads.json
  examples/support/observability/assets/grafana_dasboard_import_ui.json
  examples/support/observability/assets/grafana_dashboard.json
  examples/support/observability/config/prometheus/grafana-dashboard-keptn-applications.yaml
  examples/support/observability/config/prometheus/grafana-dashboard-keptn-overview.yaml
  examples/support/observability/config/prometheus/grafana-dashboard-keptn-workloads.yaml
  examples/support/observability/config/prometheus/grafana-dashboardDatasources.yaml
Labels: documentation

#1842 feat(metrics-operator): update datadog api to support `range.step`
  metrics-operator/controllers/common/providers/datadog/datadog.go
  metrics-operator/controllers/common/providers/datadog/datadog_test.go
Labels: metrics-operator

#1921 docs: fix broken links
  docs/content/en/_index.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/assets/deploymenttrace.png
  docs/content/en/docs/getting-started/assets/grafana.png
  docs/content/en/docs/getting-started/assets/install01.png
  docs/content/en/docs/getting-started/assets/install02.png
  docs/content/en/docs/getting-started/assets/keptnapplications.png
  docs/content/en/docs/getting-started/assets/keptnprommetrics.png
  docs/content/en/docs/getting-started/assets/nginx.png
  docs/content/en/docs/getting-started/assets/podtatohead.png
  docs/content/en/docs/getting-started/assets/trace-failed.png
  docs/content/en/docs/intro-klt/_index.md
  docs/content/en/docs/intro-klt/usecase-observability.md
  docs/content/en/docs/intro-klt/usecase-orchestrate.md
  docs/content/en/docs/migrate/strategy/_index.md
  docs/content/en/docs/tutorials/_index.md
  docs/content/en/docs/tutorials/add-tasks.md
Labels: documentation

#1925 docs: fix typos and grammar issues
  docs/content/en/contribute/docs/contribution-guidelines/_index.md
  docs/content/en/contribute/docs/source-file-structure/_index.md
  docs/content/en/contribute/general/technologies/_index.md
  docs/content/en/docs/concepts/architecture/cert-manager.md
  docs/content/en/docs/concepts/architecture/components/metrics-operator/_index.md
  docs/content/en/docs/concepts/architecture/keptn-apps/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha2/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/implementing/_index.md
  docs/content/en/docs/implementing/add-app-awareness/index.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/implementing/restart-application-deployment/_index.md
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/install/upgrade.md
  docs/content/en/docs/intro-klt/_index.md
  docs/content/en/docs/intro-klt/usecase-orchestrate.md
  docs/content/en/docs/intro-klt/usecase_metrics.md
  docs/content/en/docs/migrate/strategy/_index.md
  docs/content/en/docs/troubleshooting.md
  docs/content/en/docs/tutorials/_index.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnworkloadinstance_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_types.go
Labels: documentation, lifecycle-operator

#1908 docs: fix link to deno web page
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1850 chore: remove generation of KLT manifest releases
  .github/workflows/CI.yaml
  .github/workflows/release.yml
  README.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/snippets/tasks/install.md
Labels: documentation, on hold, ops

#1941 revert: remove generation of KLT manifest releases
  .github/workflows/CI.yaml
  .github/workflows/release.yml
  README.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/snippets/tasks/install.md
Labels: documentation, ops

#1923 feat: add monitor action to all KLT workflows
  .github/workflows/CI.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/htmltest.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/performance-test.yml
  .github/workflows/release-examples.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/set-date.yml
  .github/workflows/stale.yml
  .github/workflows/update-labels.yml
  .github/workflows/validate-helm-chart.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/yaml-checks.yaml
Labels: ops

#1936 chore: create pull request template
  .github/PULL_REQUEST_TEMPLATE/pr-template.md
Labels: ops

#1919 feat(metrics-operator): update dql provider to include range
  metrics-operator/controllers/common/providers/dynatrace/client/client.go
  metrics-operator/controllers/common/providers/dynatrace/client/client_test.go
  metrics-operator/controllers/common/providers/dynatrace/client/fake/dt_client_mock.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql_test.go
Labels: metrics-operator

#1939 feat(metrics-operator): introduce SLI -> AnalysisValueTemplate converter
  metrics-operator/api/v1alpha3/analysisvaluetemplate_types.go
  metrics-operator/converter/sli_converter.go
  metrics-operator/converter/sli_converter_test.go
  metrics-operator/go.mod
  metrics-operator/main.go
Labels: metrics-operator

#1943 feat(metrics-operator): add new provider interface
  metrics-operator/controllers/common/providers/common.go
  metrics-operator/controllers/common/providers/datadog/datadog.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/prometheus/prometheus.go
  metrics-operator/controllers/common/providers/prometheus/prometheus_test.go
  metrics-operator/controllers/common/providers/provider.go
Labels: metrics-operator

#1862 docs: rewrite README file
  README.md
Labels: documentation

#1886 docs: contrib: DCO
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/content/en/contribute/general/dco/_index.md
Labels: documentation

#1708 docs: migrate quality gates
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/migrate/metrics-observe/_index.md
Labels: documentation

#1947 docs: tutorial Run Standalone tasks for non-k8s apps
  docs/content/en/docs/tutorials/tasks-non-k8s-apps.md
Labels: documentation

#1954 fix(metrics-operator): flaky test in SLI converter
  metrics-operator/converter/sli_converter_test.go
Labels: metrics-operator

#1777 docs: keptn Scheduler architecture documentation
  docs/content/en/docs/concepts/architecture/components/scheduler/_index.md
  scheduler/README.md
Labels: documentation, scheduler

#1951 docs: small improvements
  docs/content/en/docs/intro-klt/_index.md
  docs/content/en/docs/migrate/metrics-observe/_index.md
Labels: documentation

#1961 fix(metrics-operator): flaky test in SLI converter
  metrics-operator/converter/sli_converter_test.go
Labels: metrics-operator

#1967 chore: remove debug log containing secret
  metrics-operator/controllers/common/providers/dynatrace/client/common.go
Labels: metrics-operator

#1857 feat: monorepo setup for lifecycle-operator, scheduler and runtimes
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/performance-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/validate-semantic-pr.yml
  Makefile
  docs/content/en/docs/install/install.md
  docs/content/en/docs/snippets/tasks/install.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
  examples/sample-app/base/app-post-deploy.yaml
  examples/sample-app/base/python-task.yaml
  examples/sample-app/version-1/app-pre-deploy.yaml
  examples/sample-app/version-2/app-pre-deploy.yaml
  examples/sample-app/version-3/app-pre-deploy.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/check_entry.yaml
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/values.yaml
  klt-cert-manager/Makefile
  lifecycle-operator/Makefile
  lifecycle-operator/config/manager/manager.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream_scheduler.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream_slack.yaml
  lifecycle-operator/config/samples/python_execution/taskdefinition_pyfunction_upstream_hellopy.yaml
  metrics-operator/Makefile
  release-please-config.json
  renovate.json
  runtimes/deno-runtime/Dockerfile
  runtimes/deno-runtime/README.md
  runtimes/deno-runtime/entrypoint.sh
  runtimes/deno-runtime/samples/ts/dns.ts
  runtimes/deno-runtime/samples/ts/hello-world.ts
  runtimes/deno-runtime/samples/ts/http.ts
  runtimes/deno-runtime/samples/ts/prometheus.ts
  runtimes/deno-runtime/samples/ts/schedule.ts
  runtimes/deno-runtime/samples/ts/slack.ts
  runtimes/python-runtime/Dockerfile
  runtimes/python-runtime/README.md
  runtimes/python-runtime/entrypoint.sh
  runtimes/python-runtime/samples/args.py
  runtimes/python-runtime/samples/hellopy.py
  runtimes/python-runtime/samples/secrets.py
  test/integration/app-failing-pre-task/00-install.yaml
  test/integration/podtato-head-application/00-install.yaml
  test/integration/restartable-app/00-install.yaml
  test/integration/workload-instance-failing-pre-task/00-install.yaml
Labels: documentation, ops, metrics-operator, cert-manager, helm, lifecycle-operator

#1955 feat(metrics-operator): introduce SLO -> AnalysisDefinition converter
  metrics-operator/api/v1alpha3/analysisdefinition_types.go
  metrics-operator/converter/sli_converter_test.go
  metrics-operator/converter/slo_converter.go
  metrics-operator/converter/slo_converter_test.go
  metrics-operator/go.mod
  metrics-operator/main.go
Labels: metrics-operator

#1983 fix: fix Go badge
  README.md
Labels: documentation

#1980 ci: fix release pipeline again
  .github/workflows/release.yml
Labels: ops

#1976 feat(metrics-operator): introduce range operators in AnalysisDefinition
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  helm/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/api/v1alpha3/analysisdefinition_types.go
  metrics-operator/api/v1alpha3/analysisdefinition_webhook.go
  metrics-operator/api/v1alpha3/analysisdefinition_webhook_test.go
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisdefinitions.yaml
  metrics-operator/config/samples/metrics_v1alpha3_analysisdefinition.yaml
  metrics-operator/controllers/common/analysis/operator_evaluator.go
  metrics-operator/controllers/common/analysis/operator_evaluator_test.go
Labels: documentation, metrics-operator, helm

#1987 ci: fix release pipeline one more time
  .github/workflows/release.yml
Labels: ops

#1989 chore: remove monitor action
  .github/workflows/CI.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/htmltest.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/performance-test.yml
  .github/workflows/release-examples.yml
  .github/workflows/security-scans.yml
  .github/workflows/set-date.yml
  .github/workflows/stale.yml
  .github/workflows/update-labels.yml
  .github/workflows/validate-helm-chart.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/yaml-checks.yaml
Labels: ops

#1996 ci: fix release matrix again
  .github/workflows/release.yml
Labels: ops

#1997 revert: revert cert-manager release again
  .release-please-manifest.json
  klt-cert-manager/CHANGELOG.md
  klt-cert-manager/Makefile
Labels: documentation, cert-manager

#1470 docs: deployment flow architecture
  docs/content/en/docs/concepts/architecture/components/_index.md
  docs/content/en/docs/concepts/architecture/deployment-flow.md
  docs/content/en/docs/concepts/architecture/working/_index.md
Labels: documentation

#1984 docs: update the doc source file structure page
  docs/content/en/contribute/docs/source-file-structure/_index.md
Labels: documentation
