Repository keptn/lifecycle-toolkit, pull requests merged in 2023-04, with the labels that each got.

#1171 feat: make examples resource footprint smaller, fix bugs
  .github/workflows/validate-semantic-pr.yml
  examples/sample-app/base/app.yaml
  examples/sample-app/base/manifest.yaml
  examples/sample-app/base/provider.yaml
  examples/sample-app/version-1/app.yaml
  examples/sample-app/version-2/app.yaml
  examples/sample-app/version-3/app.yaml
  examples/support/observability/Makefile
  examples/support/observability/config/otel-collector.yaml
  examples/support/observability/config/prometheus-mock/mockserver-config.yaml
  examples/support/observability/config/prometheus/grafana-deployment.yaml
  examples/support/observability/config/prometheus/kube-state-metrics-deployment.yaml
  examples/support/observability/config/prometheus/node-exporter-daemonset.yaml
  examples/support/observability/config/prometheus/prometheus-adapter-deployment.yaml
  examples/support/observability/config/prometheus/prometheus-prometheus.yaml
  examples/support/observability/config/prometheus/setup/prometheus-operator-deployment.yaml
Labels: ops

#1148 fix: add missing control-plane label into lifecycle operator service
  operator/config/manager/service.yaml
Labels: operator

#1175 fix: removed failure branch
  scheduler/pkg/klcpermit/permit.go
Labels: scheduler

#1177 docs: improve rendering of links for local markdown files
  docs/layouts/_default/_markup/render-link.html
Labels: documentation

#1162 docs: set up top-level Installation section
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/integrate.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/install/reqs.md
  docs/content/en/docs/install/upgrade.md
  docs/content/en/docs/tasks/install/_index.md
  docs/content/en/docs/tasks/migrate-keptnevaluationprovider/_index.md
Labels: documentation

#1179 ci: fix CI pipeline YAML error
  .github/workflows/CI.yaml
  test/integration/expose-keptn-metric/00-install.yaml
  test/integration/expose-keptn-metric/01-install.yaml
  test/integration/expose-keptn-metric/02-teststep.yaml
Labels: ops

#1173 docs: added example for autoscaling using KeptnMetric
  examples/support/metrics/Makefile
  examples/support/metrics/README.md
  examples/support/metrics/deployment.yaml
  examples/support/metrics/hpa.yaml
  examples/support/metrics/load-generator-job.yaml
  examples/support/metrics/metric.yaml
Labels: documentation

#1184 docs: set up structure for yaml ref pages, guide section
  docs/content/en/docs/implementing/_index.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/evaluations.md
  docs/content/en/docs/implementing/observe.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/implementing/slack.md
  docs/content/en/docs/yaml-crd-ref/_index.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/config.md
  docs/content/en/docs/yaml-crd-ref/evaluationdefnition.md
  docs/content/en/docs/yaml-crd-ref/evaluationprovider.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/metricsprovider.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1186 fix(operator): look up latest AppVersion based on creation timestamp
  operator/controllers/lifecycle/keptnworkloadinstance/controller.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller_test.go
Labels: operator

#1150 ci: add helm generation checker pipeline
  .github/workflows/validate-helm-chart.yml
Labels: ops

#1209 fix: helm generation checker pipeline
  .github/workflows/validate-helm-chart.yml
  .yamllint
  helm/chart/values.yaml
  klt-cert-manager/config/rbac/role.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/config/rbac/role.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationproviders.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  operator/config/rbac/role.yaml
Labels: ops, operator, metrics-operator, cert-manager, helm

#1077 docs: add community files to webpage
  docs/.htmltest.yml
  docs/config/_default/config.yaml
  docs/content/en/_index.md
  docs/go.mod
  docs/go.sum
Labels: documentation

#1031 docs: change linting CLI and add custom rules
  .gitignore
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .markdownlintignore
  CONTRIBUTING.md
  README.md
  dashboards/grafana/README.md
  docs/.gitignore
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/content/en/_index.md
  docs/content/en/contribute/general/technologies/_index.md
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/concepts/overview/klc-cert-manager/_index.md
  docs/content/en/docs/concepts/tasks/_index.md
  docs/content/en/docs/concepts/workloads/_index.md
  docs/content/en/docs/getting-started.md
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/upgrade.md
  docs/content/en/docs/snippets/tasks/install.md
  docs/content/en/docs/tasks/add-app-awareness/index.md
  docs/content/en/docs/tasks/restart-application-deployment/_index.md
  docs/content/en/docs/tasks/write-tasks/_index.md
  docs/rules/admonition.js
  docs/rules/max-one-sentence-per-line.js
  examples/sample-app/README.md
  examples/support/argo/README.md
  examples/support/metrics/README.md
  examples/support/observability/README.md
  klt-cert-manager/README.md
  metrics-operator/README.md
  operator/README.md
  operator/test/component/DEVELOPER.md
  operator/test/e2e/DEVELOPER.md
  scheduler/README.md
  scheduler/test/e2e/DEVELOPER.md
Labels: documentation, operator, scheduler, metrics-operator, cert-manager

#1208 ci: fix set-date pipeline bug
  .github/workflows/set-date.yml
Labels: ops

#1215 fix: adapt mapping for community files
  docs/config/_default/config.yaml
Labels: documentation

#1151 docs: add metrics-operator architecture
  docs/content/en/docs/concepts/architecture/components/_index.md
  docs/content/en/docs/concepts/architecture/components/lifecycle-operator/_index.md
  docs/content/en/docs/concepts/architecture/components/metrics-operator/_index.md
  docs/content/en/docs/concepts/architecture/components/scheduler/_index.md
Labels: documentation

#1204 docs: fix typo in the getting started docs
  docs/content/en/docs/getting-started.md
  docs/content/en/docs/snippets/tasks/install.md
Labels: documentation

#1210 docs: replace cert-manager
  docs/content/en/docs/concepts/architecture/cert-manager.md
  docs/content/en/docs/concepts/overview/klc-cert-manager/_index.md
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/cert-manager.md
  docs/content/en/docs/install/reqs.md
Labels: documentation

#1252 docs: fix typo
  docs/content/en/_index.md
Labels: documentation

#1251 docs: update docs for multi metrics provider support, fix API reference generator
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/crd-ref/metrics/v1alpha2/_index.md
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
  examples/sample-app/base/metric.yaml
  examples/sample-app/base/provider.yaml
  examples/support/metrics/README.md
  examples/support/metrics/hpa.yaml
  examples/support/metrics/metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/available-cpus-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/consumed-memory-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/metricsprovider.yaml
Labels: documentation, ops

#1253 chore: refactor and add unit tests to watcher
  .sonarcloud.properties
  Makefile
  metrics-operator/cmd/certificates/certificatehandler.go
  metrics-operator/cmd/certificates/fake/certificatehandler_mock.go
  metrics-operator/cmd/certificates/watcher.go
  metrics-operator/cmd/certificates/watcher_test.go
  metrics-operator/cmd/webhook/builder.go
  operator/cmd/certificates/certificatehandler.go
  operator/cmd/certificates/fake/certificatehandler_mock.go
  operator/cmd/certificates/watcher.go
  operator/cmd/certificates/watcher_test.go
  operator/cmd/webhook/builder.go
  test/testcertificate/cert-recreates/00-assert.yaml
  test/testcertificate/cert-recreates/00-teststep.yaml
  test/testcertificate/cert-recreates/01-assert.yaml
  test/testcertificate/cert-recreates/01-delete.yaml
  test/testcertificate/cert-recreates/02-assert.yaml
  test/testcertificate/cert-recreates/02-install.yaml
  test/testcertificate/cert-recreates/02-teststep.yaml
Labels: operator, metrics-operator

#1254 docs: add better overview KeptnApp to readme
  README.md
Labels: documentation

#1262 fix(operator): fix otel collector URL setup
  operator/controllers/common/otel_utils.go
  operator/controllers/common/otel_utils_test.go
  operator/controllers/options/keptnconfig_controller.go
  operator/controllers/options/keptnconfig_controller_test.go
Labels: operator

#1191 feat(operator): implement KeptnAppCreationRequest controller
  operator/apis/lifecycle/v1alpha1/common/common.go
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types.go
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types_test.go
  operator/controllers/common/config/config.go
  operator/controllers/common/config/config_test.go
  operator/controllers/common/config/fake/config_mock.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller_test.go
  operator/controllers/lifecycle/keptnworkload/controller.go
  operator/go.mod
  operator/go.sum
  operator/main.go
  test/integration/app-creation-request/00-assert.yaml
  test/integration/app-creation-request/00-install.yaml
  test/integration/app-creation-request/00-teststep.yaml
Labels: operator

#1271 feat: improve API reference generation script with path extension
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
Labels: ops

#1163 docs: modify footer
  docs/content/en/_index.md
Labels: documentation

#1282 chore: fix failing component test
  operator/test/component/app/app_suite_test.go
  operator/test/component/appversion/appversion_suite_test.go
  operator/test/component/evaluation/evaluation_suite_test.go
  operator/test/component/load/load_suite_test.go
  operator/test/component/task/task_suite_test.go
  operator/test/component/taskdefinition/taskdefinition_suite_test.go
  operator/test/component/workload/workload_suite_test.go
  operator/test/component/workloadinstance/workloadinstance_suite_test.go
Labels: operator

#1283 feat(operator): propagate KeptnTaskDefinition labels and annotations to Job Pods
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/apis/lifecycle/v1alpha3/common/common_test.go
  operator/apis/lifecycle/v1alpha3/keptnappversion_test.go
  operator/apis/lifecycle/v1alpha3/keptnappversion_types.go
  operator/apis/lifecycle/v1alpha3/keptntask_test.go
  operator/apis/lifecycle/v1alpha3/keptntask_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_test.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_types.go
  operator/controllers/lifecycle/keptntask/function_utils.go
  operator/controllers/lifecycle/keptntask/job_utils_test.go
  operator/test/component/task/task_test.go
Labels: operator

#1291 ci: fix helm checker pipeline
  .github/workflows/helm-checks.yaml
Labels: ops

#1272 docs: improve landing page, based on slides
  .github/mlc_config.json
  docs/assets/scss/_variables_project.scss
  docs/config/_default/config.yaml
  docs/content/en/_index.md
  docs/content/en/intro-background.jpg
  docs/content/en/partials/.markdownlint-cli2.yaml
  docs/content/en/partials/_index-data-access-left.md
  docs/content/en/partials/_index-data-access-right.md
  docs/content/en/partials/_index-deployment-checks-left.md
  docs/content/en/partials/_index-deployment-checks-right.md
  docs/content/en/partials/_index-observability-left.md
  docs/content/en/partials/_index-observability-right.md
  docs/static/Ubuntu-Medium.ttf
Labels: documentation, ops

#1288 fix: use custom k8s label to inject certificates where needed
  Makefile
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/templates/_helpers.tpl
  helm/chart/values.yaml
  klt-cert-manager/config/manager/manager.yaml
  klt-cert-manager/config/rbac/extra_role_binding.yaml
  klt-cert-manager/config/rbac/leader_election_role.yaml
  klt-cert-manager/config/rbac/leader_election_role_binding.yaml
  klt-cert-manager/config/rbac/role_binding.yaml
  klt-cert-manager/config/rbac/service_account.yaml
  klt-cert-manager/controllers/keptnwebhookcontroller/webhook_cert_controller_test.go
  klt-cert-manager/main.go
  metrics-operator/config/crd/kustomization.yaml
  metrics-operator/config/manager/manager.yaml
  metrics-operator/config/samples/metrics_v1alpha3_keptnmetric.yaml
  metrics-operator/config/samples/metrics_v1alpha3_keptnmetricsprovider.yaml
  operator/config/crd/kustomization.yaml
  operator/config/default/manager_config_patch.yaml
  operator/config/manager/manager.yaml
  operator/config/webhook/manifests.yaml
Labels: documentation, operator, metrics-operator, cert-manager, helm

#1303 docs: set up get-started directory tree
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/generic-gs/_index.md
  docs/content/en/docs/getting-started/generic-gs/assets/grafana.png
  docs/content/en/docs/getting-started/generic-gs/assets/podtatohead.png
  docs/content/en/docs/getting-started/generic-gs/assets/trace-failed.png
  docs/content/en/docs/getting-started/metrics/_index.md
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/orchestrate/_index.md
  docs/content/en/docs/implementing/integrate.md
  docs/content/en/docs/install/_index.md
Labels: documentation
