Repository keptn/lifecycle-toolkit, pull requests merged in 2023-05, with the labels that each got.

#1277 feat(operator): create KeptnAppCreationRequest in pod webhook
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types.go
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types_test.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller_test.go
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
  test/integration/app-creation-request/00-install.yaml
  test/integration/app-creation-request/01-install.yaml
  test/integration/podtato-head-application-auto-app-discovery/00-assert.yaml
  test/integration/podtato-head-application-auto-app-discovery/00-install.yaml
  test/integration/podtato-head-application-auto-app-discovery/00-teststep.yaml
  test/integration/simple-deployment/01-assert.yaml
Labels: operator

#1326 chore: bump GO_VERSION to 1.20 in pipelines
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/helm-checks.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/performance-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .golangci.yml
Labels: ops

#1330 chore(metrics-operator): restrict custom metrics ClusterRole privileges
  metrics-operator/config/metrics/role.yaml
Labels: metrics-operator

#1290 chore(metrics-operator): add configuration parameters for container securityContext
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/values.yaml
  metrics-operator/config/manager/manager.yaml
Labels: documentation, metrics-operator, helm

#1304 docs: describe automatic application discovery
  docs/content/en/docs/concepts/apps/_index.md
  docs/content/en/docs/concepts/apps/assets/trace.png
Labels: documentation

#1341 feat(operator): add information about evaluation target in status
  operator/controllers/lifecycle/keptnevaluation/controller.go
  operator/controllers/lifecycle/keptnevaluation/controller_test.go
  operator/test/component/evaluation/evaluation_test.go
Labels: operator

#1343 docs: fix missing code fence
  docs/content/en/docs/install/install.md
Labels: documentation

#1335 docs: improve docs for KeptnEvaluationDefinition
  docs/content/en/docs/concepts/evaluations/_index.md
Labels: documentation

#1350 docs: improve headline of Getting Started subsection
  docs/content/en/docs/getting-started/orchestrate/_index.md
Labels: documentation

#1349 docs: update KeptnTaskDefinition to include fallback search to default KLT namespace
  README.md
  docs/content/en/docs/concepts/tasks/_index.md
Labels: documentation

#1348 docs: update KeptnConfig docs to include KeptnAppCreationRequestTimeout
  README.md
  docs/content/en/docs/concepts/keptnConfig/_index.md
  examples/support/keptn/keptnconfig.yaml
Labels: documentation

#1351 chore: bump up helm chart version
  helm/chart/Chart.yaml
  helm/chart/values.yaml
Labels: helm

#1359 feat(operator): introduce fallback search to KLT default namespace when KeptnEvaluationDefinition is not found
  README.md
  docs/content/en/docs/concepts/evaluations/_index.md
  operator/controllers/common/helperfunctions.go
  operator/controllers/common/helperfunctions_test.go
  operator/controllers/lifecycle/keptnevaluation/controller.go
  operator/controllers/lifecycle/keptnevaluation/controller_test.go
  operator/test/component/evaluation/evaluation_test.go
Labels: documentation, operator

#1363 docs: misspelled file name, misordered pages
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
  docs/content/en/docs/yaml-crd-ref/evaluationprovider.md
Labels: documentation

#1371 fix: restore go files
  docs/go.mod
  docs/go.sum
Labels: documentation

#1356 chore: minor refactoring of the evaluation controller
  operator/controllers/lifecycle/keptnevaluation/controller.go
  operator/test/component/evaluation/evaluation_test.go
Labels: operator

#1276 feat(cert-manager): additional options for targeting WebhookConfigurations and CRDs
  klt-cert-manager/README.md
  klt-cert-manager/controllers/keptnwebhookcontroller/certificate_secret.go
  klt-cert-manager/controllers/keptnwebhookcontroller/config.go
  klt-cert-manager/controllers/keptnwebhookcontroller/keptnwebhookcertificate_controller.go
  klt-cert-manager/controllers/keptnwebhookcontroller/resource_retriever.go
  klt-cert-manager/controllers/keptnwebhookcontroller/resource_retriever_test.go
  klt-cert-manager/controllers/keptnwebhookcontroller/webhook_cert_controller_test.go
  klt-cert-manager/eventfilter/eventfilter.go
  klt-cert-manager/eventfilter/eventfilter_test.go
  klt-cert-manager/go.mod
  klt-cert-manager/go.sum
  klt-cert-manager/main.go
  klt-cert-manager/pkg/certificates/certificatehandler.go
  klt-cert-manager/pkg/certificates/fake/certificatehandler_mock.go
  klt-cert-manager/pkg/certificates/fake/watcher_mock.go
  klt-cert-manager/pkg/certificates/watcher.go
  klt-cert-manager/pkg/certificates/watcher_test.go
  klt-cert-manager/pkg/common/config.go
  klt-cert-manager/pkg/fake/manager_mock.go
  klt-cert-manager/pkg/fake/webhookmanager_mock.go
  klt-cert-manager/pkg/webhook/builder.go
  klt-cert-manager/pkg/webhook/builder_test.go
  klt-cert-manager/pkg/webhook/manager.go
  klt-cert-manager/pkg/webhook/manager_test.go
Labels: documentation, cert-manager

#1372 chore: remove code duplication
  operator/controllers/common/helperfunctions.go
Labels: operator

#1367 docs: small edit of original Getting Started guide
  docs/content/en/docs/getting-started/generic-gs/_index.md
Labels: documentation

#1296 feat(operator): trim KeptnAppVersion name that exceed max limit
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/controllers/lifecycle/keptnapp/controller.go
  operator/controllers/lifecycle/keptnapp/controller_test.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller.go
Labels: operator

#1360 docs: added comments to document the meaning of CRD properties
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  operator/apis/lifecycle/v1alpha3/keptnapp_types.go
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types.go
  operator/apis/lifecycle/v1alpha3/keptnappversion_types.go
  operator/apis/lifecycle/v1alpha3/keptnevaluation_types.go
  operator/apis/lifecycle/v1alpha3/keptnevaluationdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptntask_types.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkload_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_types.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptnappcreationrequests.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
Labels: documentation, operator

#1353 docs: add info about automatic application discovery
  docs/content/en/docs/implementing/integrate.md
  docs/content/en/docs/implementing/integrate/assets/trace.png
  docs/content/en/docs/implementing/integrate/index.md
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
Labels: documentation

#1364 docs: add cluster requirements
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/install/reqs.md
Labels: documentation

#1391 docs: create KeptnApp reference page
  docs/content/en/docs/concepts/apps/_index.md
  docs/content/en/docs/yaml-crd-ref/app.md
Labels: documentation

#1399 docs: enhance install page
  docs/content/en/docs/install/install.md
Labels: documentation

#1385 docs: metrics & evaluation ref and guides
  docs/content/en/docs/concepts/evaluations/_index.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/evaluations.md
  docs/content/en/docs/implementing/observe.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/implementing/slack.md
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/metricsprovider.md
Labels: documentation

#1400 docs: improve list on install landing page
  docs/content/en/docs/install/_index.md
Labels: documentation

#1405 docs: mention Prometheus in intro
  docs/content/en/docs/getting-started/metrics/_index.md
Labels: documentation

#1379 chore: use cert-manager library in lifecycle-operator and metrics-operator to reduce code duplication
  metrics-operator/cmd/certificates/certificatehandler.go
  metrics-operator/cmd/certificates/fake/certificatehandler_mock.go
  metrics-operator/cmd/certificates/watcher.go
  metrics-operator/cmd/certificates/watcher_test.go
  metrics-operator/cmd/webhook/builder.go
  metrics-operator/cmd/webhook/builder_test.go
  metrics-operator/cmd/webhook/manager.go
  metrics-operator/cmd/webhook/manager_test.go
  metrics-operator/config/manager/manager.yaml
  metrics-operator/go.mod
  metrics-operator/go.sum
  metrics-operator/main.go
  operator/cmd/certificates/certificatehandler.go
  operator/cmd/certificates/fake/certificatehandler_mock.go
  operator/cmd/certificates/watcher.go
  operator/cmd/certificates/watcher_test.go
  operator/cmd/webhook/builder.go
  operator/cmd/webhook/builder_test.go
  operator/cmd/webhook/manager.go
  operator/cmd/webhook/manager_test.go
  operator/config/manager/manager.yaml
  operator/go.mod
  operator/go.sum
  operator/main.go
Labels: operator, metrics-operator

#1393 chore(cert-manager): updated readme of cert-manager
  klt-cert-manager/README.md
Labels: documentation, cert-manager

#1414 docs: fix markdown links
  docs/.htmltest.yml
  docs/content/en/docs/getting-started/metrics/_index.md
Labels: documentation

#1369 docs: create KeptnConfig yaml ref page
  docs/content/en/docs/yaml-crd-ref/config.md
Labels: documentation

#1419 chore(operator): bump OTel dependencies to the latest version
  operator/apis/lifecycle/v1alpha1/common/common.go
  operator/apis/lifecycle/v1alpha2/common/common.go
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/controllers/common/metrics.go
  operator/controllers/common/metrics_test.go
  operator/controllers/common/otel_utils.go
  operator/controllers/common/otel_utils_test.go
  operator/controllers/common/test_utils.go
  operator/controllers/lifecycle/interfaces/fake/activemetricsobject_mock.go
  operator/controllers/lifecycle/interfaces/fake/async/tracer_provider_float_mock.go
  operator/controllers/lifecycle/interfaces/fake/async/tracer_provider_int_mock.go
  operator/controllers/lifecycle/interfaces/fake/meter_mock.go
  operator/controllers/lifecycle/interfaces/fake/spanitem_mock.go
  operator/controllers/lifecycle/interfaces/fake/sync/tracer_provider_float_mock.go
  operator/controllers/lifecycle/interfaces/fake/sync/tracer_provider_int_mock.go
  operator/controllers/lifecycle/interfaces/meter.go
  operator/controllers/lifecycle/keptnappversion/controller.go
  operator/controllers/lifecycle/keptnevaluation/controller.go
  operator/controllers/lifecycle/keptntask/controller.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller.go
  operator/go.mod
  operator/go.sum
  operator/test/component/common/common.go
Labels: operator

#1427 fix(metrics-operator): introduce IsStatusSet method to KeptnMetric
  metrics-operator/api/v1alpha3/keptnmetric_types.go
  metrics-operator/api/v1alpha3/keptnmetric_types_test.go
Labels: metrics-operator

#1392 docs: content for KeptnTaskDefinition ref and tasks guide
  docs/content/en/docs/concepts/tasks/_index.md
  docs/content/en/docs/concepts/workloads/_index.md
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/tasks/write-tasks/_index.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1376 docs: create "observability" getting started guide
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/observability/assets/dynatrace_dora_dashboard.png
  docs/content/en/docs/install/k8s.md
Labels: documentation

#1362 docs: create pre/post-deploy getting started
  docs/content/en/docs/getting-started/observability/_index.md
Labels: documentation

#1447 docs: fix getting started guides
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/orchestrate/_index.md
Labels: documentation

#1436 chore(operator): make use of status.jobName when searching for job in KeptnTask controller
  operator/apis/lifecycle/v1alpha3/keptntask_test.go
  operator/apis/lifecycle/v1alpha3/keptntask_types.go
  operator/controllers/lifecycle/keptntask/controller.go
  operator/controllers/lifecycle/keptntask/function_utils.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/job_utils_test.go
  operator/test/component/task/task_test.go
Labels: operator

#1443 fix: remove scarf redirect from containers images
  .github/.kubescape/controls-inputs.json
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/release.yml
  .github/workflows/validate-helm-chart.yml
  functions-runtime/README.md
  helm/chart/README.md
  helm/chart/values.yaml
  operator/config/manager/manager.yaml
  renovate.json
Labels: documentation, ops, operator, helm

#1449 docs: final polish of getting started guides
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/metrics/_index.md
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/orchestrate/_index.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/k8s.md
Labels: documentation

#1456 chore(operator): use List() when fetching KeptnWorkloadInstances for KeptnAppVersion
  operator/controllers/common/fake/fakeclient.go
  operator/controllers/lifecycle/keptnappversion/controller_test.go
  operator/controllers/lifecycle/keptnappversion/reconcile_workloadsstate.go
  operator/controllers/lifecycle/keptnappversion/reconcile_workloadstate_test.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller.go
Labels: operator

#1472 chore: standardize generation of resource names
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/apis/lifecycle/v1alpha3/common/common_test.go
  operator/apis/lifecycle/v1alpha3/keptnapp_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkload_types.go
  operator/common/common.go
  operator/common/common_test.go
  operator/controllers/common/helperfunctions.go
  operator/controllers/common/helperfunctions_test.go
  operator/controllers/lifecycle/keptnapp/controller.go
  operator/controllers/lifecycle/keptnapp/controller_test.go
  operator/controllers/lifecycle/keptnappversion/reconcile_workloadsstate.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
  scheduler/pkg/klcpermit/workflow_manager.go
  scheduler/pkg/klcpermit/workflow_manager_test.go
Labels: operator, scheduler

#1466 fix(metrics-operator): improve error handling in metrics providers
  metrics-operator/controllers/common/providers/datadog/datadog.go
  metrics-operator/controllers/common/providers/datadog/datadog_test.go
  metrics-operator/controllers/common/providers/dynatrace/common.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql_test.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
  metrics-operator/controllers/common/providers/provider_test.go
  metrics-operator/controllers/metrics/controller.go
Labels: metrics-operator

#1496 feat: add python-runtime
  python-runtime/Dockerfile
  python-runtime/README.md
  python-runtime/entrypoint.sh
  python-runtime/samples/args.py
  python-runtime/samples/hellopy.py
Labels: documentation

#1497 fix(cert-manager): avoid index-out-of-bounds error when updating webhook configs
  klt-cert-manager/controllers/keptnwebhookcontroller/keptnwebhookcertificate_controller.go
  klt-cert-manager/controllers/keptnwebhookcontroller/webhook_cert_controller_test.go
Labels: cert-manager
