Repository keptn/lifecycle-toolkit, pull requests merged in 2023-07, with the labels that each got.

#1649 fix(operator): parse flags so they can be configured
  operator/config/manager/manager.yaml
  operator/main.go
Labels: operator

#1590 docs: add optional field in secretKeyRef
  docs/content/en/docs/yaml-crd-ref/metricsprovider.md
Labels: documentation

#1661 fix(operator): ensure that generated resource names contain no unallowed character
  operator/common/common.go
  operator/common/common_test.go
  scheduler/pkg/klcpermit/workflow_manager.go
  scheduler/pkg/klcpermit/workflow_manager_test.go
  test/integration/simple-deployment-sanitize-version-number/00-assert.yaml
  test/integration/simple-deployment-sanitize-version-number/00-install.yaml
  test/integration/simple-deployment-sanitize-version-number/00-teststep.yaml
  test/integration/simple-deployment-sanitize-version-number/01-assert.yaml
Labels: operator, scheduler

#1639 docs: move Dora metrics info to "Implementing" section
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/implementing/dora/_index.md
  docs/content/en/docs/implementing/dora/assets/dynatrace_dora_dashboard.png
  docs/content/en/docs/implementing/evaluatemetrics.md
Labels: documentation

#1672 fix(operator): make sure there is exactly one job per task execution
  operator/controllers/lifecycle/keptntask/controller.go
  operator/test/component/task/task_test.go
  test/integration/simple-task/00-install.yaml
  test/integration/simple-task/01-teststep.yaml
  test/integration/simple-task/verify-tasks.sh
Labels: operator

#1678 fix(helm-chart): propagate labels for validation webhook
  Makefile
  helm/chart/Chart.yaml
Labels: helm

#1676 fix(operator): avoid multiple creations of the same KeptnTask
  operator/controllers/common/taskhandler.go
  operator/controllers/common/taskhandler_test.go
  operator/controllers/lifecycle/keptnappversion/controller.go
  operator/test/component/task/task_test.go
  test/integration/app-one-taskdefinition-not-found/00-assert.yaml
  test/integration/app-one-taskdefinition-not-found/00-install.yaml
  test/integration/app-one-taskdefinition-not-found/00-teststep.yaml
  test/integration/app-one-taskdefinition-not-found/01-teststep-verify-number-of-tasks.yaml
  test/integration/common-scripts/verify-number-of-resources.sh
  test/integration/simple-task/01-teststep.yaml
  test/integration/simple-task/verify-tasks.sh
Labels: operator

#1680 ci: use helm-chart as default installation method
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
  test/integration/expose-keptn-metric/00-teststep.yaml
  test/integration/expose-keptn-metric/01-teststep.yaml
  test/integration/expose-keptn-metric/job-existing-metric.yaml
  test/integration/expose-keptn-metric/job-no-metric.yaml
  test/integration/keptn-config/get-logs.sh
  test/testcertificate/cert-recreates/00-assert.yaml
  test/testcertificate/cert-recreates/01-assert.yaml
  test/testcertificate/cert-recreates/02-assert.yaml
Labels: ops

#1688 fix(operator): provide the right app version for single-service applications
  operator/controllers/common/otel_utils.go
  operator/controllers/common/otel_utils_test.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller_test.go
  test/integration/container-runtime/00-assert.yaml
  test/integration/simple-deployment-python-runtime/00-assert.yaml
  test/integration/simple-deployment-recursive-task/01-assert.yaml
  test/integration/simple-deployment-sanitize-version-number/01-assert.yaml
  test/integration/simple-deployment/01-assert.yaml
Labels: operator

#1690 ci: update release doc version
  .github/workflows/release.yml
Labels: ops

#1689 feat: add `interval` field for `kubectl get KeptnMetric`
  metrics-operator/api/v1alpha3/keptnmetric_types.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
Labels: metrics-operator

#1698 chore(operator): unexport EventSender in BuilderOptions
  operator/controllers/lifecycle/keptntask/job_runner_builder.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/runtime_builder.go
  operator/controllers/lifecycle/keptntask/runtime_builder_test.go
Labels: operator

#1697 fix: bump KLT version in helm values
  helm/chart/values.yaml
Labels: helm

#1693 docs: excercises text changed to exercises
  docs/content/en/docs/getting-started/_index.md
Labels: documentation

#1706 docs: fix typo
  docs/content/en/docs/intro-klt.md
Labels: documentation

#1722 docs: fix links in dev builds
  docs/config/staging/params.yaml
Labels: documentation

#1719 ci: create jobs to unassign stale good first issues
  .github/workflows/stale.yml
Labels: ops

#1724 ci: dont mark inactive good first issues with stale label
  .github/workflows/stale.yml
Labels: ops

#1726 fix: take last element in tag as Workload version number
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: operator

#1728 chore: fix minor security issues
  .github/.kubescape/controls-inputs.json
  .github/.kubescape/exceptions.json
  .github/workflows/security-scans.yml
  functions-runtime/Dockerfile
  scheduler/go.mod
  scheduler/go.sum
Labels: ops, scheduler

#1658 feat: update Dynatrace provider to query metrics over a range
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
Labels: metrics-operator

#1715 chore(operator): remove dependency on metrics-operator
  operator/Makefile
  operator/controllers/common/fake/fakeclient.go
  operator/controllers/common/providers/keptnmetric/keptnmetric.go
  operator/controllers/common/providers/keptnmetric/keptnmetric_test.go
  operator/controllers/lifecycle/keptnevaluation/controller_test.go
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/test/api/metrics/v1alpha3/groupversion_info.go
  operator/test/api/metrics/v1alpha3/keptnmetric_types.go
  operator/test/api/metrics/v1alpha3/zz_generated.deepcopy.go
  operator/test/component/common/common.go
  operator/test/component/evaluation/evaluation_test.go
Labels: operator

#1703 docs: document `timeframe` feature for `KeptnMetric`
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  examples/support/metrics/metric.yaml
  metrics-operator/config/samples/metrics_v1alpha3_keptnmetric.yaml
Labels: documentation, metrics-operator

#1754 docs: fix typo
  docs/content/en/partials/_index-data-access-right.md
Labels: documentation

#1733 feat: update stability of Certificate Manager
  README.md
Labels: documentation

#1752 fix: admit pod without creating KLT resources if owner of the pod is not supported
  operator/apis/lifecycle/v1alpha3/common/common.go
  operator/apis/lifecycle/v1alpha3/common/common_test.go
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
  test/integration/unsupported-owner-of-pod/00-assert.yaml
  test/integration/unsupported-owner-of-pod/00-install.yaml
  test/integration/unsupported-owner-of-pod/00-teststep.yaml
Labels: operator

#1692 chore(operator): standardize k8s Events on lifecycle path
  operator/apis/lifecycle/v1alpha3/common/phases.go
  operator/controllers/common/evaluationhandler.go
  operator/controllers/common/evaluationhandler_test.go
  operator/controllers/common/phasehandler.go
  operator/controllers/common/taskhandler.go
  operator/controllers/lifecycle/keptnapp/controller.go
  operator/controllers/lifecycle/keptnapp/controller_test.go
  operator/controllers/lifecycle/keptnappversion/controller.go
  operator/controllers/lifecycle/keptnappversion/controller_test.go
  operator/controllers/lifecycle/keptnappversion/reconcile_workloadsstate.go
  operator/controllers/lifecycle/keptnevaluation/controller.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/runtime_builder.go
  operator/controllers/lifecycle/keptntaskdefinition/reconcile_function.go
  operator/controllers/lifecycle/keptnworkload/controller.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller.go
  operator/controllers/lifecycle/keptnworkloadinstance/controller_test.go
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
Labels: operator

#1753 docs: update docs/content/en/contribute/docs/local-building/index.md
  docs/content/en/contribute/docs/local-building/index.md
Labels: documentation

#1776 docs: fixed typo Troubleshoort to Troubleshoot
  docs/content/en/partials/_index-observability-left.md
Labels: documentation

#1615 feat: update Datadog API to query metrics for range
  metrics-operator/controllers/common/providers/datadog/datadog.go
  metrics-operator/controllers/common/providers/datadog/datadog_test.go
Labels: metrics-operator

#1783 fix: remove klt-cert-manager from version bumps during KLT release
  helm/chart/README.md
  helm/chart/doc.yaml
Labels: documentation, helm

#1755 feat: add `step` field in `KeptnMetric`
  metrics-operator/api/v1alpha3/keptnmetric_types.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook_test.go
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  test/integration/metrics/01-teststep-install.yaml
  test/integration/metrics/02-teststep-assert.yaml
  test/integration/metrics/03-teststep-retrieve-metrics-via-api.yaml
  test/integration/metrics/badmetric1.yaml
  test/integration/metrics/badmetric2.yaml
  test/integration/metrics/goodmetric5.yaml
Labels: metrics-operator

#1793 fix(operator): sanitize app name annotation from uppercase to lowercase
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: operator

#1799 docs: fixed typo
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
Labels: documentation

#1806 docs: update auto generated docs to include `spec.range.step` in `KeptnMetric`
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
Labels: documentation
