Repository keptn/lifecycle-toolkit, pull requests merged in 2023-03, with the labels that each got.

#916 fix: wrong link in the local-setup
  docs/README.md
Labels: documentation

#932 docs: add htmltest verification for documentation
  .github/workflows/htmltest.yaml
  docs/.htmltest.yml
  docs/Makefile
  docs/content/en/docs/concepts/architecture/_index.md
  docs/layouts/partials/navbar-version-selector.html
Labels: documentation, enhancement

#949 docs: add docs publishing information
  docs/README.md
  docs/config/staging/.gitkeep
Labels: documentation

#941 docs: adapt metrics documentation and example
  docs/content/en/docs/concepts/metrics/_index.md
Labels: documentation

#958 chore: add Hugo caching
  .github/workflows/htmltest.yaml
  docs/Makefile
Labels: documentation

#866 docs: enhance contributors guide
  CONTRIBUTING.md
Labels: documentation

#945 docs: migrator for KeptnEvaluationProvider -> KeptnMetricsProvider
  docs/content/en/docs/tasks/migrate-keptnevaluationprovider/_index.md
Labels: documentation

#946 chore: improve markdownlint
  .markdownlint.yaml
  .markdownlintignore
  CONTRIBUTING.md
  Makefile
  docs/Makefile
Labels: documentation, enhancement

#758 docs: add CONTRIBUTING.md file for docs
  docs/CONTRIBUTING.md
Labels: documentation

#925 chore: fix development url in page branch
  docs/config/production/params.yaml
Labels: documentation

#747 docs: use helm charts instead of manifests + document KeptnConfig CRD
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/content/en/docs/concepts/keptnConfig/_index.md
  docs/content/en/docs/crd-ref/_index.md
  docs/content/en/docs/snippets/tasks/install.md
  docs/content/en/docs/tasks/migrate-keptnevaluationprovider/_index.md
  examples/Makefile
  klt-cert-manager/README.md
  metrics-operator/README.md
  operator/README.md
  scheduler/README.md
Labels: documentation

#923 docs: change Development url
  docs/config/_default/params.yaml
  docs/config/production/params.yaml
  docs/config/staging/params.yaml
  netlify.toml
Labels: documentation

#991 docs: update README and CONTRIBUTING instructions
  docs/CONTRIBUTING.md
  docs/README.md
Labels: documentation

#1007 chore: set new documentation approach live
  docs/README.md
  docs/config/_default/params.yaml
  docs/config/production/params.yaml
  netlify.toml
Labels: documentation

#1043 chore: change theme repository
  docs/config/_default/config.yaml
  docs/go.mod
  docs/go.sum
Labels: documentation

#1044 fix: adapted patch for mutating webhook to correctly add release namespace to exclusions
  helm/chart/Chart.yaml
  helm/overlay/kustomization.yaml
Labels: helm

#1016 docs: add KLT components diagram
  docs/config/_default/params.yaml
  docs/content/en/docs/concepts/architecture/_index.md
  docs/content/en/docs/concepts/architecture/components/_index.md
  docs/content/en/docs/concepts/architecture/working/_index.md
Labels: documentation

#1053 fix: fix examples
  dashboards/grafana/configmap/grafana-dashboard-keptn-applications.yaml
  dashboards/grafana/configmap/grafana-dashboard-keptn-workloads.yaml
  dashboards/grafana/grafana_dashboard_applications.json
  dashboards/grafana/grafana_dashboard_workloads.json
  dashboards/grafana/import/grafana_dashboard_applications.json
  dashboards/grafana/import/grafana_dashboard_workloads.json
  examples/support/observability/config/prometheus/grafana-dashboard-keptn-applications.yaml
  examples/support/observability/config/prometheus/grafana-dashboard-keptn-workloads.yaml
  operator/config/manager/kustomization.yaml
  operator/config/manager/service.yaml
Labels: operator

#1055 revert: release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  operator/config/manager/manager.yaml
Labels: documentation, operator

#1047 fix: fix cosign image signing after breaking changes
  .github/workflows/release.yml
Labels: ops

#1058 ci: fix release docs pipeline
  .github/workflows/release.yml
Labels: ops

#962 docs: improve Notes within the documentation
  CONTRIBUTING.md
  docs/README.md
  docs/content/en/docs/crd-ref/_index.md
  docs/content/en/docs/getting-started.md
  klt-cert-manager/README.md
  metrics-operator/README.md
  operator/README.md
  scheduler/README.md
Labels: documentation

#1060 docs: technologies to get familiar before working with KLT
  CONTRIBUTING.md
  docs/content/en/contribute/general/technologies/_index.md
Labels: documentation

#1076 ci: add ns creation as first thing in the installation manifest
  .github/workflows/release.yml
Labels: ops

#1084 feat(operator): additional parameters for KeptnTask to support retry logic
  operator/apis/lifecycle/v1alpha3/keptnappversion_test.go
  operator/apis/lifecycle/v1alpha3/keptnappversion_types.go
  operator/apis/lifecycle/v1alpha3/keptntask_types.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_test.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_types.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  operator/controllers/common/evaluationhandler.go
  operator/controllers/common/evaluationhandler_test.go
  operator/controllers/common/helperfunctions.go
  operator/controllers/common/taskhandler.go
  operator/controllers/common/taskhandler_test.go
  operator/controllers/lifecycle/interfaces/fake/phaseitem_mock.go
  operator/controllers/lifecycle/interfaces/phaseitem.go
  operator/controllers/lifecycle/interfaces/phaseitem_test.go
  operator/controllers/lifecycle/keptnappversion/reconcile_prepostdeployment.go
  operator/controllers/lifecycle/keptnappversion/reconcile_prepostevaluation.go
  operator/controllers/lifecycle/keptnworkloadinstance/reconcile_prepostdeployment.go
  operator/controllers/lifecycle/keptnworkloadinstance/reconcile_prepostevaluation.go
Labels: operator

#1086 fix: generate missing CRD docs, fix validation pipeline
  .github/workflows/markdown-checks.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
Labels: documentation, ops

#1082 fix(helm-chart): fix missing values in the KLT helm chart
  .github/workflows/CI.yaml
  helm/chart/Chart.yaml
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/values.yaml
  klt-cert-manager/config/manager/kustomization.yaml
  metrics-operator/config/manager/kustomization.yaml
  operator/config/manager/kustomization.yaml
  scheduler/manifests/install/kustomization.yaml
Labels: documentation, ops, operator, scheduler, metrics-operator, cert-manager, helm

#1075 ci: fix release pipeline, add more things to release please
  .github/workflows/CI.yaml
  .github/workflows/helm-checks.yaml
  .github/workflows/release.yml
  .github/workflows/validate-helm-docs.yml
  Makefile
  README.md
  docs/content/en/docs/snippets/tasks/install.md
  helm/chart/README.md
  helm/chart/doc.yaml
  klt-cert-manager/Makefile
  klt-cert-manager/config/manager/kustomization.yaml
  metrics-operator/Makefile
  metrics-operator/config/manager/kustomization.yaml
  operator/Makefile
  operator/config/manager/kustomization.yaml
  release-please-config.json
  scheduler/Makefile
  scheduler/manifests/install/kustomization.yaml
Labels: documentation, ops, operator, scheduler, metrics-operator, cert-manager, helm

#1008 ci: add example release logic
  .github/workflows/release-examples.yml
  .github/workflows/release.yml
Labels: ops

#1088 feat(operator): introduce retry logic for KeptnTasks
  operator/apis/lifecycle/v1alpha3/keptnappversion_test.go
  operator/apis/lifecycle/v1alpha3/keptntask_test.go
  operator/apis/lifecycle/v1alpha3/keptntask_types.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptnworkloadinstance_test.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  operator/controllers/common/taskhandler.go
  operator/controllers/common/taskhandler_test.go
  operator/controllers/errors/errors.go
  operator/controllers/lifecycle/keptntask/function_utils.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/job_utils_test.go
  operator/test/component/task/task_test.go
  test/integration/app-failing-pre-task-retry/00-assert.yaml
  test/integration/app-failing-pre-task-retry/00-install.yaml
  test/integration/app-failing-pre-task-retry/00-teststep.yaml
  test/integration/app-failing-pre-task-timeout/00-assert.yaml
  test/integration/app-failing-pre-task-timeout/00-install.yaml
  test/integration/app-failing-pre-task-timeout/00-teststep.yaml
Labels: operator

#1096 chore(operator): read-only RBAC for KeptnConfig controller
  operator/config/rbac/role.yaml
  operator/controllers/options/keptnconfig_controller.go
Labels: operator

#1105 docs: update list of videos about KLT
  docs/content/en/docs/intro-klt.md
Labels: documentation

#1099 docs: make cert-manager and manifest installation a detail
  docs/content/en/docs/getting-started.md
  docs/content/en/docs/snippets/tasks/install.md
Labels: documentation

#1097 feat(operator): polish `KeptnConfig` and use Env Var for initial configuration
  docs/content/en/docs/crd-ref/options/v1alpha1/_index.md
  operator/apis/options/v1alpha1/keptnconfig_types.go
  operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  operator/config/manager/manager.yaml
  operator/config/samples/options_v1alpha1_keptnconfig.yaml
  operator/controllers/options/keptnconfig_controller.go
  operator/main.go
Labels: documentation, operator

#1093 fix: move prometheus install into make file
  .github/actions/deploy-prometheus-on-cluster/action.yml
  Makefile
Labels: ops

#1126 docs(operator): adjust docs comment
  docs/content/en/docs/crd-ref/options/v1alpha1/_index.md
  operator/apis/options/v1alpha1/keptnconfig_types.go
Labels: documentation, operator

#1145 fix(metrics-operator): normalize Dynatrace URL
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
Labels: metrics-operator

#1157 chore: improve CRD docs generation script output
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
Labels: ops

#1134 feat(operator): bootstrapped KeptnAppCreationRequest CRD
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/values.yaml
  operator/PROJECT
  operator/apis/lifecycle/v1alpha3/keptnappcreationrequest_types.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptnappcreationrequests.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/webhook_in_lifecycle_keptnappcreationrequests.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/lifecycle_keptnappcreationrequest_editor_role.yaml
  operator/config/rbac/lifecycle_keptnappcreationrequest_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/lifecycle_v1alpha3_keptnappcreationrequest.yaml
  operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  operator/controllers/lifecycle/keptnappcreationrequest/controller_test.go
  operator/main.go
  test/integration/app-creation-request/00-assert.yaml
  test/integration/app-creation-request/00-install.yaml
Labels: documentation, operator, helm
