Repository keptn/lifecycle-toolkit, pull requests merged in 2023-06, with the labels that each got.

#1493 feat(operator): introduce container-runtime runner
  examples/sample-app/base/container-task.yaml
  examples/sample-app/version-1/app.yaml
  examples/sample-app/version-2/app.yaml
  examples/sample-app/version-3/app.yaml
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types_test.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  operator/config/samples/lifecycle_v1alpha3_keptntaskdefinition.yaml
  operator/config/samples/lifecycle_v1alpha3_keptntaskdefinition_container.yaml
  operator/config/samples/lifecycle_v1alpha3_keptntaskdefinition_js.yaml
  operator/controllers/lifecycle/keptntask/container_builder.go
  operator/controllers/lifecycle/keptntask/container_builder_test.go
  operator/controllers/lifecycle/keptntask/job_runner_builder.go
  operator/controllers/lifecycle/keptntask/job_runner_builder_test.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/job_utils_test.go
  operator/controllers/lifecycle/keptntask/js_builder.go
  operator/controllers/lifecycle/keptntask/js_builder_test.go
  operator/controllers/lifecycle/keptntaskdefinition/reconcile_function.go
  operator/test/component/task/task_test.go
  operator/test/component/taskdefinition/taskdefinition_test.go
  test/integration/container-runtime/00-assert.yaml
  test/integration/container-runtime/00-install.yaml
  test/integration/container-runtime/00-teststep.yaml
Labels: operator

#1507 docs: regenerate CRD docs
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
Labels: documentation

#1509 chore(operator): explicitly define ImagePullPolicy of Job container to IfNotPresent
  operator/controllers/lifecycle/keptntask/js_builder.go
Labels: operator

#1505 feat: integrate python-runtime into pipelines
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/helm-checks.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/performance-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/validate-semantic-pr.yml
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/values.yaml
  operator/config/manager/manager.yaml
  python-runtime/Dockerfile
  renovate.json
Labels: documentation, ops, operator, helm

#1514 feat: add validating webhook for KeptnTaskDefinition
  operator/PROJECT
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook_test.go
  operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  operator/config/default/manager_webhook_patch.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/lifecycle/interfaces/fake/phaseitem_mock.go
  operator/main.go
  test/integration/validate-taskdefinition/00-teststep-install.yaml
  test/integration/validate-taskdefinition/01-teststep-assert.yaml
  test/integration/validate-taskdefinition/badtaskdefinition.yaml
  test/integration/validate-taskdefinition/goodtaskdefinition.yaml
Labels: operator

#1529 fix(operator): use new RuntimeSpec instead of FunctionSpec
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook_test.go
Labels: operator

#1535 ci: remove requirement for semantic commit in single-commit PRs
  .github/workflows/validate-semantic-pr.yml
Labels: ops

#1537 fix: added the missing link
  docs/content/en/docs/intro-klt.md
Labels: documentation

#1544 docs: updated the misspelled word
  docs/content/en/docs/getting-started/metrics/_index.md
Labels: documentation

#1534 feat(operator): adapt TaskDefinition validation webhook to consider python and deno runtime
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook.go
  operator/apis/lifecycle/v1alpha3/keptntaskdefinition_webhook_test.go
  test/integration/validate-taskdefinition/00-teststep-install.yaml
  test/integration/validate-taskdefinition/01-teststep-assert.yaml
  test/integration/validate-taskdefinition/td_bad_container_deno.yaml
  test/integration/validate-taskdefinition/td_bad_container_function.yaml
  test/integration/validate-taskdefinition/td_bad_container_python.yaml
  test/integration/validate-taskdefinition/td_bad_empty.yaml
  test/integration/validate-taskdefinition/td_bad_function_deno.yaml
  test/integration/validate-taskdefinition/td_bad_function_python.yaml
  test/integration/validate-taskdefinition/td_bad_python_deno.yaml
  test/integration/validate-taskdefinition/td_good_container.yaml
  test/integration/validate-taskdefinition/td_good_deno.yaml
  test/integration/validate-taskdefinition/td_good_function.yaml
  test/integration/validate-taskdefinition/td_good_python.yaml
Labels: operator

#1501 ci: add script to release current documentation status
  .github/scripts/generate-latest-doc.sh
  .gitignore
Labels: ops

#1461 docs: fix link to v1 docs
  docs/config/_default/config.yaml
Labels: documentation

#1412 docs: refactor contributing guide - linter requirements
  CONTRIBUTING.md
  docs/content/en/contribute/docs/linter-requirements/_index.md
Labels: documentation

#1523 docs: refactor contributing guide - source file structure
  docs/CONTRIBUTING.md
  docs/content/en/contribute/docs/source-file-structure/_index.md
Labels: documentation

#1411 docs: refactor contributing guide - general guidelines
  docs/CONTRIBUTING.md
  docs/content/en/contribute/docs/contribution-guidelines/_index.md
Labels: documentation

#1484 docs: refactor contributing guide - local building
  docs/CONTRIBUTING.md
  docs/content/en/contribute/docs/local-building/index.md
Labels: documentation

#1550 chore: remove space in python sample folder
  operator/config/samples/python_execution/taskdefinition_pyfunction_configmap.yaml
  operator/config/samples/python_execution/taskdefinition_pyfunction_inline.yaml
  operator/config/samples/python_execution/taskdefinition_pyfunction_inline_printargs_py.yaml
  operator/config/samples/python_execution/taskdefinition_pyfunction_upstream_hellopy.yaml
Labels: operator

#1554 chore: add example for python task definition
  operator/config/samples/python_execution/taskdefinition_pyfunction_recursive.yaml
  operator/config/samples/python_execution/taskdefinition_pyfunction_use_envvars.yaml
Labels: operator

#1562 docs: fix typos
  docs/content/en/docs/intro-klt.md
Labels: documentation

#1495 docs: update KLT intro page
  docs/content/en/docs/intro-klt.md
Labels: documentation

#1536 chore(operator): refactor KeptnTask controller logic
  operator/controllers/lifecycle/keptntask/container_builder.go
  operator/controllers/lifecycle/keptntask/container_builder_test.go
  operator/controllers/lifecycle/keptntask/controller.go
  operator/controllers/lifecycle/keptntask/job_runner_builder.go
  operator/controllers/lifecycle/keptntask/job_runner_builder_test.go
  operator/controllers/lifecycle/keptntask/job_utils.go
  operator/controllers/lifecycle/keptntask/job_utils_test.go
  operator/controllers/lifecycle/keptntask/runtime_builder.go
  operator/controllers/lifecycle/keptntask/runtime_builder_test.go
  test/integration/simple-deployment-recursive-task/01-assert.yaml
Labels: operator

#1566 chore: website edit links should point to page
  docs/config/production/params.yaml
Labels: documentation

#1563 chore: remove decoder injector interface from webhook
  operator/main.go
  operator/webhooks/pod_mutator/pod_mutating_webhook.go
  operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: operator

#1567 ci: add check for latest version and fix cache path
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
Labels: ops

#1578 docs: fix typo
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
Labels: documentation

#1520 docs: delete obsolete pages
  docs/content/en/docs/concepts/apps/assets/trace.png
  docs/content/en/docs/concepts/keptnConfig/_index.md
  docs/content/en/docs/concepts/metrics/_index.md
  docs/content/en/docs/concepts/overview/_index.md
  docs/content/en/docs/concepts/overview/how-it-works/_index.md
  docs/content/en/docs/concepts/overview/phases/_index.md
  docs/content/en/docs/concepts/workloads/_index.md
  docs/content/en/docs/tasks/evaluate/_index.md
Labels: documentation

#1583 docs: fix edit links
  .github/workflows/release.yml
  docs/Makefile
  docs/go.mod
  docs/go.sum
  netlify.toml
Labels: documentation, ops

#1549 docs: add docs for Python runtime
  docs/config/_default/config.yaml
  docs/config/_default/params.yaml
  docs/content/en/docs/_index.md
  netlify.toml
  operator/config/samples/python_execution/taskdefinition_pyfunction_inline.yaml
  python-runtime/README.md
Labels: documentation, ops, operator

#1586 fix(helm-chart): fix Python runtime version number
  helm/chart/README.md
  helm/chart/values.yaml
  klt-cert-manager/.gitignore
  metrics-operator/.gitignore
  operator/config/manager/manager.yaml
Labels: documentation, operator, helm

#1572 docs: remove old "Tasks" section from docs
  docs/content/en/docs/implementing/add-app-awareness/index.md
  docs/content/en/docs/implementing/restart-application-deployment/_index.md
  docs/content/en/docs/tasks/_index.md
  docs/content/en/docs/tasks/implement-slack-notification/_index.md
  docs/content/en/docs/yaml-crd-ref/app.md
Labels: documentation

#1492 docs: add content to implementing/otel page
  docs/content/en/docs/implementing/assets/dynatrace_dora_dashboard.png
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/install/k8s.md
  examples/support/observability/README.md
Labels: documentation

#1612 docs: re-generate CRD docs
  docs/content/en/docs/crd-ref/metrics/v1alpha3/_index.md
Labels: documentation

#1611 docs: `deno` rather than `function` for deno-runtime runner
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#1506 docs: set up Migration Guide
  docs/content/en/docs/install/_index.md
  docs/content/en/docs/migrate/_index.md
  docs/content/en/docs/migrate/cicd/_index.md
  docs/content/en/docs/migrate/day2/_index.md
  docs/content/en/docs/migrate/evaluations/_index.md
  docs/content/en/docs/migrate/evolution-klt/_index.md
  docs/content/en/docs/migrate/install/_index.md
  docs/content/en/docs/migrate/jes/_index.md
  docs/content/en/docs/migrate/metrics-observe/_index.md
  docs/content/en/docs/migrate/setup/_index.md
  docs/content/en/docs/migrate/strategy/_index.md
Labels: documentation

#1613 docs: minor improvement for docs contribution guide
  docs/content/en/contribute/docs/source-file-structure/_index.md
Labels: documentation

#1629 chore: replace stale bot with GH actions workflow
  .github/stale.yml
  .github/workflows/stale.yml
Labels: ops

#1636 docs: fix </details> ending under watch pods in _index.md
  docs/content/en/docs/getting-started/generic-gs/_index.md
Labels: documentation

#1645 docs: fix installation steps in E2E example
  docs/content/en/docs/getting-started/generic-gs/_index.md
Labels: documentation

#1587 feat: update Prometheus API to query metrics over a range
  metrics-operator/controllers/common/providers/prometheus/prometheus.go
  metrics-operator/controllers/common/providers/prometheus/prometheus_test.go
Labels: metrics-operator
