Repository keptn/lifecycle-toolkit, pull requests merged in 2023-10, with the labels that each got.

#2194 feat(metrics-operator): implement interface for analysis value retrieval in DQL provider
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql_test.go
Labels: metrics-operator

#1902 docs: move docs branch sections from readme to contrib guide
  docs/CONTRIBUTING.md
Labels: documentation

#2200 feat(lifecycle-operator): add helm chart for lifecycle operator
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/generate-helm-docs.sh
  .github/scripts/helm-test.sh
  .github/workflows/validate-helm-chart.yml
  .yamllint
  helm/.gitignore
  helm/chart/README.md
  helm/chart/doc.yaml
  helm/chart/templates/lifecycle-manager-config.yaml
  helm/chart/values.yaml
  lifecycle-operator/.gitignore
  lifecycle-operator/chart/.helmignore
  lifecycle-operator/chart/Chart.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/doc.yaml
  lifecycle-operator/chart/templates/_helpers.tpl
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/templates/extension-apiserver-authentication-reader-rbac.yaml
  lifecycle-operator/chart/templates/keptn-scheduler-rbac.yaml
  lifecycle-operator/chart/templates/keptnapp-crd.yaml
  lifecycle-operator/chart/templates/keptnappcreationrequest-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluation-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationprovider-crd.yaml
  lifecycle-operator/chart/templates/keptntask-crd.yaml
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadinstance-crd.yaml
  lifecycle-operator/chart/templates/leader-election-rbac.yaml
  lifecycle-operator/chart/templates/lifecycle-manager-config.yaml
  lifecycle-operator/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-leader-election-rbac.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-metrics-service.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-rbac.yaml
  lifecycle-operator/chart/templates/lifecycle-validating-webhook-configuration.yaml
  lifecycle-operator/chart/templates/lifecycle-webhook-service.yaml
  lifecycle-operator/chart/templates/scheduler-config.yaml
  lifecycle-operator/chart/templates/server-resources-rbac.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/default/manager_webhook_patch.yaml
  lifecycle-operator/config/manager/kustomization.yaml
  lifecycle-operator/config/manager/manager.yaml
Labels: documentation, ops, helm, lifecycle-operator

#2213 fix(metrics-operator): use context with timeout for fetching analysis values
  metrics-operator/controllers/analysis/worker_pool.go
  metrics-operator/controllers/analysis/worker_pool_test.go
Labels: metrics-operator

#2212 feat(lifecycle-operator): automatically decide for scheduler installation based on k8s version
  docs/assets/scheduler-gates/gate-removed.yaml
  docs/assets/scheduler-gates/gated.yaml
  docs/assets/scheduler-gates/scheduler.yaml
  docs/content/en/docs/architecture/_index.md
  docs/content/en/docs/architecture/components/_index.md
  docs/content/en/docs/architecture/components/lifecycle-operator/_index.md
  docs/content/en/docs/architecture/components/metrics-operator/_index.md
  docs/content/en/docs/architecture/components/scheduler/_index.md
  docs/content/en/docs/architecture/keptn-apps/_index.md
  docs/content/en/docs/architecture/working/_index.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/migrate/strategy/_index.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/templates/extension-apiserver-authentication-reader-rbac.yaml
  lifecycle-operator/chart/templates/keptn-scheduler-rbac.yaml
  lifecycle-operator/chart/templates/scheduler-config.yaml
Labels: documentation, lifecycle-operator

#2152 feat(lifecycle-operator): introduce metric showing readiness of operator
  lifecycle-operator/main.go
  test/testmetrics/metrics/04-teststep-check-active-metrics.yaml
  test/testmetrics/metrics/check-active-metrics.sh
Labels: lifecycle-operator

#2202 docs: add KeptnApp reference in getting started
  docs/content/en/docs/getting-started/_index.md
Labels: documentation

#2049 docs: begin official word list for Keptn documentation
  docs/content/en/contribute/docs/word-list/_index.md
Labels: documentation

#2229 fix: change klt to keptn for annotations and certs
  .github/scripts/.helm-tests/default/result.yaml
  docs/content/en/docs/architecture/cert-manager.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/operate/cert-manager.md
  klt-cert-manager/chart/templates/certificate-operator-rbac.yaml
  klt-cert-manager/config/rbac/role.yaml
  klt-cert-manager/controllers/keptnwebhookcontroller/keptnwebhookcertificate_controller.go
  klt-cert-manager/pkg/common/config.go
  lifecycle-operator/chart/templates/keptnapp-crd.yaml
  lifecycle-operator/chart/templates/keptnappcreationrequest-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluation-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationprovider-crd.yaml
  lifecycle-operator/chart/templates/keptntask-crd.yaml
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadinstance-crd.yaml
  lifecycle-operator/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  lifecycle-operator/chart/templates/lifecycle-validating-webhook-configuration.yaml
  lifecycle-operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  lifecycle-operator/webhooks/config.go
  metrics-operator/chart/templates/analysis-crd.yaml
  metrics-operator/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/chart/templates/metrics-validating-webhook-configuration.yaml
  metrics-operator/go.mod
  metrics-operator/go.sum
  test/integration/app-creation-request/00-assert.yaml
  test/integration/app-creation-request/01-assert.yaml
  test/integration/podtato-head-application-auto-app-discovery/00-assert.yaml
  test/testcertificate/cert-recreates/00-assert.yaml
  test/testcertificate/cert-recreates/00-teststep.yaml
  test/testcertificate/cert-recreates/01-assert.yaml
  test/testcertificate/cert-recreates/01-delete.yaml
  test/testcertificate/cert-recreates/02-assert.yaml
  test/testcertificate/cert-recreates/02-install.yaml
  test/testcertificate/cert-recreates/02-teststep.yaml
Labels: documentation, metrics-operator, cert-manager, lifecycle-operator

#2228 chore: update pipelines to work with new helm charts
  .github/workflows/CI.yaml
  .github/workflows/validate-helm-chart.yml
  chart/doc.yaml
  chart/values.yaml
Labels: ops

#2258 fix(cert-manager): exclude CRDs from cache to avoid excessive memory usage
  klt-cert-manager/controllers/keptnwebhookcontroller/keptnwebhookcertificate_controller.go
  klt-cert-manager/main.go
Labels: cert-manager

#2250 feat(lifecycle-operator): introduce v1alpha4 API version for KeptnWorkloadInstance
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  docs/content/en/docs/crd-ref/lifecycle/v1alpha4/_index.md
  lifecycle-operator/PROJECT
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1alpha4/groupversion_info.go
  lifecycle-operator/apis/lifecycle/v1alpha4/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1alpha4/keptnworkloadversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1alpha4/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-rbac.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/config/crd/kustomization.yaml
  lifecycle-operator/config/crd/patches/webhook_in_lifecycle_keptnworkloadversions.yaml
  lifecycle-operator/config/rbac/keptnworkloadversion_editor_role.yaml
  lifecycle-operator/config/rbac/keptnworkloadversion_viewer_role.yaml
  lifecycle-operator/config/rbac/lifecycle_keptnworkloadversion_editor_role.yaml
  lifecycle-operator/config/rbac/lifecycle_keptnworkloadversion_viewer_role.yaml
  lifecycle-operator/config/samples/lifecycle_v1alpha4_keptnworkloadversion.yaml
  lifecycle-operator/main.go
  test/integration/workloadversion/00-assert.yaml
  test/integration/workloadversion/00-install.yaml
Labels: documentation, ops, lifecycle-operator

#2233 chore(lifecycle-operator): refactor pod mutating webhook
  lifecycle-operator/main.go
  lifecycle-operator/webhooks/pod_mutator/handlers/appcreationrequest_handler.go
  lifecycle-operator/webhooks/pod_mutator/handlers/appcreationrequest_handler_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/fake/decoder_mock.go
  lifecycle-operator/webhooks/pod_mutator/handlers/fake/handler_mock.go
  lifecycle-operator/webhooks/pod_mutator/handlers/kubernetes.go
  lifecycle-operator/webhooks/pod_mutator/handlers/objectmeta.go
  lifecycle-operator/webhooks/pod_mutator/handlers/objectmeta_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload_test.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: lifecycle-operator

#2244 feat(lifecycle-operator): introduce option to enable lifecycle orchestration only for specific namespaces
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
  Makefile
  README.md
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/doc.yaml
  lifecycle-operator/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  lifecycle-operator/chart/values.yaml
  test/allowed-namespaces/simple-deployment-allowed/00-assert.yaml
  test/allowed-namespaces/simple-deployment-allowed/00-install.yaml
  test/allowed-namespaces/simple-deployment-allowed/00-teststep.yaml
  test/allowed-namespaces/simple-deployment-allowed/01-assert.yaml
  test/allowed-namespaces/simple-deployment-not-allowed/00-assert.yaml
  test/allowed-namespaces/simple-deployment-not-allowed/00-install.yaml
  test/allowed-namespaces/simple-deployment-not-allowed/00-teststep.yaml
  test/allowed-namespaces/simple-deployment-not-allowed/01-verify.yaml
  test/common-scripts/verify-number-of-resources.sh
  test/integration/app-one-taskdefinition-not-found/01-teststep-verify-number-of-tasks.yaml
  test/integration/simple-task/01-teststep.yaml
Labels: documentation, ops, lifecycle-operator

#2251 docs: how to migrate quality gates to Keptn Analysis feature
  docs/content/en/docs/migrate/metrics-observe/_index.md
  docs/content/en/docs/migrate/strategy/_index.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
Labels: documentation

#2277 docs: ref pages for Analysis CRDs
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
  docs/content/en/docs/yaml-crd-ref/crd-template.md
Labels: documentation

#2138 docs: restructure KeptnTaskDefinition, clarify httpRef and functionRef
  docs/content/en/docs/implementing/tasks/_index.md
  docs/content/en/docs/migrate/strategy/_index.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#2270 docs: upgrade Keptn to Helm from a manifest installation
  docs/content/en/docs/install/upgrade.md
Labels: documentation

#2127 docs: how to use software dev environment
  docs/content/en/contribute/general/technologies/_index.md
  docs/content/en/contribute/software/dev-environ/_index.md
  docs/content/en/docs/intro/_index.md
Labels: documentation

#2283 chore(scheduler): improve logging
  scheduler/pkg/klcpermit/permit.go
  scheduler/pkg/klcpermit/workflow_manager.go
Labels: scheduler

#2103 docs: add KeptnTask ref page; enhance guide chapter for keptn-no-k8s
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  docs/content/en/docs/yaml-crd-ref/task.md
Labels: documentation

#2289 fix(lifecycle-operator): make sure the CloudEvents endpoint from the KeptnConfig is applied
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
  lifecycle-operator/main.go
Labels: lifecycle-operator

#2295 docs: fix typo in analysis.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
Labels: documentation

#2281 feat: move helm docs into values files
  .github/scripts/generate-helm-docs.sh
  .github/workflows/validate-helm-chart.yml
  chart/doc.yaml
  chart/values.yaml
  klt-cert-manager/chart/README.md
  klt-cert-manager/chart/doc.yaml
  klt-cert-manager/chart/values.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/doc.yaml
  lifecycle-operator/chart/values.yaml
  metrics-operator/chart/README.md
  metrics-operator/chart/doc.yaml
  metrics-operator/chart/values.yaml
Labels: documentation, ops, metrics-operator, cert-manager, lifecycle-operator

#2312 deps: replace otel libraries with newer versions
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: metrics-operator

#2294 docs: restructure getting-started section
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/assets/webhook.site.1.png
  docs/content/en/docs/getting-started/assets/webhook.site.2.png
  docs/content/en/docs/getting-started/assets/webhook.site.3.png
  docs/content/en/docs/getting-started/observability/_index.md
  docs/content/en/docs/getting-started/observability/assets/deploymenttrace.png
  docs/content/en/docs/getting-started/observability/assets/grafana.png
  docs/content/en/docs/getting-started/observability/assets/install01.png
  docs/content/en/docs/getting-started/observability/assets/install02.png
  docs/content/en/docs/getting-started/observability/assets/keptnapplications.png
  docs/content/en/docs/getting-started/observability/assets/keptnprommetrics.png
  docs/content/en/docs/getting-started/observability/assets/nginx.png
  docs/content/en/docs/getting-started/observability/assets/podtatohead.png
  docs/content/en/docs/getting-started/observability/assets/trace-failed.png
  docs/content/en/docs/getting-started/tasks/_index.md
  docs/content/en/docs/getting-started/usecase_metrics.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/intro/_index.md
  docs/content/en/docs/intro/usecase-observability.md
  docs/content/en/docs/intro/usecase-orchestrate.md
  docs/content/en/docs/yaml-crd-ref/metric.md
Labels: documentation

#2315 docs: refine info about configuring Grafana/Jaeger
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/install/k8s.md
Labels: documentation

#2326 docs: correct getting-started info about using KeptnConfig
  docs/content/en/docs/getting-started/observability/_index.md
Labels: bug, documentation

#2325 ci: run report creation and upload only in case of failure
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/performance-test.yml
Labels: ops

#2293 docs: more comments for tasks-non-k8s-apps
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  docs/content/en/docs/yaml-crd-ref/task.md
Labels: documentation

#2327 docs: add links to most workload word occurrences
  docs/content/en/docs/architecture/deployment-flow.md
  docs/content/en/docs/getting-started/usecase_metrics.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/evaluations.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/intro/_index.md
  docs/content/en/docs/intro/usecase-observability.md
  docs/content/en/docs/intro/usecase-orchestrate.md
  docs/content/en/docs/troubleshooting.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/config.md
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
Labels: documentation

#2310 chore(lifecycle-operator): remove spans for reconciliation loops, adjust log levels
  lifecycle-operator/controllers/common/evaluationhandler.go
  lifecycle-operator/controllers/common/evaluationhandler_test.go
  lifecycle-operator/controllers/common/helperfunctions.go
  lifecycle-operator/controllers/common/phasehandler.go
  lifecycle-operator/controllers/common/phasehandler_test.go
  lifecycle-operator/controllers/common/taskhandler.go
  lifecycle-operator/controllers/errors/errors.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_workloadstate_test.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller.go
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/controller.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptnworkload/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/app/app_test.go
  lifecycle-operator/test/component/evaluation/evaluation_suite_test.go
  lifecycle-operator/test/component/task/task_suite_test.go
  lifecycle-operator/test/component/workload/workload_test.go
Labels: lifecycle-operator

#2330 ci: drop manifests support in CI pipelines
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
Labels: ops

#2331 chore(lifecycle-operator): remove spans created by webhook
  lifecycle-operator/main.go
  lifecycle-operator/webhooks/pod_mutator/handlers/appcreationrequest_handler.go
  lifecycle-operator/webhooks/pod_mutator/handlers/appcreationrequest_handler_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload_test.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook.go
  lifecycle-operator/webhooks/pod_mutator/pod_mutating_webhook_test.go
Labels: lifecycle-operator

#2332 docs: remove empty and outdated pages
  docs/content/en/docs/architecture/working/_index.md
  docs/content/en/docs/implementing/add-app-awareness/index.md
  docs/content/en/docs/implementing/slack.md
  docs/content/en/docs/intro/usecase-orchestrate.md
  docs/content/en/docs/operate/_index.md
  docs/content/en/docs/yaml-crd-ref/crd-template.md
Labels: documentation

#2353 deps(metrics-operator): replace grpc version with v1.58.3
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: metrics-operator

#2355 chore: revert elastic/crd-ref-docs back to 0.0.9
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
Labels: ops

#2357 chore: update release please config to work with umbrella chart
  klt-cert-manager/chart/values.yaml
  lifecycle-operator/chart/values.yaml
  metrics-operator/chart/values.yaml
  release-please-config.json
Labels: metrics-operator, cert-manager, lifecycle-operator

#2359 chore: update cert-manager chart versions
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  klt-cert-manager/chart/Chart.yaml
  klt-cert-manager/chart/README.md
  klt-cert-manager/chart/values.yaml
Labels: documentation, cert-manager

#2365 docs: add example files for day 2 operations docs PR
  docs/content/en/docs/implementing/day-2-operations/assets/app-updated-version.yaml
  docs/content/en/docs/implementing/day-2-operations/assets/app-with-new-workload.yaml
  docs/content/en/docs/implementing/day-2-operations/assets/deployment-initial.yaml
  docs/content/en/docs/implementing/day-2-operations/assets/deployment-new-image-and-version.yaml
  docs/content/en/docs/implementing/day-2-operations/assets/deployment-new-image.yaml
  docs/content/en/docs/implementing/day-2-operations/assets/new-deployment.yaml
Labels: documentation

#2361 fix: helm charts image registry, image pull policy and install action
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/actions/deploy-klt-on-cluster/values.yaml
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/values.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/values.yaml
  klt-cert-manager/chart/README.md
  klt-cert-manager/chart/values.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/values.yaml
  metrics-operator/chart/README.md
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/chart/values.yaml
Labels: documentation, ops, metrics-operator, cert-manager, lifecycle-operator

#2364 fix(scheduler): ignore OTel security issue in scheduler
  .github/workflows/security-scans.yml
  .trivyignore
Labels: ops

#2336 docs: adapt landing page with better fitting titles and links
  docs/content/en/_index.md
  docs/content/en/partials/_index-deployment-checks-left.md
  docs/content/en/partials/_index-gather-metrics-left.md
  docs/content/en/partials/_index-gather-metrics-right.md
Labels: documentation

#2384 docs: clarify referenced titles in intro
  docs/content/en/docs/intro/_index.md
Labels: documentation

#2390 docs: add required labels to required CRD fields (KeptnApp, KeptnConfig, KeptnEvaluationDefinition)
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/config.md
  docs/content/en/docs/yaml-crd-ref/evaluationdefinition.md
Labels: documentation

#2388 docs: add required labels to required CRD fields (KeptnTask, KeptnMetric, KeptnMetricsProvider, KeptnTaskDefintion)
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/metricsprovider.md
  docs/content/en/docs/yaml-crd-ref/task.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation

#2356 docs: add required labels to required CRD fields (Analysis, AnalysisDefinition, AnalysisValueTemplate)
  docs/content/en/docs/implementing/slo/_index.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
Labels: documentation

#2333 docs: bold rendering only for folders
  .github/mlc_config.json
  docs/content/en/docs/architecture/cert-manager.md
  docs/content/en/docs/architecture/components/lifecycle-operator.md
  docs/content/en/docs/architecture/components/metrics-operator.md
  docs/content/en/docs/architecture/components/scheduler.md
  docs/content/en/docs/architecture/keptn-apps.md
  docs/content/en/docs/getting-started/assets/deploymenttrace.png
  docs/content/en/docs/getting-started/assets/grafana.png
  docs/content/en/docs/getting-started/assets/install01.png
  docs/content/en/docs/getting-started/assets/install02.png
  docs/content/en/docs/getting-started/assets/keptnapplications.png
  docs/content/en/docs/getting-started/assets/keptnprommetrics.png
  docs/content/en/docs/getting-started/assets/nginx.png
  docs/content/en/docs/getting-started/assets/podtatohead.png
  docs/content/en/docs/getting-started/assets/trace-failed.png
  docs/content/en/docs/getting-started/lifecycle-management.md
  docs/content/en/docs/getting-started/metrics.md
  docs/content/en/docs/getting-started/observability.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/integrate/_index.md
  docs/content/en/docs/implementing/slo/_index.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/reqs.md
  docs/content/en/docs/install/troubleshooting.md
  docs/content/en/docs/intro/_index.md
  docs/content/en/docs/intro/usecase-observability.md
  docs/content/en/docs/intro/usecase-orchestrate.md
  docs/content/en/docs/migrate/metrics-observe.md
  docs/content/en/docs/migrate/strategy.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
Labels: documentation, ops

#2387 chore: fix PR template location and filename
  .github/pull_request_template.md
Labels: ops

#2381 docs: guide instructions to create KeptnMetric resource
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/yaml-crd-ref/metric.md
Labels: documentation

#2278 docs: add instructions on how to update a workload
  docs/content/en/docs/implementing/day-2-operations/_index.md
Labels: documentation

#2391 chore(helm-chart): generate umbrella chart lock
  chart/Chart.lock
  klt-cert-manager/chart/Chart.lock
  lifecycle-operator/chart/Chart.lock
  metrics-operator/chart/Chart.lock
Labels: metrics-operator, cert-manager, lifecycle-operator
