Repository keptn/lifecycle-toolkit, pull requests merged in 2023-12, with the labels that each got.

#2609 chore: introduce dev environment setup for documentation
  .github/actions/spelling/expect.txt
  .gitignore
  Makefile
  docs-new/CONTRIBUTING.md
  mkdocs.yml
Labels: documentation, ops

#2539 docs: add links to official Grafana documentation for creating and modifying dashboards
  .markdownlint-cli2.yaml
  dashboards/grafana/README.md
Labels: documentation

#2638 chore: clean up unused volumes
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/config/manager/manager.yaml
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/config/manager/manager.yaml
Labels: metrics-operator, lifecycle-operator

#2642 docs: document Secret configuration for KeptnMetricsProvider types
  docs-new/docs/getting-started/metrics.md
  docs-new/docs/guides/evaluatemetrics.md
  docs-new/docs/reference/crd-reference/assets/keptnmetricsprovider-datadog.yaml
  docs-new/docs/reference/crd-reference/assets/keptnmetricsprovider-dynatrace.yaml
  docs-new/docs/reference/crd-reference/assets/keptnmetricsprovider-prometheus.yaml
  docs-new/docs/reference/crd-reference/metricsprovider.md
Labels: documentation

#2647 ci: add GitHub repo stats action
  .github/actions/spelling/expect.txt
  .github/workflows/github-repo-stats.yml
Labels: ops

#2604 docs: migrate old Keptn links to new URL
  docs-new/docs/guides/slo.md
  docs-new/docs/migrate/metrics-observe.md
  docs-new/docs/migrate/strategy.md
  docs/content/en/docs/guides/slo.md
  docs/content/en/docs/migrate/metrics-observe.md
  docs/content/en/docs/migrate/strategy.md
Labels: documentation

#2645 docs: add content to all section index pages
  Makefile
  docs-new/docs/components/index.md
  docs-new/docs/getting-started/index.md
  docs-new/docs/guides/index.md
  docs-new/docs/index.md
  docs-new/docs/installation/configuration/index.md
  docs-new/docs/reference/api-reference/lifecycle/index.md
  docs-new/docs/reference/api-reference/metrics/index.md
  docs-new/docs/reference/api-reference/options/index.md
  docs-new/docs/reference/index.md
  docs-new/docs/use-cases/index.md
Labels: documentation

#2651 docs: update HtmlTest and API docs generator for new docs page
  .github/actions/spelling/expect.txt
  .github/scripts/generate-crd-docs/crd-docs-generator-config-lifecycle-v1alpha4.yaml
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  .github/scripts/generate-crd-docs/templates/gv_list.tpl
  .github/scripts/generate-crd-docs/templates/index-template.md
  .github/workflows/htmltest.yaml
  .gitignore
  Makefile
  docs-new/.htmltest.yml
  docs-new/Makefile
  docs-new/docs/components/lifecycle-operator/keptn-apps.md
  docs-new/docs/contribute/general/dco.md
  docs-new/docs/core-concepts/usecase-orchestrate.md
  docs-new/docs/getting-started/lifecycle-management.md
  docs-new/docs/guides/evaluations.md
  docs-new/docs/guides/integrate.md
  docs-new/docs/guides/tasks.md
  docs-new/docs/reference/api-reference/lifecycle/v1alpha1/index.md
  docs-new/docs/reference/api-reference/lifecycle/v1alpha2/index.md
  docs-new/docs/reference/api-reference/lifecycle/v1alpha3/index.md
  docs-new/docs/reference/api-reference/lifecycle/v1alpha4/index.md
  docs-new/docs/reference/api-reference/metrics/v1alpha1/index.md
  docs-new/docs/reference/api-reference/metrics/v1alpha2/index.md
  docs-new/docs/reference/api-reference/metrics/v1alpha3/index.md
  docs-new/docs/reference/api-reference/metrics/v1beta1/index.md
  docs-new/docs/reference/api-reference/options/v1alpha1/index.md
  docs-new/docs/reference/crd-reference/app.md
  docs-new/docs/reference/crd-reference/taskdefinition.md
  docs-new/overrides/home.html
  docs-new/overrides/partials/header.html
  mkdocs.yml
Labels: documentation, ops

#2583 docs: remove old observability and orchestrate get-started guides
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  docs-new/docs/core-concepts/index.md
  docs-new/docs/core-concepts/usecase-observability.md
  docs-new/docs/core-concepts/usecase-orchestrate.md
  docs-new/docs/getting-started/metrics.md
  docs-new/docs/reference/crd-reference/app.md
  docs-new/docs/reference/crd-reference/taskdefinition.md
  docs/content/en/_index.md
  docs/content/en/docs/core-concepts/_index.md
  docs/content/en/docs/core-concepts/usecase-observability.md
  docs/content/en/docs/core-concepts/usecase-orchestrate.md
  docs/content/en/docs/getting-started/metrics.md
  docs/content/en/docs/guides/evaluations.md
  docs/content/en/docs/reference/crd-reference/app.md
  docs/content/en/docs/reference/crd-reference/taskdefinition.md
  mkdocs.yml
Labels: documentation, ops

#2676 docs: fix the navigation to Keptn v1 Docs
  docs/config/_default/config.yaml
Labels: documentation

#2672 docs: interim landing page
  .github/actions/spelling/expect.txt
  .github/workflows/spell-checker.yml
  .readthedocs.yaml
  docs-new/Makefile
  docs-new/assets/images/capabilities-01.svg
  docs-new/assets/images/capabilities-03.svg
  docs-new/assets/images/capabilities-04.svg
  docs-new/assets/images/higher-compliance.png
  docs-new/assets/images/keptn-icon-white.svg
  docs-new/assets/images/keptn-logo-white.svg
  docs-new/assets/images/logo-mobile.svg
  docs-new/assets/stylesheets/color-schemes.css
  docs-new/assets/stylesheets/home.css
  docs-new/index.md
  docs-new/overrides/home.html
  mkdocs.yml
Labels: documentation, ops

#2691 docs: enable and setup blog plugin
  .github/actions/spelling/expect.txt
  docs-new/.htmltest.yml
  docs-new/blog/.authors.yml
  docs-new/blog/index.md
  docs-new/blog/posts/a-test-post.md
  docs-new/blog/posts/a-test-post/test-graphic.png
  mkdocs.yml
Labels: documentation, ops

#2615 docs: explain quantity data type for analysis targets
  .github/actions/spelling/expect.txt
  docs-new/docs/guides/slo.md
  docs-new/docs/reference/crd-reference/analysisdefinition.md
  docs/content/en/docs/guides/slo.md
  docs/content/en/docs/reference/crd-reference/analysisdefinition.md
Labels: documentation, ops

#2696 deps: update artifact upload and download actions to v4
  .github/actions/deploy-keptn-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/performance-test.yml
  .github/workflows/security-scans.yml
Labels: ops

#2704 docs: surround embedded yaml files with backticks
  docs-new/docs/components/scheduling.md
  docs-new/docs/guides/evaluations.md
  docs-new/docs/installation/index.md
  docs-new/docs/installation/tips-tricks.md
  docs-new/docs/reference/crd-reference/analysis.md
  docs-new/docs/reference/crd-reference/analysisvaluetemplate.md
  docs-new/docs/reference/crd-reference/taskdefinition.md
  docs-new/docs/use-cases/day-2-operations.md
  docs-new/docs/use-cases/hpa.md
Labels: documentation

#2703 ci: ignore spell-checker adaptations in CI workflow
  .github/workflows/CI.yaml
Labels: ops

#2639 docs: restructure info on tasks and evaluations
  .github/actions/spelling/expect.txt
  docs-new/docs/components/lifecycle-operator/keptn-apps.md
  docs-new/docs/getting-started/lifecycle-management.md
  docs-new/docs/guides/evaluations.md
  docs-new/docs/guides/integrate.md
  docs-new/docs/guides/tasks.md
  docs-new/docs/reference/crd-reference/app.md
  docs-new/docs/reference/crd-reference/taskdefinition.md
  docs/content/en/docs/components/lifecycle-operator/keptn-apps.md
  docs/content/en/docs/getting-started/lifecycle-management.md
  docs/content/en/docs/guides/auto-app-discovery.md
  docs/content/en/docs/guides/evaluations.md
  docs/content/en/docs/guides/integrate.md
  docs/content/en/docs/guides/tasks.md
  docs/content/en/docs/reference/crd-reference/taskdefinition.md
Labels: documentation, ops

#2709 docs: add umbrella charts blog post
  .github/actions/spelling/expect.txt
  docs-new/blog/.authors.yml
  docs-new/blog/posts/keptn-helm-umbrella-charts.md
  docs-new/blog/posts/keptn-helm-umbrella-charts/values.yaml
  mkdocs.yml
Labels: documentation, ops

#2708 feat(cert-manager): introduce a no-op implementation of ICertificateWatcher
  keptn-cert-manager/pkg/certificates/watcher.go
  keptn-cert-manager/pkg/certificates/watcher_test.go
Labels: cert-manager

#2664 chore: disable keptn cert manager secret check
  .github/scripts/.helm-tests/certificates-only/values.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/values.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/values.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-only/values.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/values.yaml
  chart/Chart.lock
  chart/Chart.yaml
  chart/NOTES.txt
  chart/README.md
  chart/values.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/config/manager/manager.yaml
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  lifecycle-operator/main.go
  metrics-operator/chart/README.md
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/chart/values.yaml
  metrics-operator/config/manager/manager.yaml
  metrics-operator/go.mod
  metrics-operator/go.sum
  metrics-operator/main.go
Labels: documentation, ops, metrics-operator, lifecycle-operator
