Repository keptn/lifecycle-toolkit, pull requests merged in 2023-11, with the labels that each got.

#2334 chore: remove manifests usage from security-scans
  .github/workflows/CI.yaml
  .github/workflows/security-scans.yml
Labels: ops

#2397 chore: adapt helm chart pipeline to substitue local paths before syncing with charts repository
  .github/workflows/CI.yaml
  chart/Chart.yaml
Labels: ops

#2352 fix(lifecycle-operator): fix app deployment span structure
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnapp_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnapp_types.go
  lifecycle-operator/controllers/common/telemetry/spanhandler.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/app/app_suite_test.go
  lifecycle-operator/test/component/app/app_test.go
  lifecycle-operator/test/component/load/load_suite_test.go
  lifecycle-operator/test/component/load/load_test.go
Labels: lifecycle-operator

#2400 chore: add example of values.yaml
  docs/content/en/docs/install/assets/values-advance-changes.yaml
  docs/content/en/docs/install/assets/values-only-lifecycle.yaml
  docs/content/en/docs/install/assets/values-only-metrics.yaml
  docs/content/en/docs/install/assets/values-remove-certmanager.yaml
Labels: documentation

#2299 chore(lifecycle-operator): make evaluationhandler injectable in `KeptnWorkloadVersionController`
  lifecycle-operator/controllers/common/evaluation/evaluationhandler.go
  lifecycle-operator/controllers/common/evaluation/evaluationhandler_test.go
  lifecycle-operator/controllers/common/evaluation/fake/evaluationhandler_mock.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_prepostevaluation.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/reconcile_prepostevaluation.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/workloadversion/workloadinstance_suite_test.go
Labels: lifecycle-operator

#2398 docs: unify styling of implementing folder
  docs/content/en/contribute/software/dev-environ/_index.md
  docs/content/en/docs/architecture/components/metrics-operator.md
  docs/content/en/docs/architecture/components/scheduler.md
  docs/content/en/docs/architecture/keptn-apps.md
  docs/content/en/docs/getting-started/lifecycle-management.md
  docs/content/en/docs/getting-started/observability.md
  docs/content/en/docs/implementing/assets/app-updated-version.yaml
  docs/content/en/docs/implementing/assets/app-with-new-workload.yaml
  docs/content/en/docs/implementing/assets/deployment-initial.yaml
  docs/content/en/docs/implementing/assets/deployment-new-image-and-version.yaml
  docs/content/en/docs/implementing/assets/deployment-new-image.yaml
  docs/content/en/docs/implementing/assets/new-deployment.yaml
  docs/content/en/docs/implementing/assets/trace.png
  docs/content/en/docs/implementing/day-2-operations.md
  docs/content/en/docs/implementing/dora.md
  docs/content/en/docs/implementing/dora/assets/dynatrace_dora_dashboard.png
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/evaluations.md
  docs/content/en/docs/implementing/integrate.md
  docs/content/en/docs/implementing/otel.md
  docs/content/en/docs/implementing/restart-application-deployment.md
  docs/content/en/docs/implementing/slo.md
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  docs/content/en/docs/implementing/tasks.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/k8s.md
  docs/content/en/docs/intro/_index.md
  docs/content/en/docs/intro/usecase-observability.md
  docs/content/en/docs/intro/usecase-orchestrate.md
  docs/content/en/docs/migrate/metrics-observe.md
  docs/content/en/docs/migrate/strategy.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
  docs/content/en/docs/yaml-crd-ref/app.md
  docs/content/en/docs/yaml-crd-ref/config.md
  docs/content/en/docs/yaml-crd-ref/task.md
  docs/content/en/docs/yaml-crd-ref/taskdefinition.md
  docs/layouts/shortcodes/docsembed.html
Labels: documentation

#2254 feat: add configurable service account to KeptnTasks
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  test/integration/serviceaccount-in-jobs/00-assert.yaml
  test/integration/serviceaccount-in-jobs/00-install.yaml
Labels: documentation, lifecycle-operator

#2395 docs: remove manifest install instructions
  docs/content/en/docs/implementing/integrate.md
  docs/content/en/docs/implementing/tasks-non-k8s-apps.md
  docs/content/en/docs/install/install.md
  docs/content/en/docs/install/troubleshooting.md
Labels: documentation

#2406 chore: fix yq command for helm chart sync
  .github/workflows/CI.yaml
Labels: ops

#2407 chore: fix helm chart sync workflow
  .github/workflows/CI.yaml
Labels: ops

#2366 chore: use templated values in install action and security workflow
  .github/actions/deploy-klt-on-cluster/action.yml
  .github/actions/deploy-klt-on-cluster/values.yaml
  .github/workflows/security-scans.yml
Labels: ops

#2402 chore(lifecycle-operator): make evaluationhandler injectable in KeptnAppVersionController
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_prepostevaluation.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
Labels: lifecycle-operator

#2428 chore(lifecycle-operator): renamed TracerFactory to tracerFactory workloadversion
  lifecycle-operator/test/component/workloadversion/workloadinstance_suite_test.go
Labels: lifecycle-operator

#2417 chore(lifecycle-operator): refactor `WorkloadVersionReconciler`
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
Labels: lifecycle-operator

#2440 fix(lifecycle-operator): adopt KeptnApp name from either Keptn or k8s label
  lifecycle-operator/webhooks/pod_mutator/handlers/appcreationrequest_handler.go
  test/integration/simple-deployment-k8s-recommended-label/00-assert.yaml
  test/integration/simple-deployment-k8s-recommended-label/00-install.yaml
  test/integration/simple-deployment-k8s-recommended-label/00-teststep.yaml
  test/integration/simple-deployment-k8s-recommended-label/01-assert.yaml
Labels: lifecycle-operator

#2437 docs: adjust open graph metadata
  docs/config/_default/params.yaml
  docs/config/production/params.yaml
  docs/content/en/_index.md
Labels: documentation

#2439 ci: validate Helm Chart workflow run only on charts changes
  .github/workflows/validate-helm-chart.yml
Labels: ops

#2444 ci: fix Helm Chart validation workflow syntax
  .github/workflows/validate-helm-chart.yml
Labels: ops

#2316 feat: configure spell checker github action
  .github/workflows/spell-checker.yml
Labels: ops

#2449 chore: add more dictionaries to spell checker action
  .github/workflows/spell-checker.yml
Labels: ops

#2445 docs: update list of primary doc folders/titles
  docs/content/en/contribute/docs/source-file-structure/_index.md
Labels: documentation

#2457 feat(metrics-operator)!: release Analysis feature
  .github/actions/deploy-klt-on-cluster/values.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  metrics-operator/chart/README.md
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/chart/values.yaml
  metrics-operator/main.go
Labels: documentation, ops, metrics-operator

#2424 docs: analysis feature in 0.9.0
  docs/content/en/docs/implementing/slo.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
Labels: documentation

#2450 chore(lifecycle-operator): introduce PhaseHandler interface to be used in KeptnWorkloadVersion reconciler
  .github/actions/spelling/expect.txt
  lifecycle-operator/controllers/common/phase/fake/handler_mock.go
  lifecycle-operator/controllers/common/phase/handler.go
  lifecycle-operator/controllers/common/phase/handler_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/workloadversion/workloadversion_suite_test.go
Labels: ops, lifecycle-operator

#2389 docs: clarify scheduler architecture info
  docs/content/en/docs/architecture/components/scheduler.md
Labels: documentation

#2404 feat: introduce configurable TTLSecondsAfterFinished for tasks
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/content/en/docs/crd-ref/lifecycle/v1alpha3/_index.md
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  test/integration/TTLSecondsAfterFinished-in-jobs/00-assert.yaml
  test/integration/TTLSecondsAfterFinished-in-jobs/00-install.yaml
Labels: documentation, lifecycle-operator

#2441 docs: edits to enhance install.md file
  docs/content/en/docs/install/install.md
Labels: documentation

#2451 chore: update renovate config to ignore test repos
  .github/actions/spelling/expect.txt
  renovate.json
Labels: ops

#2481 fix: security issues
  .github/workflows/security-scans.yml
  .trivyignore
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: ops, metrics-operator

#2460 docs: move docs-tooling into repo
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/patterns.txt
  docs/assets/icons/logo.svg
  docs/config/_default/config.yaml
  docs/config/_default/params.yaml
  docs/config/staging/params.yaml
  docs/go.mod
  docs/go.sum
  docs/layouts/_default/_markup/render-link.html
  docs/layouts/_default/sitemap.xml
  docs/layouts/partials/hooks/body-end.html
  docs/layouts/partials/hooks/head-end.html
  docs/layouts/partials/navbar-version-selector.html
  docs/layouts/shortcodes/embed.html
  docs/static/favicons/_head.html
  docs/static/favicons/android-chrome-192x192.png
  docs/static/favicons/android-chrome-512x512.png
  docs/static/favicons/android-chrome-maskable-192x192.png
  docs/static/favicons/android-chrome-maskable-512x512.png
  docs/static/favicons/apple-touch-icon.png
  docs/static/favicons/favicon.ico
  docs/static/favicons/favicon.png
  docs/static/favicons/favicon.svg
  docs/static/favicons/icongen.zip
  docs/static/images/home/capabilities/capabilities-01.svg
  docs/static/images/home/capabilities/capabilities-02.svg
  docs/static/images/home/capabilities/capabilities-03.svg
  docs/static/images/home/capabilities/capabilities-04.svg
  docs/static/images/home/capabilities/capabilities-05.svg
  docs/static/images/home/hero/keptn-logo-white.svg
  docs/static/images/icons.svg
  docs/static/images/logo-mobile.svg
  docs/static/images/logo.svg
  docs/static/images/why-keptn/background-lines.png
  docs/static/images/why-keptn/easy-extensibility.png
  docs/static/images/why-keptn/higher-compliance.png
  docs/static/images/why-keptn/intro.png
  docs/static/images/why-keptn/maintenance.png
  docs/static/images/why-keptn/observability.png
  docs/static/images/why-keptn/tool-integrations.png
  docs/static/js/libs/doc/lightbox/images/close.png
  docs/static/js/libs/doc/lightbox/images/loading.gif
  docs/static/js/libs/doc/lightbox/images/next.png
  docs/static/js/libs/doc/lightbox/images/prev.png
Labels: documentation, ops

#2463 chore(lifecycle-operator): adapt KeptnAppVersionReconciler to make use of PhaseHandler interface
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
Labels: lifecycle-operator

#2420 chore: improve docs release
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: ops

#2493 fix(metrics-operator): disable conversion webhook for KeptnMetric
  metrics-operator/config/crd/kustomization.yaml
Labels: metrics-operator

#2496 docs: use metrics v1beta1 API version
  .github/scripts/keptnevaluationprovider_migrator.sh
  docs/content/en/docs/architecture/components/metrics-operator.md
  docs/content/en/docs/getting-started/metrics.md
  docs/content/en/docs/implementing/evaluatemetrics.md
  docs/content/en/docs/implementing/slo.md
  docs/content/en/docs/migrate/metrics-observe.md
  docs/content/en/docs/yaml-crd-ref/analysis.md
  docs/content/en/docs/yaml-crd-ref/analysisdefinition.md
  docs/content/en/docs/yaml-crd-ref/analysisvaluetemplate.md
  docs/content/en/docs/yaml-crd-ref/metric.md
  docs/content/en/docs/yaml-crd-ref/metricsprovider.md
  examples/sample-app/base/metric.yaml
  examples/sample-app/base/provider.yaml
  examples/support/analysis/README.md
  examples/support/metrics/README.md
  examples/support/metrics/hpa.yaml
  examples/support/metrics/metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/available-cpus-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/consumed-memory-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/metricsprovider.yaml
Labels: documentation, ops

#2471 feat: add annotation to select container for version extraction
  lifecycle-operator/apis/lifecycle/v1alpha3/common/common.go
  lifecycle-operator/webhooks/pod_mutator/handlers/objectmeta.go
  lifecycle-operator/webhooks/pod_mutator/handlers/objectmeta_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation_test.go
  scheduler/pkg/klcpermit/workflow_manager.go
  scheduler/pkg/klcpermit/workflow_manager_test.go
Labels: scheduler, lifecycle-operator

#2503 docs: fix weights for contrib/docs files
  docs/content/en/contribute/docs/contrib-guidelines-docs/_index.md
  docs/content/en/contribute/docs/linter-requirements/_index.md
  docs/content/en/contribute/docs/local-building/_index.md
Labels: documentation, chore

#2510 chore: update renovate file to allow more makefile regex patterns, pin markdownlint version
  docs/Makefile
  renovate.json
Labels: documentation

#2499 test: introduce e2e test for keptn.sh/container annotation
  lifecycle-operator/webhooks/pod_mutator/handlers/objectmeta.go
  test/integration/simple-deployment-container-annotation/00-assert.yaml
  test/integration/simple-deployment-container-annotation/00-install.yaml
  test/integration/simple-deployment-container-annotation/00-teststep.yaml
  test/integration/simple-deployment-container-annotation/01-assert.yaml
  test/integration/simple-deployment-container-annotation/01-install.yaml
Labels: lifecycle-operator

#2501 fix(metrics-operator): improve troubleshooting for Analyses
  metrics-operator/controllers/analysis/provider_selector.go
  metrics-operator/controllers/analysis/provider_selector_test.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
Labels: metrics-operator

#2500 docs: add documentation for keptn.sh/container annotation
  docs/content/en/docs/implementing/integrate.md
Labels: documentation

#2511 docs: remove duplicated DORA section from otel.md
  docs/content/en/docs/implementing/dora.md
  docs/content/en/docs/implementing/otel.md
Labels: documentation

#2442 docs: add installation tips and tricks page
  .github/actions/spelling/expect.txt
  docs/content/en/docs/install/tips-tricks.md
Labels: documentation, ops

#2515 chore: use different image for opengraph metadata
  docs/config/_default/params.yaml
  docs/config/production/params.yaml
  docs/static/images/logo-social.svg
Labels: documentation

#2520 chore(metrics-operator): cleanup metrics operator v1alpha logic
  metrics-operator/api/v1alpha1/keptnmetric_conversion.go
  metrics-operator/api/v1alpha1/keptnmetric_conversion_test.go
  metrics-operator/api/v1alpha1/keptnmetric_types.go
  metrics-operator/api/v1alpha2/keptnmetric_conversion.go
  metrics-operator/api/v1alpha2/keptnmetric_conversion_test.go
  metrics-operator/api/v1alpha2/keptnmetric_types.go
  metrics-operator/api/v1alpha2/keptnmetricsprovider_test.go
  metrics-operator/api/v1alpha2/keptnmetricsprovider_types.go
  metrics-operator/api/v1alpha3/analysis_types.go
  metrics-operator/api/v1alpha3/analysis_types_test.go
  metrics-operator/api/v1alpha3/analysis_webhook.go
  metrics-operator/api/v1alpha3/analysis_webhook_test.go
  metrics-operator/api/v1alpha3/analysisdefinition_types.go
  metrics-operator/api/v1alpha3/analysisdefinition_types_test.go
  metrics-operator/api/v1alpha3/analysisdefinition_webhook.go
  metrics-operator/api/v1alpha3/analysisdefinition_webhook_test.go
  metrics-operator/api/v1alpha3/common.go
  metrics-operator/api/v1alpha3/common_test.go
  metrics-operator/api/v1alpha3/keptnmetric_conversion.go
  metrics-operator/api/v1alpha3/keptnmetric_types.go
  metrics-operator/api/v1alpha3/keptnmetric_types_test.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook.go
  metrics-operator/api/v1alpha3/keptnmetric_webhook_test.go
  metrics-operator/api/v1alpha3/keptnmetricsprovider_types.go
  metrics-operator/api/v1alpha3/keptnmetricsprovider_types_test.go
Labels: metrics-operator

#2523 refactor: adapt SLI and SLO converters to convert to `v1beta1` metrics API resources
  metrics-operator/converter/sli_converter.go
  metrics-operator/converter/sli_converter.md
  metrics-operator/converter/sli_converter_test.go
  metrics-operator/converter/slo_converter.go
  metrics-operator/converter/slo_converter.md
  metrics-operator/converter/slo_converter_test.go
Labels: documentation, metrics-operator

#2533 docs: adapt SLI and SLO converters in migration guide
  docs/content/en/docs/migrate/metrics-observe.md
Labels: documentation

#2516 feat(lifecycle-operator): add `KEPTN_CONTEXT` to task container env vars
  lifecycle-operator/controllers/lifecycle/keptntask/container_builder.go
  lifecycle-operator/controllers/lifecycle/keptntask/container_builder_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_runner_builder.go
  lifecycle-operator/controllers/lifecycle/keptntask/runtime_builder.go
  test/integration/container-runtime/00-assert.yaml
Labels: lifecycle-operator

#2521 feat(lifecycle-operator): rename CONTEXT to KEPTN_CONTEXT in task runtimes
  docs/content/en/docs/implementing/tasks.md
  lifecycle-operator/controllers/lifecycle/keptntask/container_builder.go
  lifecycle-operator/controllers/lifecycle/keptntask/container_builder_test.go
  lifecycle-operator/controllers/lifecycle/keptntask/runtime_builder.go
  runtimes/deno-runtime/entrypoint.sh
  runtimes/deno-runtime/samples/ts/slack.ts
  test/integration/simple-deployment-recursive-task/01-assert.yaml
  test/integration/simple-task/00-assert.yaml
  test/integration/simple-task/00-install.yaml
Labels: documentation, lifecycle-operator

#2536 feat(lifecycle-operator): add option to exclude additional namespaces
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  lifecycle-operator/chart/values.yaml
Labels: documentation, lifecycle-operator

#2542 docs: fix typo
  docs/content/en/partials/_index-observability-left.md
Labels: documentation

#2546 chore: use new search engine ID
  docs/config/production/params.yaml
Labels: documentation

#2543 docs: introduce uninstall page
  docs/content/en/docs/installation/_index.md
  docs/content/en/docs/installation/uninstall.md
Labels: documentation

#2540 docs: improve HPA user guide
  docs/assets/hpa/hpa.yaml
  docs/assets/hpa/keptnmetric.yaml
  docs/assets/hpa/sample-app.yaml
  docs/content/en/docs/use-cases/hpa.md
Labels: documentation

#2544 docs: move auto-generated API reference to /reference folder
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  .github/workflows/markdown-checks.yaml
  docs/content/en/contribute/docs/source-file-structure/_index.md
  docs/content/en/contribute/docs/word-list/_index.md
  docs/content/en/docs/components/lifecycle-operator/keptn-apps.md
  docs/content/en/docs/components/metrics-operator/_index.md
  docs/content/en/docs/core-concepts/_index.md
  docs/content/en/docs/guides/evaluations.md
  docs/content/en/docs/guides/integrate.md
  docs/content/en/docs/guides/tasks.md
  docs/content/en/docs/migrate/strategy.md
  docs/content/en/docs/reference/api-reference/_index.md
  docs/content/en/docs/reference/api-reference/lifecycle/_index.md
  docs/content/en/docs/reference/api-reference/lifecycle/v1alpha1/_index.md
  docs/content/en/docs/reference/api-reference/lifecycle/v1alpha2/_index.md
  docs/content/en/docs/reference/api-reference/lifecycle/v1alpha3/_index.md
  docs/content/en/docs/reference/api-reference/lifecycle/v1alpha4/_index.md
  docs/content/en/docs/reference/api-reference/metrics/_index.md
  docs/content/en/docs/reference/api-reference/metrics/v1alpha1/_index.md
  docs/content/en/docs/reference/api-reference/metrics/v1alpha2/_index.md
  docs/content/en/docs/reference/api-reference/metrics/v1alpha3/_index.md
  docs/content/en/docs/reference/api-reference/metrics/v1beta1/_index.md
  docs/content/en/docs/reference/api-reference/options/_index.md
  docs/content/en/docs/reference/api-reference/options/v1alpha1/_index.md
  docs/content/en/docs/reference/crd-reference/_index.md
  docs/content/en/docs/reference/crd-reference/analysis.md
  docs/content/en/docs/reference/crd-reference/analysisdefinition.md
  docs/content/en/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/content/en/docs/reference/crd-reference/config.md
  docs/content/en/docs/reference/crd-reference/metricsprovider.md
  docs/content/en/docs/reference/crd-reference/task.md
  docs/content/en/docs/reference/crd-reference/taskdefinition.md
Labels: documentation, ops

#2557 fix: links for api docs
  docs/content/en/docs/use-cases/hpa.md
  metrics-operator/converter/sli_converter.md
  metrics-operator/converter/slo_converter.md
Labels: documentation, metrics-operator

#2549 feat(lifecycle-operator): support imagePullSecrets in KeptnTaskDefinitions
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/content/en/docs/reference/api-reference/lifecycle/v1alpha3/_index.md
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  test/integration/imagepullsecret/00-assert.yaml
  test/integration/imagepullsecret/00-install.yaml
  test/integration/imagepullsecret/00-teststep.yaml
Labels: documentation, ops, lifecycle-operator

#2590 docs: remove Scarf transparent pixels
  README.md
  dashboards/grafana/README.md
  examples/sample-app/README.md
  examples/support/argo/README.md
  examples/support/observability/README.md
  lifecycle-operator/README.md
  runtimes/deno-runtime/README.md
  runtimes/python-runtime/README.md
Labels: documentation, lifecycle-operator

#2589 docs: alphabetize crd-ref section
  docs/content/en/docs/reference/crd-reference/analysis.md
  docs/content/en/docs/reference/crd-reference/analysisdefinition.md
  docs/content/en/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/content/en/docs/reference/crd-reference/app.md
  docs/content/en/docs/reference/crd-reference/config.md
  docs/content/en/docs/reference/crd-reference/evaluationdefinition.md
  docs/content/en/docs/reference/crd-reference/metric.md
  docs/content/en/docs/reference/crd-reference/metricsprovider.md
  docs/content/en/docs/reference/crd-reference/task.md
  docs/content/en/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#2593 chore(lifecycle-operator): remove `OTEL_COLLECTOR_URL` env var in favour of related option in `KeptnConfig` CRD
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/manager/manager.yaml
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
  lifecycle-operator/main.go
Labels: documentation, lifecycle-operator

#2588 docs: mention `KEPTN_CONTEXT` env var in runtime readmes files
  runtimes/deno-runtime/README.md
  runtimes/python-runtime/README.md
Labels: documentation

#2571 feat(lifecycle-operator): add Helm value for DORA metrics port
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/main.go
Labels: documentation, lifecycle-operator

#2599 chore: add config file for ReadTheDocs
  .github/actions/spelling/expect.txt
  .readthedocs.yaml
Labels: ops

#2603 chore: set up MkDocs
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/workflows/htmltest.yaml
  .gitignore
  docs-new/assets/higher-compliance.png
  docs-new/assets/javascripts/versions.js
  docs-new/assets/keptn-icon-white.svg
  docs-new/assets/stylesheets/home.css
  docs-new/assets/stylesheets/versions.css
  docs-new/docs/index.md
  docs-new/index.md
  docs-new/overrides/home.html
  docs-new/overrides/main.html
  mkdocs.yml
  requirements.txt
Labels: documentation, ops

#2611 docs: add MkDocs header override to enable version dropdown menu
  .github/actions/spelling/expect.txt
  docs-new/overrides/partials/header.html
Labels: ops

#2616 docs: fix embedded file
  docs-new/docs/installation/index.md
Labels: documentation

#2617 docs: remove folders with single index files
  .github/workflows/CI.yaml
  docs-new/docs/components/assets/gate-removed.yaml
  docs-new/docs/components/assets/gated.yaml
  docs-new/docs/components/assets/scheduler.yaml
  docs-new/docs/components/certificate-operator.md
  docs-new/docs/components/metrics-operator.md
  docs-new/docs/components/scheduling.md
  docs-new/docs/contribute/docs/contrib-guidelines-docs.md
  docs-new/docs/contribute/docs/linter-requirements.md
  docs-new/docs/contribute/docs/local-building.md
  docs-new/docs/contribute/docs/publish.md
  docs-new/docs/contribute/docs/source-file-structure.md
  docs-new/docs/contribute/docs/word-list.md
  docs-new/docs/contribute/docs/yaml-crd-ref-template.md
  docs-new/docs/contribute/general/codespace.md
  docs-new/docs/contribute/general/contrib-guidelines-gen.md
  docs-new/docs/contribute/general/dco.md
  docs-new/docs/contribute/general/git/branch-create.md
  docs-new/docs/contribute/general/git/fork-clone.md
  docs-new/docs/contribute/general/git/pr-create.md
  docs-new/docs/contribute/general/git/review.md
  docs-new/docs/contribute/general/technologies.md
  docs-new/docs/contribute/software/dev-environ.md
  docs-new/docs/getting-started/metrics.md
  docs-new/docs/installation/configuration/cert-manager.md
  docs-new/docs/installation/configuration/vcluster.md
  docs-new/docs/installation/index.md
  docs-new/docs/reference/crd-reference/metric.md
  mkdocs.yml
Labels: documentation, ops
