Repository keptn/lifecycle-toolkit, pull requests merged in 2024-01, with the labels that each got.

#2750 docs: fix spell checker
  .github/actions/spelling/expect.txt
Labels: ops

#2730 docs: remove test post blog post from docs
  docs-new/blog/posts/a-test-post.md
  docs-new/blog/posts/a-test-post/test-graphic.png
Labels: documentation

#2749 docs: update link to Slack channel
  docs/CONTRIBUTING.md
Labels: documentation

#2745 docs: remove square brackets from contribute/general/technologies
  docs-new/docs/contribute/general/technologies.md
  docs/content/en/contribute/general/technologies/_index.md
Labels: documentation

#2751 docs: remove indentation to fix code blocks
  docs-new/docs/contribute/docs/contrib-guidelines-docs.md
  docs-new/docs/contribute/docs/local-building.md
  docs-new/docs/contribute/software/dev-environ.md
  docs-new/docs/guides/dora.md
  docs-new/docs/guides/otel.md
  docs-new/docs/installation/index.md
  docs-new/docs/installation/k8s.md
  docs-new/docs/migrate/metrics-observe.md
  docs-new/docs/reference/api-reference/index.md
Labels: documentation

#2746 docs: capitalize keptnmetric && update keptnMetric and KeptnMetricsProvider apiVersion
  docs-new/docs/getting-started/metrics.md
  docs-new/docs/guides/evaluatemetrics.md
  docs/content/en/docs/getting-started/metrics.md
  docs/content/en/docs/guides/evaluatemetrics.md
Labels: documentation

#2767 fix(lifecycle-operator): duplicate version in project file
  lifecycle-operator/PROJECT
Labels: lifecycle-operator

#2758 docs: link to contrib guide from docs-new/CONTRIBUTING.md
  docs-new/CONTRIBUTING.md
Labels: bug, documentation

#2769 feat(lifecycle-operator): introduce keptnappcontext crd
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs-new/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/PROJECT
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappcontext_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnappcontext-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcontexts.yaml
  lifecycle-operator/config/crd/kustomization.yaml
  lifecycle-operator/config/crd/patches/webhook_in_lifecycle_keptnappcontexts.yaml
  lifecycle-operator/config/rbac/lifecycle_keptnappcontext_editor_role.yaml
  lifecycle-operator/config/rbac/lifecycle_keptnappcontext_viewer_role.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnappcontext.yaml
  test/integration/podtato-head-application-keptnappcontext/00-assert.yaml
  test/integration/podtato-head-application-keptnappcontext/00-install.yaml
  test/integration/podtato-head-application-keptnappcontext/00-teststep.yaml
Labels: documentation, ops, lifecycle-operator

#2742 chore(scheduler): adapt namespace name
  scheduler/manifests/install/base/deployment.yaml
  scheduler/manifests/install/base/rbac.yaml
  scheduler/manifests/install/base/serviceaccount.yaml
  scheduler/manifests/install/kustomization.yaml
Labels: scheduler

#2755 fix(metrics-operator): use correct from/to timestamps for analyses using `timeframe.recent`
  metrics-operator/pkg/metrics/analysis/results.go
Labels: metrics-operator

#2771 chore: downgrade download artifact action
  .github/actions/deploy-keptn-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/performance-test.yml
  .github/workflows/security-scans.yml
Labels: ops

#2778 docs: analysis for non-k8s deployments
  docs-new/docs/migrate/strategy.md
  docs-new/docs/use-cases/non-k8s.md
Labels: documentation

#2504 docs: add spell-checker to contributing docs
  docs-new/docs/contribute/docs/spell-check.md
  docs/content/en/contribute/docs/spell-check/_index.md
  mkdocs.yml
Labels: documentation

#2602 docs: edit lifecycle management getting started
  docs-new/docs/getting-started/lifecycle-management.md
  docs/content/en/docs/getting-started/lifecycle-management.md
Labels: documentation

#2756 docs: add yaml snippet for keptnMetric Provider
  docs-new/docs/getting-started/assets/metric-providers.yaml
  docs-new/docs/getting-started/assets/metric.yaml
  docs-new/docs/getting-started/metrics.md
  docs-new/docs/guides/assets/metric-providers.yaml
  docs-new/docs/guides/assets/metric.yaml
  docs-new/docs/guides/evaluatemetrics.md
Labels: documentation

#2706 chore: remove performance-test workflow and relative makefile entry
  .github/workflows/CI.yaml
  .github/workflows/performance-test.yml
  lifecycle-operator/Makefile
  lifecycle-operator/test/component/DEVELOPER.md
  lifecycle-operator/test/e2e/DEVELOPER.md
Labels: documentation, ops, lifecycle-operator

#2713 chore(metrics-operator): make Dynatrace DQL provider oAuth URL configurable
  .github/actions/spelling/expect.txt
  metrics-operator/controllers/common/providers/dynatrace/client/client_test.go
  metrics-operator/controllers/common/providers/dynatrace/client/common.go
  metrics-operator/controllers/common/providers/dynatrace/client/common_test.go
  metrics-operator/controllers/common/providers/dynatrace/client/config.go
  metrics-operator/controllers/common/providers/dynatrace/client/config_test.go
  metrics-operator/controllers/common/providers/dynatrace/common.go
  metrics-operator/controllers/common/providers/dynatrace/common_test.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql_test.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_test.go
Labels: ops, metrics-operator

#2754 fix(metrics-operator): flush error message after successful retrieval of value from provider
  metrics-operator/controllers/metrics/controller.go
  metrics-operator/controllers/metrics/controller_test.go
Labels: metrics-operator

#2800 chore: clean up deprecated API resources from helm charts
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/chart/templates/keptnevaluationprovider-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadinstance-crd.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-rbac.yaml
Labels: ops, lifecycle-operator

#2801 chore: upgrade helm chart versions
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#2802 chore: bump keptn-cert-manager version in helm charts
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
Labels: ops, cert-manager

#2806 chore: revert helm charts bump
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#2804 ci: remove docs release pipeline
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: ops

#2712 docs: update components section
  .github/actions/spelling/expect.txt
  docs-new/Makefile
  docs-new/assets/stylesheets/mermaid.css
  docs-new/docs/components/certificate-operator.md
  docs-new/docs/components/index.md
  docs-new/docs/components/lifecycle-operator/deployment-flow.md
  docs-new/docs/components/lifecycle-operator/index.md
  docs-new/docs/components/lifecycle-operator/keptn-apps.md
  docs-new/docs/components/metrics-operator.md
  docs-new/docs/components/scheduling.md
  mkdocs.yml
Labels: documentation, ops

#2819 docs: fix broken code block styling
  docs-new/docs/components/lifecycle-operator/deployment-flow.md
Labels: documentation

#2556 feat: add `step` and `aggregation` fields for `kubectl get KeptnMetric`
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  metrics-operator/api/v1beta1/keptnmetric_types.go
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
Labels: ops, metrics-operator

#2803 docs: fix left frame title for keptn-no-k8s
  mkdocs.yml
Labels: bug

#2805 docs: add info on how to run kuttl tests
  docs-new/docs/contribute/software/dev-environ.md
Labels: documentation

#2705 docs: adapt docs contrib guide to have up-to-date info and correct formatting
  .github/actions/spelling/expect.txt
  .markdownlint-cli2.yaml
  docs-new/.htmltest.yml
  docs-new/docs/contribute/docs/assets/yaml-crd-ref-template.md
  docs-new/docs/contribute/docs/contrib-guidelines-docs.md
  docs-new/docs/contribute/docs/linter-requirements.md
  docs-new/docs/contribute/docs/local-building.md
  docs-new/docs/contribute/docs/publish.md
  docs-new/docs/contribute/docs/source-file-structure.md
  docs-new/docs/contribute/docs/word-list.md
  docs-new/docs/contribute/general/codespace.md
  docs-new/docs/contribute/general/dco.md
  docs-new/docs/contribute/general/git/index.md
  docs-new/docs/contribute/general/git/pr-create.md
  docs-new/docs/contribute/software/dev-environ.md
  mkdocs.yml
Labels: documentation, ops

#2817 ci: fix markdown lint fix command after version bump
  docs-new/Makefile
  docs/Makefile
Labels: documentation

#2782 chore(lifecycle-operator): remove pre post deploy task evaluation v1beta1
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/apis/lifecycle/v1alpha1/keptnapp_conversion.go
  lifecycle-operator/apis/lifecycle/v1alpha1/keptnapp_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha1/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnapp_conversion.go
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnapp_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnapp_conversion.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnapp_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnapp_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/lifecycle-operator-rbac.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  lifecycle-operator/config/rbac/role.yaml
  lifecycle-operator/controllers/common/evaluation/handler_test.go
  lifecycle-operator/controllers/common/task/handler_test.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappcreationrequest/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/test/component/appversion/appversion_test.go
  test/integration/app-failing-post-evaluation/00-assert.yaml
  test/integration/app-failing-post-evaluation/00-install.yaml
  test/integration/app-failing-post-task/00-assert.yaml
  test/integration/app-failing-post-task/00-install.yaml
  test/integration/app-failing-pre-evaluation/00-assert.yaml
  test/integration/app-failing-pre-evaluation/00-install.yaml
  test/integration/app-failing-pre-task-retry/00-assert.yaml
  test/integration/app-failing-pre-task-retry/00-install.yaml
  test/integration/app-failing-pre-task-timeout/00-assert.yaml
  test/integration/app-failing-pre-task-timeout/00-install.yaml
  test/integration/app-failing-pre-task/00-assert.yaml
  test/integration/app-failing-pre-task/00-install.yaml
  test/integration/app-one-taskdefinition-not-found/00-assert.yaml
  test/integration/app-one-taskdefinition-not-found/00-install.yaml
  test/integration/podtato-head-application/00-assert.yaml
  test/integration/podtato-head-application/00-install.yaml
Labels: ops, lifecycle-operator

#2811 feat: introduce configurable support of cert-manager.io CA injection
  .github/scripts/.helm-tests/certificates-only/values.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/values.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/values.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-only/values.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/values.yaml
  chart/Chart.lock
  chart/Chart.yaml
  chart/NOTES.txt
  chart/README.md
  chart/values.yaml
  docs-new/docs/installation/configuration/cert-manager.md
  keptn-cert-manager/.gitignore
  keptn-cert-manager/chart/README.md
  keptn-cert-manager/chart/values.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/templates/keptnapp-crd.yaml
  lifecycle-operator/chart/templates/keptnappcreationrequest-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluation-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptntask-crd.yaml
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/chart/templates/lifecycle-mutating-webhook-configuration.yaml
  lifecycle-operator/chart/templates/lifecycle-validating-webhook-configuration.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/manager/manager.yaml
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  lifecycle-operator/main.go
  metrics-operator/.gitignore
  metrics-operator/chart/README.md
  metrics-operator/chart/templates/analysis-crd.yaml
  metrics-operator/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/chart/templates/metrics-validating-webhook-configuration.yaml
  metrics-operator/chart/values.yaml
  metrics-operator/config/manager/manager.yaml
  metrics-operator/go.mod
  metrics-operator/go.sum
  metrics-operator/main.go
Labels: documentation, ops, metrics-operator, cert-manager, lifecycle-operator

#2779 docs: add documentation for the refinement process in the contribute guide
  .github/actions/spelling/expect.txt
  docs-new/docs/contribute/general/contrib-guidelines-gen.md
  docs-new/docs/contribute/general/refinement-guide.md
  mkdocs.yml
Labels: documentation, ops

#2829 chore: re-generate API docs
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
Labels: documentation

#2830 chore: re-generate CRD manifests
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1alpha3/index.md
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1alpha3/keptntaskdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptntaskdefinition_types.go
  lifecycle-operator/chart/templates/keptnapp-crd.yaml
  lifecycle-operator/chart/templates/keptnappcontext-crd.yaml
  lifecycle-operator/chart/templates/keptnappcreationrequest-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluation-crd.yaml
  lifecycle-operator/chart/templates/keptnevaluationdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptntask-crd.yaml
  lifecycle-operator/chart/templates/keptntaskdefinition-crd.yaml
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcontexts.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcreationrequests.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationproviders.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  metrics-operator/api/v1alpha3/zz_generated.deepcopy.go
  metrics-operator/chart/templates/analysis-crd.yaml
  metrics-operator/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisdefinitions.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisvaluetemplates.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
Labels: documentation, ops, metrics-operator, lifecycle-operator

#2831 deps: update keptn/common helm chart to 0.1.3
  keptn-cert-manager/chart/Chart.lock
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.lock
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.lock
  metrics-operator/chart/Chart.yaml
Labels: metrics-operator, cert-manager, lifecycle-operator

#2190 feat(metrics-operator): update controller logic to support multiple metric values
  metrics-operator/controllers/metrics/controller.go
  metrics-operator/controllers/metrics/controller_test.go
  test/testmetrics/metrics/01-teststep-install.yaml
  test/testmetrics/metrics/02-teststep-assert.yaml
  test/testmetrics/metrics/03-teststep-retrieve-metrics-via-api.yaml
  test/testmetrics/metrics/goodmetric6.yaml
Labels: metrics-operator

#2832 feat(lifecycle-operator): propagate metadata from deployment annotations
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/controllers/common/context/context.go
  lifecycle-operator/controllers/common/context/context_test.go
  lifecycle-operator/controllers/common/telemetry/spanhandler.go
  lifecycle-operator/controllers/common/telemetry/spanhandler_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkload/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkload/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation.go
  lifecycle-operator/webhooks/pod_mutator/handlers/pod_annotation_test.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload_test.go
  test/integration/podtato-head-application/00-assert.yaml
  test/integration/podtato-head-application/00-install.yaml
  test/integration/simple-daemonset-annotated/00-install.yaml
  test/integration/simple-daemonset-annotated/01-assert.yaml
  test/integration/simple-deployment-annotated/00-install.yaml
  test/integration/simple-deployment-annotated/01-assert.yaml
  test/integration/simple-deployment-container-annotation/00-install.yaml
  test/integration/simple-deployment-container-annotation/01-assert.yaml
  test/integration/simple-deployment-evaluation/00-install.yaml
  test/integration/simple-deployment-evaluation/01-assert.yaml
  test/integration/simple-deployment-k8s-recommended-label/00-install.yaml
  test/integration/simple-deployment-k8s-recommended-label/01-assert.yaml
  test/integration/simple-statefulset-annotated/00-install.yaml
  test/integration/simple-statefulset-annotated/01-assert.yaml
Labels: documentation, ops, lifecycle-operator

#2833 feat(lifecycle-operator): support linked spans in KeptnAppVersion
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1alpha1/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1alpha3/keptnappversion_conversion_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappcontext_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnappcontext-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcontexts.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/controllers/common/evaluation/handler_test.go
  lifecycle-operator/controllers/common/task/handler_test.go
  lifecycle-operator/controllers/common/telemetry/fake/spanhandler_mock.go
  lifecycle-operator/controllers/common/telemetry/spanhandler.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/test/component/appversion/appversion_test.go
Labels: documentation, ops, lifecycle-operator

#2848 chore(lifecycle-operator): propagate Context Metadata to KeptnAppVersion
  .github/actions/spelling/expect.txt
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/controllers/common/context/context_test.go
  lifecycle-operator/controllers/common/testcommon/utils.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  mkdocs.yml
Labels: ops, lifecycle-operator

#2862 docs: add staceypotter to blog post authors
  .github/actions/spelling/expect.txt
  docs/blog/.authors.yml
Labels: documentation, ops

#2859 feat(lifecycle-operator): propagate KeptnAppVersion Context Metadata to KeptnWorkloadVersion span
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/controllers/common/eventsender/eventsender.go
  lifecycle-operator/controllers/common/helperfunctions.go
  lifecycle-operator/controllers/common/helperfunctions_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/go.mod
  test/integration/podtato-head-application/00-assert.yaml
  test/integration/podtato-head-application/00-install.yaml
Labels: documentation, ops, lifecycle-operator

#2867 docs: restructure migration section
  docs/docs/guides/slo.md
  docs/docs/migrate/keptn/index.md
  docs/docs/migrate/keptn/metrics-observe.md
  docs/docs/migrate/keptn/strategy.md
  mkdocs.yml
Labels: documentation

#2873 ci: add sbom attestation step to release action
  .github/workflows/release.yml
Labels: ops

#2851 docs: introduce KeptnApp to KeptnAppContext migration guide
  docs/docs/installation/upgrade.md
  docs/docs/migrate/keptnapp/assets/keptnapp-migrated.yaml
  docs/docs/migrate/keptnapp/assets/keptnapp.yaml
  docs/docs/migrate/keptnapp/index.md
  docs/docs/reference/crd-reference/app.md
  mkdocs.yml
Labels: documentation

#2868 chore: adapt examples to use v1beta1 API resources
  examples/sample-app/Makefile
  examples/sample-app/README.md
  examples/sample-app/base/app-post-deploy.yaml
  examples/sample-app/base/app.yaml
  examples/sample-app/base/appcontext.yaml
  examples/sample-app/base/container-task.yaml
  examples/sample-app/base/kustomization.yaml
  examples/sample-app/base/python-task.yaml
  examples/sample-app/version-1/app-pre-deploy-eval.yaml
  examples/sample-app/version-1/app-pre-deploy.yaml
  examples/sample-app/version-1/app.yaml
  examples/sample-app/version-1/appcontext.yaml
  examples/sample-app/version-1/kustomization.yaml
  examples/sample-app/version-2/app-pre-deploy-eval.yaml
  examples/sample-app/version-2/app-pre-deploy.yaml
  examples/sample-app/version-2/app.yaml
  examples/sample-app/version-2/appcontext.yaml
  examples/sample-app/version-2/kustomization.yaml
  examples/sample-app/version-2/manifest.yaml
  examples/sample-app/version-3/app-pre-deploy-eval.yaml
  examples/sample-app/version-3/app-pre-deploy.yaml
  examples/sample-app/version-3/app.yaml
  examples/sample-app/version-3/kustomization.yaml
  examples/sample-app/version-3/manifest.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/app.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/appcontext.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/check_entry.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/post-deployment-tasks.yaml
  examples/support/observability/assets/podtatohead-evaluationdefinitions/keptnevaluationdefinition1.yaml
  examples/support/observability/assets/podtatohead-evaluationdefinitions/keptnevaluationdefinition2.yaml
  examples/support/observability/assets/podtatohead-evaluationdefinitions/keptnevaluationdefinition3.yaml
  examples/support/observability/assets/podtatohead-evaluationdefinitions/keptnevaluationdefinition4.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnapp.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnappcontext.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnappversion.yaml
Labels: documentation, lifecycle-operator

#2879 docs: fix broken link
  docs/docs/guides/evaluations.md
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#2849 docs: combine API and CRD reference index pages into one
  docs/docs/reference/api-reference/index.md
  docs/docs/reference/crd-reference/index.md
  docs/docs/reference/index.md
Labels: documentation

#2861 docs: add new blog post "Keptn 2023 in review"
  .github/actions/spelling/expect.txt
  .github/mlc_config.json
  docs/blog/posts/2023-keptn-year-in-review.md
Labels: documentation, ops

#2880 docs: adapt lifecycle-management and observability getting started guides to use KeptnAppContext
  docs/docs/getting-started/assets/keptnappcontext.yaml
  docs/docs/getting-started/lifecycle-management.md
  docs/docs/getting-started/observability.md
  docs/docs/installation/configuration/namespace.md
  docs/docs/migrate/keptnapp/assets/keptnapp-migrated.yaml
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#2904 docs: fix grammatically incorrect line 2023-keptn-year-in-review.md
  docs/blog/posts/2023-keptn-year-in-review.md
Labels: documentation

#2839 docs: fix context comparison and improve introduction for clarity
  docs/docs/guides/tasks.md
Labels: documentation

#2911 docs: change Analysis blog post title to fit into social cards
  docs/blog/posts/analyzing-application-performance.md
Labels: documentation

#2913 docs: rename blog post file after renaming title
  docs/blog/posts/application-performance-analysis.md
  docs/blog/posts/application-performance-analysis/analysis-breakdown.json
  docs/blog/posts/application-performance-analysis/analysis-definition.yaml
  docs/blog/posts/application-performance-analysis/analysis-status.yaml
  docs/blog/posts/application-performance-analysis/analysis.yaml
  docs/blog/posts/application-performance-analysis/error-rate.yaml
  docs/blog/posts/application-performance-analysis/memory-usage.yaml
  docs/blog/posts/application-performance-analysis/metric-providers.yaml
Labels: documentation

#2918 fix: docs link
  docs/docs/guides/slo.md
Labels: documentation

#2924 chore: enable HTMLTest debug logging
  .github/workflows/htmltest.yaml
  docs/Makefile
Labels: documentation, ops
