Repository keptn/lifecycle-toolkit, pull requests merged in 2024-02, with the labels that each got.

#2927 chore: fix auto-generated API docs having wrong metadata info
  .github/scripts/generate-crd-docs/templates/type_members.tpl
  docs/docs/reference/api-reference/lifecycle/v1alpha1/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha2/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha3/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha4/index.md
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha2/index.md
  docs/docs/reference/api-reference/metrics/v1alpha3/index.md
  docs/docs/reference/api-reference/metrics/v1beta1/index.md
  docs/docs/reference/api-reference/options/v1alpha1/index.md
Labels: documentation, ops

#2882 chore: enable chainsaw integration tests
  .chainsaw-local.yaml
  .chainsaw.yaml
  .github/actions/spelling/expect.txt
  .github/workflows/integration-test.yml
  Makefile
  docs/docs/contribute/general/technologies.md
  test/chainsaw/allowed-namespaces/simple-deployment-allowed/00-assert.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-allowed/00-install.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-allowed/01-assert.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-allowed/chainsaw-test.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-not-allowed/00-assert.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-not-allowed/00-install.yaml
  test/chainsaw/allowed-namespaces/simple-deployment-not-allowed/chainsaw-test.yaml
  test/chainsaw/scheduling-gates/simple-deployment/00-assert.yaml
  test/chainsaw/scheduling-gates/simple-deployment/00-install.yaml
  test/chainsaw/scheduling-gates/simple-deployment/01-assert.yaml
  test/chainsaw/scheduling-gates/simple-deployment/chainsaw-test.yaml
Labels: documentation, ops

#2902 docs: fix context information in guides
  .github/actions/spelling/expect.txt
  docs/docs/guides/assets/linkedtrace.png
  docs/docs/guides/assets/metadata/keptn-app-context.yaml
  docs/docs/guides/assets/otel/keptn-app-context-span.yaml
  docs/docs/guides/assets/tasks/dummy-task.yaml
  docs/docs/guides/assets/tasks/job-context.yaml
  docs/docs/guides/assets/tasks/multi-secret.yaml
  docs/docs/guides/assets/tasks/secret-data.yaml
  docs/docs/guides/assets/tasks/slack.yaml
  docs/docs/guides/assets/tasks/taskdef-secure-data.yaml
  docs/docs/guides/metadata.md
  docs/docs/guides/otel.md
  docs/docs/guides/tasks.md
  docs/docs/reference/crd-reference/taskdefinition.md
  mkdocs.yml
Labels: documentation, ops

#2915 docs: update guides for auto app discovery and restartable apps
  .github/actions/spelling/expect.txt
  .sonarcloud.properties
  docs/docs/guides/assets/auto-app-discovery/deployments.yaml
  docs/docs/guides/assets/auto-app-discovery/keptnapp-metadata.yaml
  docs/docs/guides/assets/auto-app-discovery/keptnapp.yaml
  docs/docs/guides/assets/restart-application-deployment/app-full.yaml
  docs/docs/guides/assets/restart-application-deployment/fixed-task.yaml
  docs/docs/guides/assets/restart-application-deployment/generated-app-bumped-revision.yaml
  docs/docs/guides/assets/restart-application-deployment/generated-app.yaml
  docs/docs/guides/auto-app-discovery.md
  docs/docs/guides/restart-application-deployment.md
Labels: documentation, ops

#2941 docs: replace remaining embeds with includes
  docs/docs/guides/slo.md
  docs/docs/reference/crd-reference/analysisdefinition.md
Labels: documentation

#2935 chore: update Task CRD reference page for v1beta1
  docs/docs/reference/crd-reference/task.md
Labels: documentation

#2894 docs: add KeptnAppContext ref page; update KeptnApp ref page
  docs/docs/reference/crd-reference/app.md
  docs/docs/reference/crd-reference/appcontext.md
  mkdocs.yml
Labels: documentation

#2926 fix(lifecycle-operator): make sure spec of KeptnWorkloadVersion is consistent with KeptnWorkload
  lifecycle-operator/controllers/lifecycle/keptnworkload/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkload/controller_test.go
Labels: lifecycle-operator

#2945 docs: fix Synopsis for KeptnTask CRD reference page
  docs/docs/reference/crd-reference/task.md
Labels: documentation

#2938 ci: fix HTMLTest HTTP 429 issues
  .github/actions/spelling/expect.txt
  .github/workflows/htmltest.yaml
Labels: ops

#2953 deps(deno-runtime): update libcrypto3 and libssl3
  .github/actions/spelling/expect.txt
  runtimes/deno-runtime/Dockerfile
Labels: ops

#2944 docs: edits/xrefs for keptnapp migration
  docs/docs/migrate/keptnapp/assets/keptnapp-migrated.yaml
  docs/docs/migrate/keptnapp/index.md
Labels: documentation

#2948 docs: update content in Evaluations and Task guides with KeptnAppContext
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/guides/evaluations.md
  docs/docs/guides/tasks.md
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#2954 docs: fix formatting in CRD reference pages
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/metric.md
  docs/docs/reference/crd-reference/metricsprovider.md
Labels: documentation

#2952 docs: xrefs, formatting for KeptnApp and KeptnAppContext ref pages
  docs/docs/reference/crd-reference/app.md
  docs/docs/reference/crd-reference/appcontext.md
Labels: documentation

#2957 chore: changed all ref to v1beta1 in docs links
  docs/docs/assets/crd/eval.yaml
  docs/docs/assets/crd/python-configmap.yaml
  docs/docs/assets/crd/python-context.yaml
  docs/docs/assets/crd/python-inline.yaml
  docs/docs/assets/crd/python-libs.yaml
  docs/docs/assets/crd/python-recursive.yaml
  docs/docs/assets/crd/task-definition.yaml
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/guides/assets/tasks/dummy-task.yaml
  docs/docs/guides/assets/tasks/multi-secret.yaml
  docs/docs/guides/assets/tasks/slack.yaml
  docs/docs/guides/assets/tasks/taskdef-secure-data.yaml
  docs/docs/guides/evaluations.md
  docs/docs/guides/integrate.md
  docs/docs/guides/tasks.md
  docs/docs/reference/crd-reference/app.md
  docs/docs/reference/crd-reference/config.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/task.md
  docs/docs/reference/crd-reference/taskdefinition.md
  docs/docs/use-cases/non-k8s.md
Labels: documentation

#2942 chore: migrate testcertificate and testmetrics to chainsaw
  .github/actions/spelling/expect.txt
  .github/workflows/integration-test.yml
  .sonarcloud.properties
  Makefile
  test/chainsaw/testcertificate/cert-recreates/00-assert.yaml
  test/chainsaw/testcertificate/cert-recreates/01-assert.yaml
  test/chainsaw/testcertificate/cert-recreates/01-delete.yaml
  test/chainsaw/testcertificate/cert-recreates/02-assert.yaml
  test/chainsaw/testcertificate/cert-recreates/02-install.yaml
  test/chainsaw/testcertificate/cert-recreates/chainsaw-test.yaml
  test/chainsaw/testmetrics/metrics-hpa/00-install.yaml
  test/chainsaw/testmetrics/metrics-hpa/chainsaw-test.yaml
  test/chainsaw/testmetrics/metrics-hpa/deployment.yaml
  test/chainsaw/testmetrics/metrics-hpa/hpa.yaml
  test/chainsaw/testmetrics/metrics-hpa/metric.yaml
  test/chainsaw/testmetrics/metrics-hpa/mock-server.yaml
  test/chainsaw/testmetrics/metrics-provider/00-install.yaml
  test/chainsaw/testmetrics/metrics-provider/chainsaw-test.yaml
  test/chainsaw/testmetrics/metrics-provider/logs.sh
  test/chainsaw/testmetrics/metrics/00-install.yaml
  test/chainsaw/testmetrics/metrics/badmetric1.yaml
  test/chainsaw/testmetrics/metrics/badmetric2.yaml
  test/chainsaw/testmetrics/metrics/badmetric3.yaml
  test/chainsaw/testmetrics/metrics/chainsaw-test.yaml
  test/chainsaw/testmetrics/metrics/check-active-metrics.sh
  test/chainsaw/testmetrics/metrics/goodmetric1.yaml
  test/chainsaw/testmetrics/metrics/goodmetric2.yaml
  test/chainsaw/testmetrics/metrics/goodmetric3.yaml
  test/chainsaw/testmetrics/metrics/goodmetric4.yaml
  test/chainsaw/testmetrics/metrics/goodmetric5.yaml
  test/chainsaw/testmetrics/metrics/goodmetric6.yaml
  test/chainsaw/testmetrics/metrics/retrieve-metrics.sh
Labels: ops

#2962 ci: fix HTMLTest cache key
  .github/workflows/htmltest.yaml
Labels: ops

#2960 docs: format/polish metric*, analysis*, config
  docs/docs/reference/crd-reference/analysis.md
  docs/docs/reference/crd-reference/analysisdefinition.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/config.md
  docs/docs/reference/crd-reference/metricsprovider.md
Labels: documentation

#2966 revert: revert "deps(deno-runtime): update libcrypto3 and libssl3"
  .github/actions/spelling/expect.txt
  runtimes/deno-runtime/Dockerfile
Labels: ops

#2959 chore: add KeptnApp migration script
  docs/docs/migrate/keptnapp/index.md
  lifecycle-operator/Makefile
  lifecycle-operator/converter/convert_app.go
  lifecycle-operator/converter/convert_app_test.go
  lifecycle-operator/converter/example_keptnapp.yaml
  lifecycle-operator/converter/example_output.yaml
Labels: documentation, lifecycle-operator

#2965 ci: also build ARM images during CI builds
  .github/actions/spelling/expect.txt
  .github/workflows/CI.yaml
Labels: ops

#2964 docs: add multiple metrics field descriptions to KeptnMetric CRD ref
  docs/docs/reference/crd-reference/metric.md
Labels: documentation

#2975 ci: log cosign attest verification to file to release pipeline remove hangs
  .github/actions/spelling/expect.txt
  .github/workflows/release.yml
Labels: ops

#2976 ci: fix untar OCI images before running trivy scans
  .github/workflows/security-scans.yml
Labels: ops

#2979 chore: revert docs update through release please, remove annotations
  docs/docs/migrate/keptn/metrics-observe.md
  release-please-config.json
Labels: documentation

#2980 ci: fix cosign attest verification again
  .github/workflows/release.yml
Labels: ops

#2988 docs: last minute polish
  docs/docs/guides/otel.md
  docs/docs/reference/crd-reference/appcontext.md
  docs/docs/reference/crd-reference/taskdefinition.md
  mkdocs.yml
Labels: documentation

#2991 chore: bump helm chart dependencies
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3008 docs: add excerpts to blog posts
  docs/blog/posts/2023-keptn-year-in-review.md
  docs/blog/posts/application-performance-analysis.md
  docs/blog/posts/keptn-helm-umbrella-charts.md
  mkdocs.yml
Labels: documentation

#3007 docs: fix formatting for KeptnTaskDefinition fields
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#3006 chore: bump go version to 1.21
  keptn-cert-manager/go.mod
  keptn-cert-manager/go.sum
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  metrics-operator/go.mod
  metrics-operator/go.sum
  scheduler/go.mod
  scheduler/go.sum
Labels: scheduler, metrics-operator, cert-manager, lifecycle-operator

#3016 docs: fix formatting for KeptnTaskDefinition crd-ref
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#3029 docs: move all keptn.sh links to /stable
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/blog/posts/2023-keptn-year-in-review.md
  docs/docs/use-cases/non-k8s.md
Labels: documentation

#3039 docs: fix referenced slack channel
  docs/docs/contribute/general/contrib-guidelines-gen.md
Labels: documentation

#3028 docs: fix indentation issues and adjust linter rules
  .markdownlint-cli2.yaml
  docs/blog/posts/2023-keptn-year-in-review.md
  docs/docs/contribute/docs/contrib-guidelines-docs.md
  docs/docs/contribute/docs/word-list.md
  docs/docs/contribute/general/contrib-guidelines-gen.md
  docs/docs/contribute/general/git/branch-create.md
  docs/docs/contribute/general/git/pr-create.md
  docs/docs/contribute/general/technologies.md
  docs/docs/contribute/software/dev-environ.md
  docs/docs/getting-started/observability.md
  docs/docs/guides/dora.md
  docs/docs/guides/evaluations.md
  docs/docs/guides/integrate.md
  docs/docs/guides/otel.md
  docs/docs/guides/slo.md
  docs/docs/installation/configuration/namespace.md
  docs/docs/installation/index.md
  docs/docs/installation/k8s.md
  docs/docs/installation/troubleshooting.md
  docs/docs/installation/upgrade.md
  docs/docs/migrate/keptn/metrics-observe.md
  docs/docs/migrate/keptn/strategy.md
  docs/docs/reference/crd-reference/analysis.md
  docs/docs/reference/crd-reference/analysisdefinition.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/app.md
  docs/docs/reference/crd-reference/appcontext.md
  docs/docs/reference/crd-reference/config.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/metric.md
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/reference/crd-reference/task.md
  docs/docs/reference/crd-reference/taskdefinition.md
  docs/docs/use-cases/day-2-operations.md
  docs/docs/use-cases/hpa.md
  examples/support/analysis/README.md
  examples/support/argo/README.md
  metrics-operator/converter/slo_converter.md
Labels: documentation, metrics-operator

#3042 docs: add release checklist to contribution guide
  docs/docs/contribute/general/release-checklist.md
  mkdocs.yml
Labels: documentation

#3056 feat(lifecycle-operator): introduce promotionTask parameters in KeptnAppContext
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/common/phases.go
  lifecycle-operator/apis/lifecycle/v1beta1/common/phases_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappcontext_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnappcontext-crd.yaml
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcontexts.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnappcontext.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnappversion.yaml
Labels: documentation, ops, lifecycle-operator

#3055 feat(lifecycle-operator): add feature flag for enabling promotion tasks
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/manager/manager.yaml
  lifecycle-operator/main.go
Labels: documentation, ops, lifecycle-operator

#3021 chore: upgrade chainsaw and remove a couple of kubectl/envsubst calls
  .chainsaw-local.yaml
  .chainsaw.yaml
  .github/workflows/integration-test.yml
  test/chainsaw/integration/app-creation-request/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-post-evaluation/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-post-task/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-pre-evaluation/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-pre-task-retry/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-pre-task-timeout/chainsaw-test.yaml
  test/chainsaw/integration/app-failing-pre-task/chainsaw-test.yaml
  test/chainsaw/integration/app-one-taskdefinition-not-found/chainsaw-test.yaml
  test/chainsaw/integration/container-runtime/chainsaw-test.yaml
  test/chainsaw/integration/imagepullsecret/chainsaw-test.yaml
  test/chainsaw/integration/podtato-head-application-auto-app-discovery/chainsaw-test.yaml
  test/chainsaw/integration/podtato-head-application/chainsaw-test.yaml
  test/chainsaw/integration/restartable-app/chainsaw-test.yaml
  test/chainsaw/integration/simple-daemonset-annotated/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-annotated-with-app-context/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-container-annotation/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-evaluation/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-k8s-recommended-label/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-python-runtime/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-recursive-task/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment-sanitize-version-number/chainsaw-test.yaml
  test/chainsaw/integration/simple-deployment/chainsaw-test.yaml
  test/chainsaw/integration/simple-statefulset-annotated/chainsaw-test.yaml
  test/chainsaw/integration/unsupported-owner-of-pod/chainsaw-test.yaml
  test/chainsaw/integration/workload-instance-failing-pre-task/chainsaw-test.yaml
  test/chainsaw/integration/workload-instance-missing-evaluation/chainsaw-test.yaml
  test/chainsaw/scheduling-gates/simple-deployment-restart-pod/chainsaw-test.yaml
  test/chainsaw/scheduling-gates/simple-deployment/chainsaw-test.yaml
  test/chainsaw/testanalysis/analysis-controller-existing-status/chainsaw-test.yaml
  test/chainsaw/testanalysis/analysis-controller-existing-status/install.yaml
  test/chainsaw/testanalysis/analysis-controller-multiple-providers/chainsaw-test.yaml
  test/chainsaw/testanalysis/analysis-controller-multiple-providers/install.yaml
  test/chainsaw/testanalysis/analysis-controller-multiple-providers/mock-server.yaml
  test/chainsaw/testanalysis/analysis-controller-with-duration-timeframe/chainsaw-test.yaml
  test/chainsaw/testanalysis/analysis-controller-with-duration-timeframe/install.yaml
  test/chainsaw/testanalysis/analysis-controller/chainsaw-test.yaml
  test/chainsaw/testanalysis/analysis-controller/install.yaml
  test/chainsaw/testmetrics/metrics-hpa/chainsaw-test.yaml
  test/chainsaw/testmetrics/metrics-hpa/metric.yaml
Labels: ops

#3057 feat(lifecycle-operator): implement promotion task
  .github/actions/deploy-keptn-on-cluster/values.yaml
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types_test.go
  lifecycle-operator/controllers/common/task/handler.go
  lifecycle-operator/controllers/common/task/handler_test.go
  lifecycle-operator/controllers/lifecycle/interfaces/fake/phaseitem_mock.go
  lifecycle-operator/controllers/lifecycle/interfaces/phaseitem.go
  lifecycle-operator/controllers/lifecycle/interfaces/phaseitem_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_phase.go
  lifecycle-operator/main.go
  test/chainsaw/integration/podtato-head-application/00-assert.yaml
  test/chainsaw/integration/podtato-head-application/00-install.yaml
Labels: ops, lifecycle-operator

#3058 docs: document promotion task feature
  docs/docs/components/lifecycle-operator/deployment-flow.md
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/core-concepts/index.md
  docs/docs/getting-started/assets/keptnappcontext.yaml
  docs/docs/getting-started/assets/lifecycle-management-deployment.yaml
  docs/docs/getting-started/assets/lifecycle-management-labels.yaml
  docs/docs/getting-started/assets/lifecycle-management-send-event-task.yaml
  docs/docs/getting-started/assets/lifecycle-management-send-event-taskdefinition.yaml
  docs/docs/getting-started/assets/promotion-task.yaml
  docs/docs/getting-started/lifecycle-management.md
  docs/docs/guides/auto-app-discovery.md
  docs/docs/reference/crd-reference/appcontext.md
  docs/docs/use-cases/day-2-operations.md
  examples/sample-app/base/kustomization.yaml
  examples/sample-app/base/promotion-task.yaml
  examples/sample-app/version-1/appcontext.yaml
  examples/sample-app/version-2/appcontext.yaml
Labels: documentation

#3070 ci: fix container build arguments in release pipeline
  .github/workflows/release.yml
Labels: ops

#3005 docs: add content tabs in code examples in reference section
  .github/actions/spelling/expect.txt
  .markdownlint-cli2.yaml
  docs/docs/assets/crd/examples/configmap-for-deno-script.yaml
  docs/docs/assets/crd/examples/configmapref-for-deno-script.yaml
  docs/docs/assets/crd/examples/functionref-for-deno-script.yaml
  docs/docs/assets/crd/examples/httpref-script-for-deno-script.yaml
  docs/docs/assets/crd/examples/inline-script-for-deno-script.yaml
  docs/docs/assets/crd/examples/old-version-synopsis.yaml
  docs/docs/assets/crd/examples/synopsis-for-all-runners.yaml
  docs/docs/assets/crd/examples/synopsis-for-container-runtime.yaml
  docs/docs/assets/crd/examples/synopsis-for-deno-runtime-container.yaml
  docs/docs/assets/crd/examples/synopsis-for-python-runtime-runner.yaml
  docs/docs/assets/crd/examples/yaml-synopsis.yaml
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/reference/crd-reference/taskdefinition.md
  mkdocs.yml
Labels: documentation, ops

#2939 docs: document how to write create new keptnmetricsprovider
  docs/docs/contribute/software/add-new-metric-provider.md
  docs/docs/contribute/software/assets/example-code/new-provider-function.go
  docs/docs/contribute/software/assets/example-code/placeholder-code-example.go
  mkdocs.yml
Labels: documentation

#3084 docs: remove disabled linter
  docs/docs/contribute/software/add-new-metric-provider.md
Labels: documentation

#3099 docs: rephrase migration guide to propagate propagation feature
  docs/docs/migrate/keptn/strategy.md
Labels: documentation

#3080 docs: guide for multi stage delivery
  docs/docs/guides/assets/multi-stage-delivery/application-dev.yaml
  docs/docs/guides/assets/multi-stage-delivery/application-production.yaml
  docs/docs/guides/assets/multi-stage-delivery/argo-app-dev.yaml
  docs/docs/guides/assets/multi-stage-delivery/argo-app-production.yaml
  docs/docs/guides/assets/multi-stage-delivery/chart.yaml
  docs/docs/guides/assets/multi-stage-delivery/dev2prod-pr.png
  docs/docs/guides/assets/multi-stage-delivery/promote.yaml
  docs/docs/guides/assets/multi-stage-delivery/trace.png
  docs/docs/guides/assets/multi-stage-delivery/values-dev-updated.yaml
  docs/docs/guides/assets/multi-stage-delivery/values-dev.yaml
  docs/docs/guides/assets/multi-stage-delivery/values-production.yaml
  docs/docs/guides/assets/multi-stage-delivery/workflow-permissions.png
  docs/docs/guides/multi-stage-application-delivery.md
  mkdocs.yml
Labels: documentation

#3101 chore: bump chainsaw version
  .github/workflows/integration-test.yml
Labels: ops

#3105 feat(lifecycle-operator): add Counter meter for promotion phase
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/controllers/common/telemetry/otel_utils.go
  lifecycle-operator/controllers/common/telemetry/otel_utils_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  test/chainsaw/integration/podtato-head-application/chainsaw-test.yaml
Labels: lifecycle-operator

#3111 feat(lifecycle-operator): introduce blockDeployment parameter into KeptnConfig
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/options/v1alpha1/index.md
  lifecycle-operator/apis/options/v1alpha1/keptnconfig_types.go
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  test/chainsaw/integration/keptn-config/00-assert.yaml
  test/chainsaw/integration/keptn-config/00-install.yaml
Labels: documentation, ops, lifecycle-operator

#3112 feat(lifecycle-operator): adapt KeptnConfig reconciler to set up blockedDeployment parameter
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/config_test.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
Labels: lifecycle-operator

#3113 feat(lifecycle-operator): introduce non-blocking deployment functionality for application lifecycle
  Makefile
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/apis/lifecycle/v1beta1/common/common_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkload_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_phase.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_prepostevaluation.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/reconcile_prepostdeployment.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/reconcile_prepostevaluation.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
  lifecycle-operator/test/component/workloadversion/workloadversion_suite_test.go
  test/chainsaw/integration/keptn-config/00-install.yaml
  test/chainsaw/integration/keptn-config/chainsaw-test.yaml
  test/chainsaw/non-blocking-deployment/00-assert.yaml
  test/chainsaw/non-blocking-deployment/00-install.yaml
  test/chainsaw/non-blocking-deployment/01-assert.yaml
  test/chainsaw/non-blocking-deployment/01-install.yaml
  test/chainsaw/non-blocking-deployment/chainsaw-test.yaml
  test/chainsaw/non-blocking-deployment/keptnconfig-blocking.yaml
  test/chainsaw/non-blocking-deployment/keptnconfig-non-blocking.yaml
  test/chainsaw/non-blocking-deployment/verify-keptnconfig.sh
Labels: lifecycle-operator

#3085 docs: review keptntaskdefinition examples
  .github/actions/spelling/expect.txt
  .markdownlint-cli2.yaml
  docs/docs/assets/crd/deno-context.yaml
  docs/docs/assets/crd/examples/configmap-for-deno-script.yaml
  docs/docs/assets/crd/examples/configmapref-for-deno-script.yaml
  docs/docs/guides/tasks.md
  docs/docs/reference/crd-reference/taskdefinition.md
  lifecycle-operator/config/samples/function_execution/taskdefinition_function.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_configmap.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_inline.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_inline_slack.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream_scheduler.yaml
  lifecycle-operator/config/samples/function_execution/taskdefinition_function_upstream_slack.yaml
  mkdocs.yml
  test/chainsaw/allowed-namespaces/simple-deployment-not-allowed/chainsaw-test.yaml
Labels: documentation, ops, lifecycle-operator

#3124 docs: update keptn state descriptions in our CRDs
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/chart/templates/keptnappversion-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
Labels: ops, lifecycle-operator

#3123 docs: lifecycle-operator non-blocking deployment functionality
  docs/docs/components/lifecycle-operator/assets/non-blocking-deployment.png
  docs/docs/components/lifecycle-operator/assets/non-blocking-deployment.yaml
  docs/docs/components/lifecycle-operator/deployment-flow.md
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/components/lifecycle-operator/keptn-non-blocking.md
  docs/docs/components/scheduling.md
  docs/docs/getting-started/lifecycle-management.md
  docs/docs/guides/evaluations.md
  docs/docs/installation/troubleshooting.md
  docs/docs/reference/crd-reference/config.md
  mkdocs.yml
Labels: documentation

#3088 chore: improve CLOMonitor score
  .github/actions/spelling/expect.txt
  README.md
Labels: documentation, ops

#3138 chore(lifecycle-operator): remove unused FailAction parameter from KeptnEvaluation
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/keptnevaluation_types.go
  lifecycle-operator/chart/templates/keptnevaluation-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
Labels: documentation, ops, lifecycle-operator

#3142 chore(python-runtime): pin libexpat version to fix CVE-2023-52425
  .github/actions/spelling/expect.txt
  runtimes/python-runtime/Dockerfile
Labels: ops

#3136 chore: bump chainsaw
  .github/workflows/integration-test.yml
Labels: ops

#3145 ci: use codecov token to upload coverage reports
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
Labels: ops

#3140 chore(lifecycle-operator): clean up leftover logic for supporting standalone Pods as Workloads
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/reconcile_deploymentstate.go
  lifecycle-operator/test/component/workload/workload_test.go
Labels: lifecycle-operator

#3144 fix(lifecycle-operator): retrieve KeptnEvaluationDefinition before creating KeptnEvaluation
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
  lifecycle-operator/apis/lifecycle/v1beta1/common/common_test.go
  lifecycle-operator/controllers/common/evaluation/handler.go
  lifecycle-operator/controllers/common/evaluation/handler_test.go
  lifecycle-operator/controllers/errors/errors.go
  test/chainsaw/integration/app-failing-pre-evaluation/00-assert.yaml
  test/chainsaw/integration/app-one-taskdefinition-not-found/00-assert.yaml
  test/chainsaw/integration/workload-version-failing-pre-task/00-assert.yaml
  test/chainsaw/integration/workload-version-failing-pre-task/00-install.yaml
  test/chainsaw/integration/workload-version-failing-pre-task/chainsaw-test.yaml
  test/chainsaw/integration/workload-version-missing-evaluation/00-assert.yaml
  test/chainsaw/integration/workload-version-missing-evaluation/00-install.yaml
  test/chainsaw/integration/workload-version-missing-evaluation/chainsaw-test.yaml
  test/chainsaw/integration/workload-version-missing-task/00-assert.yaml
  test/chainsaw/integration/workload-version-missing-task/00-install.yaml
  test/chainsaw/integration/workload-version-missing-task/chainsaw-test.yaml
Labels: lifecycle-operator

#3148 docs: remove wrong documentation on lifecycle of single Pods
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/installation/upgrade.md
Labels: documentation

#3141 feat(lifecycle-operator): introduce a possibility to configure number of retries and interval for KeptnEvaluationDefinition
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnevaluation_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnevaluationdefinition_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptntask_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnevaluationdefinition-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnevaluationdefinition.yaml
  lifecycle-operator/controllers/lifecycle/keptnevaluation/controller_test.go
  lifecycle-operator/test/component/appversion/appversion_test.go
  lifecycle-operator/test/component/evaluation/evaluation_test.go
  lifecycle-operator/test/component/workloadversion/workloadversion_test.go
  test/chainsaw/integration/app-failing-pre-evaluation-retry/00-assert.yaml
  test/chainsaw/integration/app-failing-pre-evaluation-retry/00-install.yaml
  test/chainsaw/integration/app-failing-pre-evaluation-retry/chainsaw-test.yaml
Labels: documentation, ops, lifecycle-operator
