Repository keptn/lifecycle-toolkit, pull requests merged in 2024-11, with the labels that each got.

#3816 deps: bump umbrella chart dependencies
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  keptn-cert-manager/chart/templates/certificate-operator-leader-election-rbac.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3815 docs: add code annotations in analysis reference page
  docs/docs/reference/crd-reference/analysis.md
Labels: documentation

#3823 ci: revert python-runtime v1.0.7 release
  .release-please-manifest.json
  runtimes/python-runtime/CHANGELOG.md
Labels: documentation

#3826 docs: remove Keptn scheduler
  .github/actions/spelling/expect.txt
  .github/workflows/CI.yaml
  README.md
  chart/Chart.yaml
  docs/docs/components/assets/scheduler.yaml
  docs/docs/components/index.md
  docs/docs/components/lifecycle-operator/deployment-flow.md
  docs/docs/components/lifecycle-operator/index.md
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/components/lifecycle-operator/webhook.md
  docs/docs/components/scheduling.md
  docs/docs/contribute/general/release-checklist.md
  docs/docs/contribute/software/dev-environ.md
  docs/docs/getting-started/observability.md
  docs/docs/guides/assets/multi-stage-delivery/chart.yaml
  docs/docs/guides/otel.md
  docs/docs/installation/configuration/vcluster.md
  docs/docs/installation/index.md
  docs/docs/migrate/keptn/strategy.md
  examples/Makefile
  keptn-cert-manager/Makefile
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
  mkdocs.yml
Labels: documentation, ops, metrics-operator, cert-manager, lifecycle-operator

#3852 deps(lifecycle-operator): bump python and deno runtime images
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/manager/manager.yaml
Labels: documentation, ops, lifecycle-operator

#3853 chore: polish helm charts
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: metrics-operator, cert-manager, lifecycle-operator

#3855 fix(lifecycle-operator): remove scheduler from helm charts
  .github/actions/deploy-keptn-on-cluster/values/values-integration-allowed-namespaces.yaml
  .github/actions/deploy-keptn-on-cluster/values/values-integration-cert-manager.yaml
  .github/actions/deploy-keptn-on-cluster/values/values-integration-cert_manager_io_off.yaml
  .github/actions/deploy-keptn-on-cluster/values/values-integration-cert_manager_io_on.yaml
  .github/actions/deploy-keptn-on-cluster/values/values-integration-lifecycle.yaml
  .github/actions/deploy-keptn-on-cluster/values/values.yaml
  .github/scripts/.helm-tests/default/values.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/values.yaml
  .github/scripts/.helm-tests/local-global-precedence/values.yaml
  docs/blog/posts/keptn-helm-umbrella-charts/values.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/_helpers.tpl
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/templates/lifecycle-manager-config.yaml
  lifecycle-operator/chart/templates/lifecycle-operator-metrics-service.yaml
  lifecycle-operator/chart/templates/lifecycle-webhook-service.yaml
  lifecycle-operator/chart/values.yaml
Labels: documentation, ops, lifecycle-operator

#3857 chore: bump helm chart versions
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3859 chore: backport Keptn helm chart version
  chart/Chart.yaml
  docs/docs/contribute/general/release-checklist.md
Labels: documentation

#3874 docs: fix broken link
  docs/docs/contribute/docs/word-list.md
Labels: documentation

#3873 docs: add css change to remove back button when screen size is reduced
  docs/assets/stylesheets/home.css
Labels: documentation
