Repository keptn/lifecycle-toolkit, pull requests merged in 2024-05, with the labels that each got.

#3500 feat(helm-chart): ability to set hostNetwork for lifecycle operator deployment
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/chart/values.yaml
  lifecycle-operator/config/manager/manager.yaml
Labels: documentation, ops, lifecycle-operator

#3487 docs: add blog post about using Keptn within Argo Workflows
  .github/actions/spelling/expect.txt
  docs/blog/posts/using-keptn-analyses-in-argo-workflows.md
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/analysisdefinition.yaml
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/argo-workflow.yaml
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/load-generator-task.yaml
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/metrics.yaml
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/triggering-workflow.png
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/workflow-result.png
  docs/blog/posts/using-keptn-analyses-in-argo-workflows/workflow.png
Labels: documentation, ops

#3521 docs: introduce blogpost of ArgoCD and Keptn integration
  .github/actions/spelling/expect.txt
  docs/blog/posts/argocd-keptn-health.md
  docs/blog/posts/argocd-keptn-health/annotation.yaml
  docs/blog/posts/argocd-keptn-health/argo-app.yaml
  docs/blog/posts/argocd-keptn-health/details-screen-unhealthy-keptn.png
  docs/blog/posts/argocd-keptn-health/evaluationdefinition.yaml
  docs/blog/posts/argocd-keptn-health/healthy-app.png
  docs/blog/posts/argocd-keptn-health/main-screen-unhealthy-keptn.png
  docs/blog/posts/argocd-keptn-health/metric.yaml
  docs/blog/posts/argocd-keptn-health/running-pods.png
Labels: documentation, ops

#3530 docs: adapt release dates of blogposts
  docs/blog/posts/argocd-keptn-health.md
  docs/blog/posts/using-keptn-analyses-in-argo-workflows.md
Labels: documentation
