Repository keptn/lifecycle-toolkit, pull requests merged in 2024-04, with the labels that each got.

#3352 docs: add blog post for multi-stage delivery
  .github/actions/spelling/expect.txt
  docs/blog/posts/multi-stage-delivery-using-gitops.md
  docs/blog/posts/multi-stage-delivery-using-gitops/argo-apps.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/deployment-trace-dev.png
  docs/blog/posts/multi-stage-delivery-using-gitops/deployment-trace-prod.png
  docs/blog/posts/multi-stage-delivery-using-gitops/deployment.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/keptnappcontext-prod.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/keptnappcontext.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/pr-dev-to-prod.png
  docs/blog/posts/multi-stage-delivery-using-gitops/promote.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/token-permissions.png
  docs/blog/posts/multi-stage-delivery-using-gitops/updating-dev.png
  docs/blog/posts/multi-stage-delivery-using-gitops/values-dev.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/values-prod.yaml
  docs/blog/posts/multi-stage-delivery-using-gitops/workflow-permissions.png
Labels: documentation, ops

#3366 docs: update contribute/docs section
  docs/docs/contribute/docs/contrib-guidelines-docs.md
  docs/docs/contribute/docs/index.md
  docs/docs/contribute/docs/markdownlint.md
  docs/docs/contribute/docs/publish.md
  docs/docs/contribute/docs/source-file-structure.md
  docs/docs/contribute/docs/spell-check.md
  mkdocs.yml
Labels: documentation

#3361 feat(metrics-operator): support Cortex metrics provider
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  docs/docs/assets/crd/examples/yaml-synopsis.yaml
  docs/docs/components/metrics-operator.md
  docs/docs/contribute/software/add-new-metric-provider.md
  docs/docs/core-concepts/index.md
  docs/docs/getting-started/metrics.md
  docs/docs/installation/k8s.md
  docs/docs/migrate/keptn/strategy.md
  docs/docs/reference/api-reference/metrics/v1/index.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/use-cases/non-k8s.md
  metrics-operator/api/v1/keptnmetricsprovider_types.go
  metrics-operator/api/v1/keptnmetricsprovider_types_test.go
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/controllers/analysis/provider_selector_test.go
  metrics-operator/controllers/common/providers/common.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/controllers/common/providers/provider_test.go
Labels: documentation, ops, metrics-operator

#3170 docs: improve guide page section
  docs/docs/guides/dora.md
  docs/docs/guides/evaluations.md
  docs/docs/guides/index.md
  docs/docs/guides/metadata.md
  docs/docs/guides/otel.md
  docs/docs/guides/slo.md
  docs/docs/guides/tasks.md
  mkdocs.yml
Labels: documentation

#3381 docs: use "Keptn Maintainer" for blog authors
  docs/blog/.authors.yml
Labels: documentation

#3362 docs: add glasskube as an alternative installation method
  docs/docs/installation/index.md
Labels: documentation

#3385 docs: clarify Argo vs Keptn applications
  docs/blog/posts/multi-stage-delivery-using-gitops.md
Labels: documentation

#3388 deps: bump golang.org/x/net to v0.23.0
  keptn-cert-manager/go.mod
  keptn-cert-manager/go.sum
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  metrics-operator/go.mod
  metrics-operator/go.sum
  scheduler/go.mod
  scheduler/go.sum
Labels: scheduler, metrics-operator, cert-manager, lifecycle-operator

#3380 docs: create use-case for integration with Flux
  .github/actions/spelling/expect.txt
  docs/docs/use-cases/assets/flux/app.yaml
  docs/docs/use-cases/assets/flux/flux-kustomization.yaml
  docs/docs/use-cases/assets/flux/gitrepository.yaml
  docs/docs/use-cases/assets/flux/kustomize.yaml
  docs/docs/use-cases/flux.md
  mkdocs.yml
Labels: documentation, ops

#3418 docs: introduce custom robots.txt and sitemap.xml files
  .github/actions/spelling/expect.txt
  docs/robots.txt
  docs/sitemap-custom.xml
Labels: documentation, ops

#3420 docs: adapt custom sitemap.xml
  docs/robots.txt
  docs/sitemap-custom.xml
Labels: documentation

#3438 docs: fix vCluster link
  docs/docs/installation/configuration/vcluster.md
Labels: documentation

#2878 docs: replace exercise for metrics getting-started
  .github/actions/spelling/expect.txt
  docs/docs/getting-started/metrics.md
Labels: documentation, ops

#3455 chore: bump runtime versions to latest released
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/values.yaml
Labels: documentation, ops, lifecycle-operator

#3456 chore(metrics-operator): bump metrics-operator release version
  metrics-operator/.gitignore
Labels: metrics-operator

#3457 chore(scheduler): bump scheduler release version
  scheduler/.gitignore
Labels: scheduler

#3458 chore(lifecycle-operator): bump release version
  lifecycle-operator/.gitignore
Labels: lifecycle-operator

#3460 chore: backport release helm chart versions
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3471 docs: move Flux use-case Keptn resources to v1
  docs/docs/use-cases/assets/flux/app.yaml
Labels: documentation
