Repository keptn/lifecycle-toolkit, pull requests merged in 2024-10, with the labels that each got.

#3745 ci: fix stale workflow permissions
  .github/workflows/stale.yml
Labels: ops

#3663 ci: migrate release please settings to config file
  .github/workflows/release.yml
  release-please-config.json
Labels: ops

#3746 ci: add never-stale label
  .github/workflows/stale.yml
Labels: ops

#3744 docs: remove unneeded docs
  docs/docs/contribute/website/index.md
  docs/website.yml
Labels: documentation

#3684 feat(keptn-gateway): resource endpoint
  keptn-gateway/Makefile
  keptn-gateway/go.mod
  keptn-gateway/go.sum
  keptn-gateway/internal/gateway/routes.go
Labels: stale

#3805 chore!: mark breaking change
  runtimes/deno-runtime/README.md
Labels: documentation

#3775 docs: clarify OTel collector usage in getting started guide
  docs/docs/getting-started/assets/install01.png
  docs/docs/getting-started/observability.md
Labels: documentation

#3778 docs: explain that part-of and name annotations are concatenated
  docs/docs/components/lifecycle-operator/keptn-apps.md
  docs/docs/guides/integrate.md
Labels: documentation

#3785 feat: add support for Kubernetes v1.31
  .github/actions/deploy-keptn-on-cluster/action.yml
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils.go
  lifecycle-operator/controllers/lifecycle/keptntask/job_utils_test.go
  test/chainsaw/integration/TTLSecondsAfterFinished-in-jobs/00-assert.yaml
  test/chainsaw/integration/container-runtime/00-assert.yaml
  test/chainsaw/integration/imagepullsecret/00-assert.yaml
  test/chainsaw/integration/simple-deployment-python-runtime/00-assert.yaml
  test/chainsaw/integration/simple-deployment-recursive-task/00-assert.yaml
Labels: ops, lifecycle-operator
