Repository keptn/lifecycle-toolkit, pull requests merged in 2024-03, with the labels that each got.

#3149 feat(lifecycle-operator): introduce ObservabilityTimeout parameter in KeptnConfig
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/options/v1alpha1/index.md
  docs/docs/reference/crd-reference/config.md
  lifecycle-operator/apis/options/v1alpha1/keptnconfig_types.go
  lifecycle-operator/apis/options/v1alpha1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnconfig-crd.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  lifecycle-operator/config/samples/options_v1alpha1_keptnconfig.yaml
Labels: documentation, ops, lifecycle-operator

#3153 feat(lifecycle-operator): introduce ObservabilityTimeout parameter in KeptnWorkload
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnworkload.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnworkloadversion.yaml
Labels: documentation, ops, lifecycle-operator

#3154 feat(lifecycle-operator): adapt KeptnConfig reconciler to set up observabilityTimeout parameter
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/config_test.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
Labels: lifecycle-operator

#3150 docs: fix generation of underlying types
  .github/actions/spelling/expect.txt
  .github/scripts/generate-crd-docs/crd-docs-generator-config-lifecycle-v1alpha4.yaml
  .github/scripts/generate-crd-docs/crd-docs-generator-config.yaml
  .github/scripts/generate-crd-docs/templates/type.tpl
  docs/docs/contribute/docs/contrib-guidelines-docs.md
  docs/docs/guides/evaluations.md
  docs/docs/reference/api-reference/lifecycle/v1alpha1/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha2/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha3/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha4/index.md
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha3/index.md
  docs/docs/reference/api-reference/metrics/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1alpha1/common/common.go
  lifecycle-operator/apis/lifecycle/v1alpha1/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1alpha2/common/common.go
  lifecycle-operator/apis/lifecycle/v1alpha2/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1alpha3/common/common.go
  lifecycle-operator/apis/lifecycle/v1beta1/common/common.go
Labels: documentation, ops, lifecycle-operator

#3161 docs: remove duplicated paragraph from Analysis CRD docs
  docs/docs/reference/crd-reference/analysis.md
Labels: documentation

#3162 docs: fix wrong indentation of analysis status field in CRD reference
  docs/docs/reference/crd-reference/analysis.md
Labels: documentation

#3163 chore(lifecycle-operator): revert unused ObservabilityTimeout parameter from KeptnWorkload
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkload_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/zz_generated.deepcopy.go
  lifecycle-operator/chart/templates/keptnworkload-crd.yaml
  lifecycle-operator/chart/templates/keptnworkloadversion-crd.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnworkload.yaml
  lifecycle-operator/config/samples/lifecycle_v1beta1_keptnworkloadversion.yaml
Labels: documentation, ops, lifecycle-operator

#3086 test: increase lifecycle operator coverage
  lifecycle-operator/cmd/config/config_test.go
  lifecycle-operator/controllers/lifecycle/keptnapp/controller_test.go
  lifecycle-operator/controllers/lifecycle/schedulinggates/controller_test.go
Labels: lifecycle-operator

#3174 fix(lifecycle-operator): close root spans of failed AppVersions/WorkloadVersions
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/controller_test.go
Labels: lifecycle-operator

#3176 chore: update release checklist
  docs/docs/contribute/general/release-checklist.md
Labels: documentation

#3179 chore: update chart dependencies
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3180 docs: add use cases to intro page
  docs/docs/index.md
Labels: documentation

#3187 docs: add Example section to KeptnTask CRD ref
  docs/docs/reference/crd-reference/task.md
Labels: documentation

#3172 chore: use binding in keptn metric test
  .github/workflows/integration-test.yml
  test/chainsaw/integration/expose-keptn-metric/chainsaw-test.yaml
  test/chainsaw/integration/expose-keptn-metric/job-existing-metric.yaml
  test/chainsaw/integration/expose-keptn-metric/job-no-metric.yaml
Labels: ops

#3190 chore: increase CLOMonitor score
  .github/actions/spelling/expect.txt
  .github/workflows/scorecard.yml
  README.md
  SECURITY-INSIGHTS.yml
Labels: documentation, ops

#3193 chore: add roadmap headline to readme
  README.md
Labels: documentation

#3034 docs: document formatting quirks of MkDocs and markdownlint
  .github/actions/spelling/expect.txt
  docs/docs/contribute/docs/code-docs.md
  docs/docs/contribute/docs/source-file-structure.md
  mkdocs.yml
Labels: documentation, ops

#3210 docs: corrected grammatical error in Keptn Metrics
  docs/docs/getting-started/metrics.md
Labels: documentation

#3205 chore: pin GHA deps, set default readonly in GHA
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/github-repo-stats.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/htmltest.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/release-examples.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/set-date.yml
  .github/workflows/spell-checker.yml
  .github/workflows/stale.yml
  .github/workflows/update-labels.yml
  .github/workflows/validate-helm-chart.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/yaml-checks.yaml
Labels: ops

#3213 docs: create tutorial for Keptn contributions with GitHub Codespaces
  docs/docs/contribute/general/codespace.md
Labels: documentation

#3218 chore: bump Go base images and pipelines version to 1.21
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .golangci.yml
  keptn-cert-manager/Dockerfile
  lifecycle-operator/Dockerfile
  metrics-operator/Dockerfile
  scheduler/Dockerfile
Labels: ops, scheduler, metrics-operator, cert-manager, lifecycle-operator

#3219 docs: correct container image reference to dockerhub
  docs/docs/contribute/software/dev-environ.md
Labels: documentation

#3227 docs: remove duplicated sections from README
  README.md
  docs/docs/contribute/software/dev-environ.md
Labels: documentation

#3229 ci: pin GHA deps correctly for renovate
  .github/actions/deploy-keptn-on-cluster/action.yml
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/github-repo-stats.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/htmltest.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/release-examples.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/spell-checker.yml
  .github/workflows/stale.yml
  .github/workflows/update-labels.yml
  .github/workflows/validate-helm-chart.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/yaml-checks.yaml
Labels: ops

#3211 test: introduce integration test for OTel collector
  .github/actions/spelling/expect.txt
  Makefile
  test/chainsaw/traces/00-assert.yaml
  test/chainsaw/traces/00-install.yaml
  test/chainsaw/traces/chainsaw-test.yaml
  test/chainsaw/traces/collector.yaml
  test/chainsaw/traces/keptnconfig.yaml
  test/chainsaw/traces/verify-traces.sh
Labels: ops

#3230 fix: security vulnerabilities
  keptn-cert-manager/go.mod
  keptn-cert-manager/go.sum
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  metrics-operator/go.mod
  metrics-operator/go.sum
  scheduler/go.mod
  scheduler/go.sum
Labels: scheduler, metrics-operator, cert-manager, lifecycle-operator

#3249 chore: remove not found docker repo
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/values.yaml
Labels: ops

#3247 fix(helm-chart): introduce cert volumes to metrics and lifecycle operators
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  lifecycle-operator/chart/templates/deployment.yaml
  lifecycle-operator/config/manager/manager.yaml
  metrics-operator/chart/templates/deployment.yaml
  metrics-operator/config/manager/manager.yaml
Labels: ops, metrics-operator, lifecycle-operator

#3252 ci: pin some more github actions to specific versions
  .github/workflows/CI.yaml
  .github/workflows/component-test.yml
  .github/workflows/e2e-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/htmltest.yaml
  .github/workflows/integration-test.yml
  .github/workflows/load-test.yml
  .github/workflows/markdown-checks.yaml
  .github/workflows/release-examples.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/validate-helm-chart.yml
  .github/workflows/yaml-checks.yaml
Labels: ops

#3209 docs: new blog post for release candidate
  .github/actions/spelling/expect.txt
  docs/blog/.authors.yml
  docs/blog/posts/stable-release-announcement.md
Labels: documentation, ops

#3256 docs: deploy Keptn via ArgoCD
  .github/actions/spelling/expect.txt
  docs/docs/installation/configuration/argocd.md
  docs/docs/installation/configuration/assets/argo-app.yaml
  docs/docs/installation/configuration/assets/argo-keptn.png
  docs/docs/installation/index.md
  docs/docs/installation/troubleshooting.md
  mkdocs.yml
Labels: documentation, ops

#3068 chore: bump elastic/crd-ref-docs to 0.0.11 to enable validation field in docs
  .github/scripts/generate-crd-docs/generate-crd-docs.sh
  .github/scripts/generate-crd-docs/templates/type.tpl
  docs/docs/reference/api-reference/lifecycle/v1alpha1/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha2/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha3/index.md
  docs/docs/reference/api-reference/lifecycle/v1alpha4/index.md
  docs/docs/reference/api-reference/lifecycle/v1beta1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha2/index.md
  docs/docs/reference/api-reference/metrics/v1alpha3/index.md
  docs/docs/reference/api-reference/metrics/v1beta1/index.md
  docs/docs/reference/api-reference/options/v1alpha1/index.md
Labels: documentation, on hold, ops

#3267 docs: add glasskube keptn integration blog post
  .github/actions/spelling/expect.txt
  docs/blog/.authors.yml
  docs/blog/install-keptn-with-glasskube/glasskube-keptn-success.png
  docs/blog/install-keptn-with-glasskube/glasskube-keptn.png
  docs/blog/install-keptn-with-glasskube/glasskube.png
  docs/blog/posts/glasskube-keptn.md
Labels: documentation, ops

#3276 fix(python-runtime): bump libexpat to v2.6.2
  docs/docs/contribute/docs/linter-requirements.md
  runtimes/python-runtime/Dockerfile
Labels: documentation

#3257 docs: implemented steps from tutorial video on Codespaces page
  docs/docs/contribute/general/codespace.md
Labels: documentation

#3287 docs: add info and example about metadata k/v list
  docs/docs/guides/metadata.md
Labels: documentation

#3286 docs: add missing span link to example
  docs/docs/guides/assets/multi-stage-delivery/application-production.yaml
  docs/docs/guides/multi-stage-application-delivery.md
Labels: documentation

#3284 test: introduce workflow to test integration with cert-manager.io
  .github/actions/deploy-keptn-on-cluster/action.yml
  .github/actions/deploy-keptn-on-cluster/certificate.yaml
  .github/actions/deploy-keptn-on-cluster/values-cert-manager-io.yaml
  .github/workflows/CI.yaml
  .github/workflows/integration-test.yml
  Makefile
Labels: ops

#3294 docs: reduce blogpost title length to fit into social card
  docs/blog/posts/stable-release-announcement.md
  mkdocs.yml
Labels: documentation

#3292 feat(lifecycle-operator): add namespace to `deploymentduration` metrics
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnappversion_types_test.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types.go
  lifecycle-operator/apis/lifecycle/v1beta1/keptnworkloadversion_types_test.go
Labels: lifecycle-operator

#3290 fix(lifecycle-operator): remove noops tracer for evaluations
  lifecycle-operator/controllers/lifecycle/keptnappversion/reconcile_prepostevaluation.go
  lifecycle-operator/controllers/lifecycle/keptnworkloadversion/reconcile_prepostevaluation.go
  lifecycle-operator/main.go
  lifecycle-operator/test/component/appversion/appversion_suite_test.go
  lifecycle-operator/test/component/workloadversion/workloadversion_suite_test.go
Labels: lifecycle-operator

#3291 docs: remove outdated architecture section from readme
  README.md
  assets/architecture.png
Labels: documentation

#3295 deps: bump python and deno runtimes to latest version
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/values.yaml
Labels: documentation, ops, lifecycle-operator

#3297 chore: introduce script to re-generate helm results
  .github/scripts/generate-helm-results.sh
  .github/scripts/helm-test.sh
  .github/scripts/helm-utils.sh
  .github/workflows/validate-helm-chart.yml
  Makefile
Labels: ops

#3303 chore: bump helm charts versions
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, cert-manager, lifecycle-operator

#3293 docs: adapt goals of Keptn in README
  README.md
Labels: documentation

#3312 docs: replace reference to version with revision in App CRDRef
  docs/docs/reference/crd-reference/app.md
Labels: documentation

#3266 feat(metrics-operator): introduce v1 API version
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  .sonarcloud.properties
  README.md
  chart/Chart.yaml
  docs/docs/reference/api-reference/metrics/v1/index.md
  metrics-operator/PROJECT
  metrics-operator/api/v1/analysis_types.go
  metrics-operator/api/v1/analysis_types_test.go
  metrics-operator/api/v1/analysisdefinition_types.go
  metrics-operator/api/v1/analysisdefinition_types_test.go
  metrics-operator/api/v1/analysisvaluetemplate_types.go
  metrics-operator/api/v1/common.go
  metrics-operator/api/v1/common_test.go
  metrics-operator/api/v1/groupversion_info.go
  metrics-operator/api/v1/keptnmetric_types.go
  metrics-operator/api/v1/keptnmetric_types_test.go
  metrics-operator/api/v1/keptnmetricsprovider_types.go
  metrics-operator/api/v1/keptnmetricsprovider_types_test.go
  metrics-operator/api/v1/zz_generated.deepcopy.go
  metrics-operator/chart/templates/analysis-crd.yaml
  metrics-operator/chart/templates/analysisdefinition-crd.yaml
  metrics-operator/chart/templates/analysisvaluetemplate-crd.yaml
  metrics-operator/chart/templates/keptnmetric-crd.yaml
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisdefinitions.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisvaluetemplates.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/config/samples/metrics_v1_analysis.yaml
  metrics-operator/config/samples/metrics_v1_analysisdefinition.yaml
  metrics-operator/config/samples/metrics_v1_analysisvaluetemplate.yaml
  metrics-operator/config/samples/metrics_v1_keptnmetric.yaml
  metrics-operator/config/samples/metrics_v1_keptnmetricsprovider.yaml
  mkdocs.yml
Labels: documentation, on hold, ops, metrics-operator

#3320 docs: improve CRD reference intro paragraphs
  docs/docs/reference/crd-reference/analysis.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/app.md
  docs/docs/reference/crd-reference/appcontext.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/metric.md
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/reference/crd-reference/task.md
  docs/docs/reference/crd-reference/taskdefinition.md
Labels: documentation

#3314 docs: move webhook section from README to docs
  README.md
  docs/docs/components/lifecycle-operator/webhook.md
  mkdocs.yml
Labels: documentation

#3321 docs: fix missing registry and selector from example podtatohead
  docs/docs/guides/assets/auto-app-discovery/deployments.yaml
Labels: documentation

#3322 docs: remove details docs intro, fix some links
  README.md
Labels: documentation

#3270 chore(metrics-operator): cleanup APIs
  metrics-operator/api/v1beta1/analysis_types.go
  metrics-operator/api/v1beta1/analysis_types_test.go
  metrics-operator/api/v1beta1/analysisdefinition_types.go
  metrics-operator/api/v1beta1/analysisdefinition_types_test.go
  metrics-operator/api/v1beta1/common.go
  metrics-operator/api/v1beta1/common_test.go
  metrics-operator/api/v1beta1/keptnmetric_types.go
  metrics-operator/api/v1beta1/keptnmetric_types_test.go
  metrics-operator/api/v1beta1/keptnmetricsprovider_types.go
  metrics-operator/api/v1beta1/keptnmetricsprovider_types_test.go
Labels: metrics-operator

#3324 docs: remove install/upgrade info using manifests
  docs/docs/installation/index.md
  docs/docs/installation/upgrade.md
Labels: documentation

#3323 docs: move to v1 metrics API
  docs/docs/assets/crd/analysis-definition.yaml
  docs/docs/assets/crd/analysis-template.yaml
  docs/docs/assets/crd/analysis.yaml
  docs/docs/assets/crd/examples/yaml-synopsis.yaml
  docs/docs/assets/crd/metric.yaml
  docs/docs/components/metrics-operator.md
  docs/docs/contribute/software/add-new-metric-provider.md
  docs/docs/contribute/software/assets/example-code/placeholder-code-example.go
  docs/docs/getting-started/assets/metric-providers.yaml
  docs/docs/getting-started/assets/metric.yaml
  docs/docs/getting-started/metrics.md
  docs/docs/guides/assets/metric-providers.yaml
  docs/docs/guides/assets/metric.yaml
  docs/docs/guides/evaluatemetrics.md
  docs/docs/guides/slo.md
  docs/docs/migrate/keptn/metrics-observe.md
  docs/docs/reference/crd-reference/analysis.md
  docs/docs/reference/crd-reference/analysisdefinition.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/assets/keptnmetricsprovider-datadog.yaml
  docs/docs/reference/crd-reference/assets/keptnmetricsprovider-dynatrace.yaml
  docs/docs/reference/crd-reference/assets/keptnmetricsprovider-prometheus.yaml
  docs/docs/reference/crd-reference/metric.md
  docs/docs/use-cases/assets/hpa/hpa.yaml
  docs/docs/use-cases/assets/hpa/keptnmetric.yaml
  docs/docs/use-cases/hpa.md
  examples/sample-app/base/metric.yaml
  examples/sample-app/base/provider.yaml
  examples/support/analysis/README.md
  examples/support/metrics/README.md
  examples/support/metrics/hpa.yaml
  examples/support/metrics/metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/available-cpus-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/consumed-memory-metric.yaml
  examples/support/observability/assets/podtatohead-deployment-evaluation/metricsprovider.yaml
Labels: documentation

#3246 docs: fix info about %include for sample files
  docs/docs/contribute/docs/code-docs.md
  docs/docs/contribute/docs/contrib-guidelines-docs.md
Labels: bug, documentation

#3285 docs: how to create a blog post
  .github/actions/spelling/expect.txt
  docs/docs/contribute/docs/blog.md
  mkdocs.yml
Labels: documentation, ops

#3348 docs: fix some readme links
  README.md
Labels: documentation

#3342 docs: improve landing pages for Contrib Guide
  docs/docs/contribute/general/contrib-guidelines-gen.md
  docs/docs/contribute/general/git/branch-create.md
  docs/docs/contribute/general/git/fork-clone.md
  docs/docs/contribute/general/git/index.md
  docs/docs/contribute/general/git/pr-create.md
  docs/docs/contribute/general/git/review.md
  docs/docs/contribute/general/index.md
  docs/docs/contribute/index.md
  docs/docs/contribute/software/index.md
Labels: documentation

#3349 docs: add use case page for KEDA
  .github/actions/spelling/expect.txt
  .markdownlint-cli2.yaml
  docs/docs/use-cases/assets/keda/k-describe-metric.txt
  docs/docs/use-cases/assets/keda/k-describe-scaledobject.txt
  docs/docs/use-cases/assets/keda/k-get-pods-result.txt
  docs/docs/use-cases/assets/keda/keptnmetric.yaml
  docs/docs/use-cases/assets/keda/keptnmetricsprovider.yaml
  docs/docs/use-cases/assets/keda/sample-app.yaml
  docs/docs/use-cases/assets/keda/sample-service.yaml
  docs/docs/use-cases/assets/keda/scaledobject.yaml
  docs/docs/use-cases/hpa.md
  docs/docs/use-cases/keda.md
  mkdocs.yml
Labels: documentation, ops

#3335 docs: add namespace restriction info
  README.md
  docs/docs/installation/configuration/index.md
  docs/docs/installation/configuration/namespace-keptn.md
  docs/docs/installation/configuration/namespace-resources.md
  docs/docs/installation/configuration/namespace.md
  docs/docs/installation/index.md
  mkdocs.yml
Labels: documentation

#3357 docs: fix local docs link in contrib guide
  docs/docs/contribute/general/git/branch-create.md
Labels: documentation

#3358 feat: add Thanos metrics provider
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  docs/docs/assets/crd/examples/yaml-synopsis.yaml
  docs/docs/components/metrics-operator.md
  docs/docs/contribute/software/add-new-metric-provider.md
  docs/docs/core-concepts/index.md
  docs/docs/getting-started/metrics.md
  docs/docs/installation/k8s.md
  docs/docs/migrate/keptn/strategy.md
  docs/docs/reference/api-reference/metrics/v1/index.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/evaluationdefinition.md
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/use-cases/non-k8s.md
  metrics-operator/api/v1/keptnmetricsprovider_types.go
  metrics-operator/api/v1/keptnmetricsprovider_types_test.go
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/controllers/common/providers/common.go
  metrics-operator/controllers/common/providers/prometheus/prometheus.go
  metrics-operator/controllers/common/providers/prometheus/prometheus_test.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/controllers/common/providers/provider_test.go
Labels: documentation, ops, metrics-operator

#3368 docs: move golangci-lint info to contribute/software
  docs/docs/contribute/docs/contrib-guidelines-docs.md
  docs/docs/contribute/docs/markdownlint.md
  docs/docs/contribute/software/golangci-lint.md
  docs/docs/contribute/software/index.md
  mkdocs.yml
Labels: documentation
