Repository keptn/lifecycle-toolkit, pull requests merged in 2024-07, with the labels that each got.

#3580 docs: added container section
  docs/docs/contribute/general/technologies.md
  docs/docs/guides/otel.md
Labels: documentation

#3581 chore: introduce unit test for non-blocking lifecycle operator mode
  lifecycle-operator/controllers/lifecycle/keptnappversion/controller_test.go
Labels: lifecycle-operator

#3613 docs: add troubleshooting section for installation of custom metrics API Service
  docs/docs/getting-started/metrics.md
  docs/docs/installation/troubleshooting.md
  metrics-operator/chart/README.md
  metrics-operator/chart/values.yaml
Labels: documentation, metrics-operator

#3620 feat(lifecycle-operator): introduce RestApiEnabled parameter in KeptnConfig
  docs/docs/reference/api-reference/options/v1alpha1/index.md
  lifecycle-operator/apis/options/v1alpha1/keptnconfig_types.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcontexts.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappcreationrequests.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnapps.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnappversions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluationproviders.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnevaluations.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntasks.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadinstances.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloads.yaml
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptnworkloadversions.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
Labels: documentation, lifecycle-operator
