Repository keptn/lifecycle-toolkit, pull requests merged in 2024-08, with the labels that each got.

#3640 chore: regenerate manifests
  metrics-operator/config/crd/bases/metrics.keptn.sh_analyses.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisdefinitions.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_analysisvaluetemplates.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetrics.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
Labels: metrics-operator

#3421 chore: attest provenance for images
  .github/workflows/release.yml
Labels: ops

#3143 test: enhance test coverage for keptn-cert-manager
  keptn-cert-manager/eventfilter/eventfilter_test.go
  keptn-cert-manager/kubeutils/certificates_test.go
  keptn-cert-manager/kubeutils/secret_test.go
  keptn-cert-manager/pkg/certificates/watcher_test.go
Labels: cert-manager

#3647 docs: fix some broken links
  .github/scripts/generate-crd-docs/crd-docs-generator-config-lifecycle-v1alpha4.yaml
  .github/scripts/generate-crd-docs/crd-docs-generator-config.yaml
  docs/docs/getting-started/lifecycle-management.md
  docs/docs/reference/api-reference/metrics/v1/index.md
  docs/docs/reference/api-reference/metrics/v1alpha3/index.md
  docs/docs/reference/api-reference/metrics/v1beta1/index.md
Labels: documentation, ops

#3652 deps: update k8s to v1.29.7
  keptn-cert-manager/go.mod
  keptn-cert-manager/go.sum
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: metrics-operator, cert-manager, lifecycle-operator

#3655 deps: update python and deno runtimes
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  lifecycle-operator/chart/README.md
  lifecycle-operator/chart/values.yaml
Labels: documentation, ops, lifecycle-operator

#3656 deps: migrate to new release-please-action repo
  .github/actions/spelling/expect.txt
  .github/workflows/release.yml
Labels: ops

#3657 chore: bump keptn-cert-manager chart version
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/certificates-only/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  keptn-cert-manager/chart/Chart.yaml
Labels: ops, cert-manager

#3659 deps: bump keptn-cert-manager to latest version
  lifecycle-operator/go.mod
  lifecycle-operator/go.sum
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: metrics-operator, lifecycle-operator

#3660 chore: bump metrics-operator chart version
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator

#3662 chore: backport helm chart versions
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, lifecycle-operator

#3653 feat(lifecycle-operator): keptn-gateway container deployment
  .github/actions/spelling/expect.txt
  Makefile
  docs/docs/reference/api-reference/options/v1alpha1/index.md
  keptn-gateway/Makefile
  lifecycle-operator/apis/options/v1alpha1/keptnconfig_types.go
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/config/crd/bases/options.keptn.sh_keptnconfigs.yaml
  lifecycle-operator/config/rbac/role.yaml
  lifecycle-operator/controllers/common/config/config.go
  lifecycle-operator/controllers/common/config/fake/config_mock.go
  lifecycle-operator/controllers/options/keptnconfig_controller.go
  lifecycle-operator/controllers/options/keptnconfig_controller_test.go
  lifecycle-operator/main.go
Labels: documentation, ops, lifecycle-operator

#3682 fix(keptn-gateway): service not working as expected
  .github/workflows/validate-semantic-pr.yml
  lifecycle-operator/config/rbac/role.yaml
  lifecycle-operator/controllers/options/keptnconfig_controller.go
Labels: ops, lifecycle-operator

#3683 fix(lifecycle-operator): update ownerReference when updating KeptnWorkload
  .github/actions/spelling/expect.txt
  lifecycle-operator/config/crd/bases/lifecycle.keptn.sh_keptntaskdefinitions.yaml
  lifecycle-operator/webhooks/pod_mutator/handlers/workload.go
  lifecycle-operator/webhooks/pod_mutator/handlers/workload_test.go
  test/chainsaw/integration/simple-deployment-revisionhistorylimit/00-assert.yaml
  test/chainsaw/integration/simple-deployment-revisionhistorylimit/00-install.yaml
  test/chainsaw/integration/simple-deployment-revisionhistorylimit/01-assert.yaml
  test/chainsaw/integration/simple-deployment-revisionhistorylimit/01-install.yaml
  test/chainsaw/integration/simple-deployment-revisionhistorylimit/chainsaw-test.yaml
Labels: ops, lifecycle-operator

#3711 feat(metrics-operator): introduce insecureSkipTlsVerify parameter
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  docs/docs/reference/api-reference/metrics/v1/index.md
  metrics-operator/api/v1/keptnmetricsprovider_types.go
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/controllers/analysis/fake/evaluator_mock.go
  metrics-operator/controllers/analysis/objectives_evaluator.go
  metrics-operator/controllers/analysis/objectives_evaluator_test.go
  metrics-operator/controllers/analysis/provider_selector.go
  metrics-operator/controllers/analysis/provider_selector_test.go
  metrics-operator/controllers/common/providers/dynatrace/dynatrace_dql.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/controllers/common/providers/provider_test.go
  metrics-operator/controllers/metrics/controller.go
  metrics-operator/controllers/metrics/controller_test.go
Labels: documentation, ops, metrics-operator

#3713 chore: update helm chart versions
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/lifecycle-only/result.yaml
  .github/scripts/.helm-tests/lifecycle-with-certs/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  lifecycle-operator/chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator, lifecycle-operator
