Repository keptn/lifecycle-toolkit, pull requests merged in 2025-03, with the labels that each got.

#3890 feat: adding Elastic as a metrics provider
  .github/actions/spelling/expect.txt
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  docs/docs/assets/crd/examples/yaml-synopsis.yaml
  docs/docs/components/metrics-operator.md
  docs/docs/contribute/software/add-new-metric-provider.md
  docs/docs/core-concepts/index.md
  docs/docs/getting-started/metrics.md
  docs/docs/installation/k8s.md
  docs/docs/migrate/keptn/strategy.md
  docs/docs/reference/api-reference/metrics/v1/index.md
  docs/docs/reference/crd-reference/analysisvaluetemplate.md
  docs/docs/reference/crd-reference/assets/keptnmetricsprovider-elastic.yaml
  docs/docs/reference/crd-reference/metricsprovider.md
  docs/docs/use-cases/non-k8s.md
  metrics-operator/api/v1/keptnmetricsprovider_types.go
  metrics-operator/api/v1/keptnmetricsprovider_types_test.go
  metrics-operator/chart/templates/keptnmetricsprovider-crd.yaml
  metrics-operator/config/crd/bases/metrics.keptn.sh_keptnmetricsproviders.yaml
  metrics-operator/controllers/analysis/provider_selector_test.go
  metrics-operator/controllers/common/providers/common.go
  metrics-operator/controllers/common/providers/elastic/elastic.go
  metrics-operator/controllers/common/providers/elastic/elastic_test.go
  metrics-operator/controllers/common/providers/provider.go
  metrics-operator/controllers/common/providers/provider_test.go
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: documentation, ops, metrics-operator

#3895 deps: update golang.org/x/crypto packages
  metrics-operator/go.mod
  metrics-operator/go.sum
Labels: metrics-operator

#3899 chore: bump metrics-operator Helm chart
  .github/scripts/.helm-tests/Openshift/result.yaml
  .github/scripts/.helm-tests/default/result.yaml
  .github/scripts/.helm-tests/local-global-precedence/result.yaml
  .github/scripts/.helm-tests/metrics-only-with-apiservice-disabled/result.yaml
  .github/scripts/.helm-tests/metrics-only/result.yaml
  .github/scripts/.helm-tests/metrics-with-certs/result.yaml
  chart/Chart.lock
  chart/Chart.yaml
  metrics-operator/chart/Chart.yaml
Labels: ops, metrics-operator

#3903 docs: correct match selector section in auto app discovery guide
  docs/docs/guides/assets/auto-app-discovery/deployments.yaml
Labels: documentation

#3904 fix: fix a bug when elastic as a provider
  metrics-operator/controllers/common/providers/elastic/elastic.go
  metrics-operator/controllers/common/providers/elastic/elastic_test.go
Labels: metrics-operator
